@charset "utf-8";
/* Base Theme - EC Cart shipping CSS Document */
.ec_cart_shipping_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.ec_cart_shipping_title {
	width: 100%;
	float: left;
	color: [title_color];
	font-size: 28px;
	text-align: left;
	margin-bottom: 7px;
	font-family:[title_font];
}
.ec_cart_shipping_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_shipping_row .ec_cart_shipping_label {
	width: 120px;
	line-height:28px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height:28px;
	color: [text_color];
}
.ec_cart_shipping_row .ec_cart_shipping_input {
	float: left;
	text-align: left;
}

.ec_cart_shipping_row .ec_cart_shipping_input {
}

.ec_cart_shipping_row .ec_cart_shipping_input_text {
	width: 220px;
}

.ec_cart_shipping_row_error {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_shipping_row_error .ec_cart_shipping_label {
	width: 100px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height:28px;
	color: [text_color];
}
.ec_cart_shipping_row_error .ec_cart_shipping_input {
	width: 220px;
	float: left;
	text-align: left;
}
.ec_cart_shipping_row_error .ec_cart_shipping_input_text {
	width: 220px;
	background-color: [error_color];
	border: 1px solid [error_color2];
	color:[error_text];
}
.ec_cart_shipping_row_error .ec_cart_shipping_input select{
	width:225px;	
}
/* END EC CART shipping STYLE*/
