@charset "utf-8";
/* Base Theme - Filter Bar CSS Document */
.ec_featured_product {
	margin-top: 10px;
	width:186px;
}

.ec_featured_product.prod1{
	float:left;
	margin-right:1%;

}
.ec_featured_product.prod2{
	float:left;
	margin-left:1%;
	margin-right:1%;
}
.ec_featured_product.prod3{
	float:left;
	margin-left:1%;
	margin-right:1%;
}
.ec_featured_product.prod4{
	float:right;
	margin-left:1%;
}
.ec_featured_product_image .ec_product_image img{ max-width:186px; max-height:186px; }

.ec_featured_product_image{
	float:left; width:186px; max-width:186px; max-height:186px; height:186px;
}

.ec_featured_product_image a{
	float:left; width:186px; max-width:186px; max-height:186px; height:186px;
}

.ec_featured_product_image {
	float: left;
	max-height:186px;
	max-width:186px;
}
.ec_featured_product_title {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.ec_featured_product_price {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 3px;
}
.ec_featured_product_price .ec_product_price {
	float: left;
	text-align: left;
	font-size: 12px;
}
.ec_featured_product_price .ec_product_old_price {
	float: left;
	text-align: left;
	font-size: 12px;
	margin-top: 5px;
	width:0;
}
.ec_featured_product_price .ec_product_sale_price {
	float: left;
	text-align: left;
	font-size: 12px;
	width:0;
}
.ec_featured_product_rating {
	float: left;
	width: 100%;
	margin-top: 3px;
}
.ec_featured_product_rating_stars {
	float: left;
}
.ec_featured_product_rating_num_ratings {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	font-size: 11px;
}
@media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
.ec_featured_product {
	margin-top: 10px;
	width:150px;
}	

.ec_featured_product_image {
	max-height:150px;
	max-width:150px;
}
.ec_featured_product_image .ec_product_image img{ max-width:150px; max-height:150px; width:150px; height:150px; }

.ec_featured_product_image{
	float:left; width:150px; max-width:150px; max-height:150px; height:150px;
}

.ec_featured_product_image a{
	float:left; width:150px; max-width:150px; max-height:150px; height:150px;
}
.ec_featured_product.prod1{
	float:left;
	

}
.ec_featured_product.prod2{
	float:left;
	margin-left:4px;
	margin-right:8px;
	
}
.ec_featured_product.prod3{
	float:left;
	margin-left:5px;
	
	
}
.ec_featured_product.prod4{
	float:right;
	margin-right:4px;
	margin-left:0px;
	
}
}
@media only screen and ( max-width: [size_level2_high]px ) {
.ec_featured_product {
	margin-top: 10px;
	width:190px;
}	

.ec_featured_product_image {
	max-height:186px;
	max-width:186px;
}
.ec_featured_product_image .ec_product_image img{ max-width:186px; max-height:186px; width:186px; height:186px; }

.ec_featured_product_image{
	float:left; width:186px; max-width:186px; max-height:186px; height:186px;
}

.ec_featured_product_image a{
	float:left; width:186px; max-width:186px; max-height:186px; height:186px;
}
.ec_featured_product.prod1{
	float:left;
	margin-right:0px;

}
.ec_featured_product.prod2{
	float:right;
	margin-left:0px;
	margin-right:0px;
}
.ec_featured_product.prod3{
	float:left;
	margin-left:0px;
	margin-right:0px;
}
.ec_featured_product.prod4{
	float:right;
	margin-left:0px;
}
}

@media only screen and ( max-width: [size_level1_high]px ) {
.ec_featured_product {
	margin-top: 10px;
	width:256px;
}	

.ec_featured_product_image {
	max-height:256px;
	max-width:256px;
}
.ec_featured_product_image .ec_product_image img{ max-width:256px; max-height:256px; width:256px; height:256px; }

.ec_featured_product_image{
	float:left; width:256px; max-width:256px; max-height:256px; height:256px;
}

.ec_featured_product_image a{
	float:left; width:256px; max-width:256px; max-height:256px; height:256px;
}
.ec_featured_product.prod1{
	float:left;
	margin-bottom:20px;
	

}
.ec_featured_product.prod2{
	float:left;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
}
.ec_featured_product.prod3{
	float:left;
	margin-bottom:20px;
	
}
.ec_featured_product.prod4{
	float:left;
	margin-left:0px;
	
}
}
/* END SORT BAR STYLE*/ 