@charset "utf-8";
/* Base Theme - EC Cart Contact Information CSS Document */
.ec_cart_contact_information_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCC;
}
.ec_cart_contact_information_title {
	width: 100%;
	float: left;
	color: [title_color];
	font-size: 28px;
	text-align: left;
	margin-bottom: 7px;
	font-family:[title_font];
}
.ec_cart_contact_information_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_contact_information_label {
	width: 120px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height:28px;
	color: [text_color];
}
.ec_cart_contact_information_input {
	width: 200px;
	float: left;
	text-align: left;
	font-family: [content_font];
	font-size: 12px;
}
.ec_cart_contact_information_input input[type="checkbox"] {
	margin-top: 11px;
}
.ec_cart_contact_information_input input[type="password"] {
	margin-top: 9px;
}
.ec_cart_contact_information_input_text {
	width: 220px;
}
.ec_cart_contact_information_row_error {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_contact_information_row_error .ec_cart_contact_information_label {
	width: 120px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height:28px;
	color: [text_color];
}
.ec_cart_contact_information_row_error .ec_cart_contact_information_input {
	width: 220px;
	float: left;
	text-align: left;
}
.ec_cart_contact_information_row_error .ec_cart_contact_information_input_text {
	width: 220px;
	background-color: [error_color];
	border: 1px solid [error_color2];
	color:[error_text];
}


/* END EC CART CONTACT INFORMATION STYLE*/
