@charset "utf-8";
/* Base Theme - EC Cart Item CSS Document */
.ec_cart_item {
	width: 100%;
	border-bottom: 1px solid #CCC;
	float: left;
}
.ec_cart_item_title {
	font-size: 12px;
	color: [title_color];
	font-weight: bold;
	font-family: [title_font];
	margin-bottom: 5px;
}
.ec_cart_item_title a {
	color: [link_color] !important;
}
.ec_cart_item_title a:hover {
	color: [link_hover_color] !important;
	text-decoration: none;
}
.ec_cart_item_option {
	font-size: 11px;
	color: [text_color];
	line-height: 15px;
	text-align: left;
	font-family: [content_font];
}
.ec_cart_item_unit_price {
	font-size: 12px;
	color: [text_color];
	font-family: [content_font];
	font-weight: bold;
}
.ec_cart_item_total_price {
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
	color:[main_color];
	font-family:[content_font];
}
.ec_cart_item_quantity_box {
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
}
.ec_cart_item_quantity_box input[type="number"]{
	width:50px;
	text-align:center;
}
.ec_cart_item_update_button input[type="submit"] {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: right;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	background-color:[main_color] !important;
	background:[main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:0px;
	padding:6px 10px;
	background-image:none;
	box-shadow:none;
	min-width:70px;
}
.ec_cart_item_update_button input[type="submit"]:hover {
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}
.ec_cart_item_update_button input[type="submit"]:active{
	padding:6px 10px;
}
.ec_cart_item_delete_button input[type="submit"] {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: right;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	background-color:[main_color] !important;
	background:[main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:0px;
	padding:6px 10px;
	background-image:none;
	box-shadow:none;
	min-width:70px;
}
.ec_cart_item_delete_button input[type="submit"]:hover {
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}
.ec_cart_item_delete_button input[type="submit"]:active{
	padding:6px 10px;
}
.ec_cart_item_loader {
	display: none;
}

.ec_cart_item_unit_price .ec_product_old_price{
	text-align:center;
	color:[second_color];
}
.ec_cart_item_column1 {
	width: 14%;
	float: left;
	text-align: left;
	margin-left: 10px;
}
.ec_cart_item_column1 img{
	max-width:95% !important;
	margin-bottom:5px;
}
.ec_cart_item_column2 {
	width: 27%;
	float: left;
	text-align: left;
	margin-top:12px;
}
.ec_cart_item_column2 div {
	width: 100%;
	float: left;
	text-align: left;

}
.ec_cart_item_column3 {
	width: 12%;
	float: left;
	text-align: center;
	margin-top:12px;
	
}
.ec_cart_item_column4 {
	width: 12%;
	float: left;
	text-align: center;
	margin-top:7px;
}
.ec_cart_item_column4 input[type="text"] {
	width: 50px;
	text-align: center;
}
.ec_cart_item_column5 {
	width: 13%;
	float: left;
	text-align: center;
	margin-top:12px;
	
}
.ec_cart_item_column6 {
	width: 19%;
	float: left;
	text-align: right;
	margin-top:12px;
	
}
/* END EC CART ITEM STYLE*/