@charset "utf-8";
/* Base Theme - EC Cart Page CSS Document */
.ec_cart_page_cart {
	text-align: center;
	margin-top: 30px;
}
.ec_cart_error {
	width: 100%;
	float: left;
	text-align: center;
	padding: 15px;
	background-color:[error_color];
	color: [error_text];
	font-size: 14px;
	font-weight: bold;
	font-family: [content_font];
	border: 1px solid [error_color2];

}
.ec_cart_success {
	width: 100%;
	float: left;
	text-align: center;
	background-color: [third_color];
	color: [text_color];
	font-size: 14px;
	font-weight: bold;
	font-family: [content_font];
	border:1px solid [main_color];
	margin-top: 10px;
}

.ec_cart_success div{
	padding: 15px;
}

.ec_cart_page_left {
	width: 50%;
	float: left;
}
.ec_cart_page_right {
	width: 50%;
	float: right;
}

.ec_cart_page_continue_to_shipping_button {
	width: 100%;
	float: left;
}
.ec_cart_continue_to_shipping_button {
	-webkit-appearance:none;
	margin-top: 4px;
	min-width: 100px;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: bold 12px/1.2 [content_font]!important;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #CCC;
}
.ec_cart_continue_to_shipping_button:hover {
	cursor: pointer;
	color: [link_hover_color];
}
.ec_cart_page_continue_to_payment_button {
	width: 100%;
	float: left;
}
.ec_cart_continue_to_payment_button {
	-webkit-appearance:none;
	margin-top: 4px;
	min-width: 100px;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: bold 12px/1.2 [content_font]!important;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #CCC;
}
.ec_cart_continue_to_payment_button:hover {
	cursor: pointer;
	color: [link_hover_color];
}
.ec_cart_submit_order_message {
	width: 100%;
	float: left;
	font-size: 12px;
	font-family: [content_font];
	text-align: left;
	margin-bottom: 10px;
}
.ec_cart_page_submit_order_button {
	width: 100%;
	float: left;
}
.ec_cart_submit_order_button {
	-webkit-appearance:none;
	margin-top: 4px;
	min-width: 100px;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: bold 12px/1.2 [content_font]!important;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #CCC;
}
.ec_cart_submit_order_button:hover {
	cursor: pointer;
	color: [link_hover_color];
}

/* END EC CART PAGE STYLE*/
