@charset "utf-8";
/* Base Theme - EC Cart Billing CSS Document */
.ec_cart_billing_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.ec_cart_billing_title {
	width: 100%;
	float: left;
	color: #333;
	font-size: 28px;
	text-align: left;
	margin-bottom: 7px;
	font-family:[title_font];
}
.ec_cart_billing_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_billing_row .ec_cart_billing_label {
	width: 100px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	margin-top: 12px;
	color: #333;
}
.ec_cart_billing_row .ec_cart_billing_input {
	float: left;
	text-align: left;
}

.ec_cart_billing_row .ec_cart_billing_input {
	width: 220px;
}


.ec_cart_billing_row .ec_cart_billing_input_text {
	width: 200px;
}

.ec_cart_shipping_selector_row {
	width:300px;
	margin-top: 5px;
	text-align: left;
	font-size: 12px;
	font-family: [content_font];
	padding-left: 115px;
}

.ec_cart_shipping_selector_row_hidden {
	display: none;
}
.ec_cart_billing_row_error {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_billing_row_error .ec_cart_billing_label {
	width: 100px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	margin-top: 12px;
	color: [error_text];
}
.ec_cart_billing_row_error .ec_cart_billing_input {
	width: 220px;
	float: left;
	text-align: left;
}
.ec_cart_billing_row_error .ec_cart_billing_input_text {
	width: 200px;
	background-color: [error_color];
	border: 2px solid [error_color2];
}

/* END EC CART BILLING STYLE*/