@charset "utf-8";
/* CSS Document */
#printable{
	float:left;
	width:100%;	
}
.ec_cart_success_style20 {
	font-family: [content_font];
	font-weight: bold;
	font-size: 12px;
	color:[text_color];
	text-align: left;
}
.ec_cart_success_style20 table{
	width: 90%;
	border: 0;
	
}
.ec_cart_success_style20 p{
	font-family:[content_font];	
}
.ec_cart_success_style20_header {
	font-family: [content_font];
	font-weight: bold;
	font-size: 12px;
	background-color:[third_color];
	color:[text_color];
}
.ec_cart_success_style22 {
	font-family: [content_font];
	font-size: 12px;
	border-top: none;
	color:[text_color];
	text-align: left;
}
.ec_cart_success_style22 p{
	font-family:[content_font];	
	text-align: left;
}
.top_link_bar {
	width: 100%;
	float: left;
	text-align: right;
}
.top_link_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: right;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	background-color:[main_color];
	border:solid 1px #cccccc !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	padding: 8px 14px;
	width:200px;
	height:35px;
}
.top_link_button:hover {
	cursor: pointer;
	color:[main_color];
	background-color: #f7f7f7;
}
#content tr td {
	border-top: none;
}
@media print {
	body * {
		visibility: hidden;
	}
	#printable, #printable * {
		visibility: visible;
	}
	#printable { /* aligning the printable area */
		position: absolute;
		left: 0;
		top: 0;
	}
}

@media only screen and ( min-width: 480px ) and ( max-width: 767px ) {
 #printable {
    zoom: .8;
  }
}

@media only screen and ( max-width: 479px ){
	#printable {
		zoom: .5;
	 	margin-left:-20px;
  	}
}
