.ec_gift_card_input_row{
	float:left; width:100%; text-transform:uppercase; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;
}

.ec_gift_card_label{
	float:left; width:150px;
}

.ec_gift_card_input{
	float:left;
}

.ec_gift_card_input_row input[type="text"]{
	width:350px;	
}

.ec_gift_card_input_row textarea{
	width:350px;
	height:80px;
}

.ec_gift_card_input_row select{
	width:350px;
}

.ec_gift_card_message{
	width:350px;
}

.ec_gift_card_message_error{
	width:350px; background-color:#FF9D9D; border: 2px solid #900;
}

.ec_gift_card_to_name{
	width:250px;
}

.ec_gift_card_to_name_error{
	width:250px; background-color:#FF9D9D !important; border: 2px solid #900 !important;
}

.ec_gift_card_from_name{
	width:250px;
}

.ec_gift_card_from_name_error{
	width:250px; background-color:#FF9D9D !important; border: 2px solid #900 !important;
}