@charset "utf-8";
/* CSS Document */

/* STRANGE BUG, WIDGET STYLES DO NOT WORK PROPERLY WITHOUT THE TITLE STYLE MOVED */
/* IF YOU ARE LOOKING FOR THE TITLE STYLE FOR A MENU, LOOK AT THE SECOND CLASS IN THE ec_cart_widget.css. */

.ec_menu_vertical {
    width: 213px;
    padding: 40px 28px 25px 0;
    font-family: [content_font];
}
  
ul.ec_menu_vertical {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 0.5em;
    list-style: none;
    font-family: [content_font];
}
  
ul.ec_menu_vertical li {}
  
ul.ec_menu_vertical li a {
    line-height: 10px;
    font-size: 12px;
    padding: 10px 5px;
    color: #CCC;
    display: block;
    text-decoration: none;
    font-weight: bolder;
}
  
ul.ec_menu_vertical li a:hover {
    background-color:[main_color];
    color:white;
}
  
ul.ec_menu_vertical ul {
    margin: 0;
    padding: 0;
    display: none;
}
  
ul.ec_menu_vertical ul li {
    margin: 0;
    padding: 0;
    clear: both;
}
  
ul.ec_menu_vertical ul li a {
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
}
  
ul.ec_menu_vertical ul li a:hover {
    background-color:[second_color];
    color:[link_hover_color];
}
  
ul.ec_menu_vertical ul ul li a {
    color:#CCC;
    padding-left: 40px;
}
  
ul.ec_menu_vertical ul ul li a:hover {
    background-color:[third_color];
    color:[link_hover_color];
}
  
ul.ec_menu_vertical span{
    float:right;
}