@charset "utf-8";
/* Base Theme - Filter Bar CSS Document */

.ec_filter_bar{
	font-size:12px;
	width:100%;
	float:left;
	font-family:[content_font];
}

.ec_filter_bar_left{
	float:left;
}

.ec_filter_bar_right{
	/*styles set below */
	
}

@media only screen and ( min-width: [size_level5_low]px ) {
	.ec_filter_bar_left{ width:25%;}
	.ec_filter_bar_right{ width:60%; float:right;	text-align:right;}
}

@media only screen and ( min-width: [size_level4_low]px ) and ( max-width: [size_level4_high]px ) {
	.ec_filter_bar_left{ width:25%;}
	.ec_filter_bar_right{ width:60%;float:right; 	text-align:right;}
}

@media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
	.ec_filter_bar_left{ width:25%; }
	.ec_filter_bar_right{ width:60%; float:right;	text-align:right;}
}

@media only screen and ( max-width: [size_level2_high]px ) {
	.ec_filter_bar_left{ width:100%;}
	.ec_filter_bar_right{ width:100%; float:left;	text-align:left; margin-top: 10px;}
}

@media only screen and ( max-width: [size_level1_high]px ) {
	.ec_filter_bar_left{ width:100%;}
	.ec_filter_bar_right{ width:99%; float:left;	text-align:left; margin-top: 10px;}
}

/* Per Page Styles*/
.ec_per_page_link{
	font-size:11px; font-weight:normal; color:#666;
}

.ec_per_page_link:hover{
	font-size:11px; font-weight:normal; color:#039; text-decoration:none;
}

.ec_per_page_selected{
	font-size:11px; font-weight:bold; color:#333;
}
/* END PER PAGE STYLES */

/* Paging Styles */
.ec_selected_page{
	font-size:11px; font-weight:bold; color:#333;
}

.ec_page_link{
	font-size:11px; font-weight:normal; color:#666; text-decoration:none;
}

.ec_page_link:hover{
	font-size:11px; font-weight:normal; color:#039;
}

.ec_prev_link{
	font-size:11px; font-weight:normal; color:#666;
}

.ec_prev_link:hover{
	font-size:11px; font-weight:normal; color:#039; text-decoration:none;
}

.ec_next_link{
	font-size:11px; font-weight:normal; color:#666;
}

.ec_next_link:hover{
	font-size:11px; font-weight:normal; color:#039; text-decoration:none;
}
/* END PAGING STYLES */

/* Sort Bar Style */
.ec_sort_menu {
    background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #999;
    color: [text_color];
    cursor: pointer;
    font-family:[content_font];
    font-size: 12px;
    height: 28px;
    margin: 5px 0;
    overflow: hidden;
    padding: 2px 0 0 10px;
    text-transform:capitalize;
    width: 220px;
}
 
.ec_sort_menu option {
    background: none repeat scroll 0 0 [third_color];
    border-top: 1px dotted #3e332b !important;
    display: block;
    font-weight: normal !important;
    margin: 0;
    padding: 5px;
    border-right:0;
}
/* END SORT BAR STYLE*/