@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Personal Information CSS Document */
.ec_account_personal_information_page_visible {
	display: block;
}
.ec_account_personal_information_page_hidden {
	display: none;
}
.ec_account_personal_information_main_title {
	width: 100%;
	float: left;
	padding-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 3px solid [main_color];
	color: #FFF;
	font-size: 20px;
	text-align: left;
	font-family: [title_font];
}
.ec_account_personal_information_main_sub_title {
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
	margin-bottom: 20px;
	font-family:[subtitle_font];
}
.ec_account_personal_information_holder {
	width: 100%;
	float: left;
}
.ec_account_personal_information_row {
	width: 100%;
	float: left;
	height: 48px;
}
.ec_account_personal_information_label {
	width: 140px;
	line-height:38px;
	text-align: left;
	float: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
}
.ec_account_personal_information_input {
	width: 400px;
	text-align: left;
	float: left;
	font-size: 12px;
	font-family: [content_font];
}
.ec_account_personal_information_input input[type="text"] {
	margin: 0;
	width: 400px;
}
.ec_account_personal_information_input input[type="email"] {
	margin: 0;
	width: 400px;
	padding: 10px;
	background: #282827;
	border: 1px solid #141313;
	color:#FFF;
}
.ec_account_personal_information_input input[type="password"] {
	margin: 0;
	width: 400px;
	padding: 9px;
	background: #282827;
	border: 1px solid #141313;
}
.ec_account_personal_information_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font] !important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:159px;
	line-height:28px;
	background-color:[main_color] !important;
	background:[main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	margin-left:0px;
	background-image:none;
	box-shadow:none;
	padding:0 !important;
}
.ec_account_personal_information_button:hover {
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}
.ec_account_personal_information_row_error {
	width: 100%;
	float: left;
	height: 48px;
}
.ec_account_personal_information_row_error .ec_account_personal_information_input_field, .ec_account_personal_information_row_error .ec_account_personal_information_input_field:focus {
	background-color: [error_color];
	border: 2px solid [error_color2];
	color:#333;
}
.ec_account_personal_information_row_error .ec_account_personal_information_input input[type="email"], .ec_account_personal_information_row_error .ec_account_personal_information_input input[type="email"]:focus {
	background-color: [error_color];
	border: 2px solid [error_color2];
	color:#333;
}
/* END EC ACCOUNT PERSONAL INFORMATION STYLE*/