@charset "utf-8";
/* Base Theme - EC Cart Continue To Payment CSS Document */
.ec_cart_continue_to_payment_title{
	width:100%; float:left; height:28px; line-height:28px; background:#069; color:#FFF; font-weight:bold; text-align:center; border:1px solid #999;
}

.ec_cart_continue_to_payment_holder{
	width:100%; float:left; border:1px solid #999;
}

.ec_cart_continue_to_payment_row{
	width:100%; float:left;
}

.ec_cart_continue_to_payment_label{
	width:30%; float:left; text-align:right; margin-right:5%; line-height:24px;
}

.ec_cart_continue_to_payment_input{
	width:65%; float:left; text-align:left; line-height:24px;
}

.ec_cart_continue_to_payment_input_text{
	width:65%;
}

/* END EC CART CONTINUE TO PAYMENT STYLE*/