@charset "utf-8";
/* Base Theme - EC Cart Address Review CSS Document */
.ec_cart_payment_information_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
}
.ec_cart_payment_information_title {
	width: 100%;
	float: left;
	color: [title_color];
	font-size: 20px;
	font-family:[title_font];
	text-align: left;
	margin-bottom: 7px;
}
.ec_cart_payment_information_left {
	width: 400px;
	float: left;
}
.ec_cart_payment_information_right {
	width: 400px;
	float: right;
	text-align: left;
	margin-right: 200px;
	margin-top: 45px;
}
.ec_cart_payment_information_row {
	width: 100%;
	float: left;
	text-align: left;
	
}
.ec_cart_payment_information_row textarea{
	width:100%;
	height: 100px;
	float:left;
}
.ec_cart_payment_information_payment_type_row {
	width: 100%;
	float: left;
	margin-bottom: 6px;
	text-align: left;
	font-size: 12px;
	font-family: [content_font];
	font-weight: bold;
	background-color: #f7f7f7;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
}
.ec_cart_payment_information_payment_type_row.error{
	color:[error_text];	
}
.ec_cart_payment_information_payment_type_row .ec_inner_padding {
	float: left;
	padding: 5px 10px;
}
.ec_cart_payment_information_payment_type_row div {
	width: 100%;
	padding: 10px 5px;
}
.ec_cart_payment_information_payment_type_holder {
	width: 100%;
	float: left;
	background-color: #EEE;
	color:[text_color];
	font-size:13px;
	font-family: [content_font];
	margin-top: -6px;
	display: none;
}
.ec_cart_payment_information_payment_type_holder .ec_inner_padding {
	float: left;
	padding: 20px;
}
.ec_cart_payment_information_row .ec_cart_payment_information_input input[type="text"] {
	margin: 4px 0;
}
.ec_cart_payment_information_row .ec_cart_payment_information_input select {
	margin: 4px 2px 4px 0;
}
.ec_cart_manual_payment_information_row {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 12px;
	color:#333333;
	font-family: [content_font];
	display: none;
}
.ec_cart_payment_information_label {
	width: 150px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-family: [content_font];
	margin-top: 12px;
	font-weight: bold;
	color:[text_color];
	
}
.ec_cart_payment_information_input {
	width: 160px;
	float: left;
	text-align: left;
}
.ec_cart_payment_information_input input, .ec_cart_payment_information_input #ec_cart_payment_type {
	width: 160px;
}
.ec_cart_payment_information_credit_card_active {
	display: block;
	float: left;
}
.ec_cart_payment_information_credit_card_inactive {
	display: none;
	float: left;
}
.ec_cart_payment_information_input_text {
	width: 160px;
}
.ec_cart_payment_information_input_text_small {
	width: 60px;
}
.ec_cart_payment_information_input_select {
	width: 100px;
}
.ec_cart_payment_information_row_error {
	width: 100%;
	float: left;
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_label {
	width: 150px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	margin-top: 12px;
	color: #900;
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_input {
	width: 160px;
	float: left;
	text-align: left;
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_input_text {
	width: 160px;
	background-color: [error_color];
	border: 2px solid [error_color2];
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_input_select {
	background-color: [error_color];
	border: 2px solid [error_color2];
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_input input[type="text"] {
	margin: 3px 0;
}
.ec_cart_payment_information_row_error .ec_cart_payment_information_input select {
	margin: 3px 2px 3px 0;
}
/* END EC CART ADDRESS REVIEW STYLE*/
