.ec_account_subscription_upgrade_row{
	margin-top:15px;
}

.ec_account_subscription_upgrade_row > select{
	width:inherit !important;
}

.ec_account_subscription_billing{
	display:none;
}

.ec_account_subscription_payment{
	display:none;
}

.ec_account_subscription_button input[type="submit"]{
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font] !important;
	font-size:12px;
	font-weight:bold;
	outline: 0;
	width:280px;
	background-color: [main_color] !important;
	background: [main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	padding: 8px 0px;
	margin-bottom:15px;
}

.ec_account_subscription_button input[type="submit"]:hover{
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}