@charset "utf-8";
/* Base Theme - EC Cart Address Review CSS Document */
.ec_cart_address_review_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
	color:[text_color];
	font-family:[content_font];
}
.ec_cart_address_review_title {
	width: 100%;
	float: left;
	color: #333;
	font-size: 28px;
	text-align: left;
	margin-bottom: 7px;
	font-family:[title_font];
}
.ec_cart_address_review_left {
	height: 175px;
	float: left;
	background-color: [third_color];
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid rgba(0,0,0,.6);
	border-bottom: 2px solid rgba(0,0,0,.6);
}
.ec_cart_address_review_middle {
	height: 175px;
	float: left;
	background-color: [third_color];
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid rgba(0,0,0,.6);
	border-bottom: 2px solid rgba(0,0,0,.6);
}
.ec_cart_address_review_right {
	height: 175px;
	float: left;
	background-color: [third_color];
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid rgba(0,0,0,.6);
	border-bottom: 2px solid rgba(0,0,0,.6);
	display: table-cell;
}

.ec_cart_address_review_left {
	width: 30%;
}
.ec_cart_address_review_middle {
	width: 30%;
}
.ec_cart_address_review_right {
	width: 40%;
}

.ec_cart_address_review_row_title {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: 20px;
	font-family: [title_font];
}
.ec_cart_address_review_row {
	width: 100%;
	float: left;
	margin-left: 20px;
	font-family: [content_font];
	font-size: 14px;
	padding: 2px;
	color: 333;
}
.ec_cart_address_review_right_row {
	width: 100%;
	float: left;
	margin-top: 23px;
}
.ec_cart_address_review_right_row a {
	font-size: 16px;
	font-family: [content_font] !important;
	color: [link_color] !important;
	margin-top: 15px;
}
.ec_cart_address_review_right_row a:hover {
	color: [link_hover_color] !important;
	text-decoration: none;
}

/* END EC CART ADDRESS REVIEW STYLE*/