@charset "utf-8";
/* Base Theme - Product Price Tier CSS Document */

#ec_pricepointwidget-2 {
	margin-top:30px;
	background:#cccccc;
}

.et_lb_widget-title {
	font-size:16px;
	color:#000000;
}

/* END PRODUCT PRICE TIER STYLE*/