@charset "utf-8";
/* Base Theme - EC Cart Page CSS Document */
.ec_cart_page_cart {
	text-align: center;
	margin-top: 30px;
}
.ec_cart_error {
	width: 100%;
	float: left;
	text-align: center;
	background-color:[error_color];
	color: [error_text];
	font-size: 14px;
	font-weight: bold;
	font-family: [content_font];
	border: thin solid [error_color2];
}
.ec_cart_error div{
	padding: 15px;	
}
.ec_cart_success {
	width: 100%;
	float: left;
	text-align: center;
	background-color: [success_color]);
	color: [success_text];
	font-size: 14px;
	font-weight: bold;
	font-family: [content_font];
	border: thin solid [success_color2];
}
.ec_cart_success div{
	padding: 15px;
}
.grandTotalTxt {
	color:[main_color];
}
.ec_cart_page_continue_to_shipping_button {
	width: 100%;
	float: left;
}
.ec_cart_continue_to_shipping_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:150px;
	background-color:[main_color];
	border:solid 1px #cccccc !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	padding: 8px 14px;
}
.ec_cart_continue_to_shipping_button:hover {
	cursor: pointer;
	color:[main_color];
	background-color: #f7f7f7;
}
.ec_cart_page_continue_to_payment_button {
	width: 100%;
	float: left;
}
.ec_cart_continue_to_payment_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:150px;
	background-color:[main_color];
	border:solid 1px #cccccc !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	padding: 8px 14px;
}
.ec_cart_continue_to_payment_button:hover {
	cursor: pointer;
	color:[main_color];
	background-color: #f7f7f7;
}
.ec_cart_submit_order_message {
	width: 100%;
	float: left;
	font-size: 12px;
	font-family: [content_font];
	text-align: left;
	margin-bottom: 10px;
}
.ec_cart_page_submit_order_button {
	width: 100%;
	float: left;
}
.ec_cart_submit_order_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:150px;
	background-color:[main_color];
	border:solid 1px #cccccc !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	padding: 8px 14px;
}
.ec_cart_submit_order_button:hover {
	cursor: pointer;
	color:[main_color];
	background-color: #f7f7f7;
}
@media only screen and ( min-width: [size_level4_low]px ) {
	.ec_cart_page_left {
		width: 50%;
		float: left;
	}
	.ec_cart_page_right {
		width: 50%;
		float: right;
	}
}
@media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
	.ec_cart_page_left {
		width: 50%;
		float: left;
	}
	.ec_cart_page_right {
		width: 50%;
		float: right;
	}
	.ec_cart_submit_order_button {
		width:230px;
	}
}
 @media only screen and ( min-width: [size_level2_low]px ) and ( max-width: [size_level2_high]px ) {
	.ec_cart_page_left {
		width: 100%;
		float: left;
	}
	.ec_cart_page_right {
		width: 100%;
		float: left;
	}
	.ec_cart_continue_to_payment_button {
		width:170px;
	}
	.ec_cart_submit_order_button {
		width:230px;
	}
	.ec_cart_continue_to_shipping_button {
		width:150px;
	}
}
 @media only screen and ( max-width: [size_level1_high]px ) {
	.ec_cart_page_left {
		width: 100%;
		float: left;
	}
	.ec_cart_page_right {
		width: 100%;
		float: left;
	}
	.ec_cart_continue_to_payment_button {
		width:100%;
	}
	.ec_cart_page_submit_order_button {
		width: 100%;
		float: left;
	}
	.ec_cart_submit_order_button {
		width:100%;
	}
	.ec_cart_continue_to_shipping_button {
		width:100%;
	}
}
/* END EC CART PAGE STYLE*/