@charset "utf-8";
/* CSS Document */

.widget.ec_cartwidget h4.widgettitle, .widget.ec_cartwidget widgettitle{
	color: [title_color] !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-bottom: 5px solid [main_color];
	padding: 15px 20px;
	font-family:[title_font];
}

.widget.ec_menuwidget h4.widgettitle{
	color: [title_color] !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-bottom: 5px solid [main_color];
	padding: 15px 20px;
	font-family:[title_font];
}

.ec_cartwidget{
	font-size:13px !important;
	color:[text_color];
	font-family:[content_font];
}

.ec_cartwidget  a{
	font-size:13px !important;
	color:[link_color];
	text-decoration:none !important;
	line-height:20px !important;
}

.ec_cartwidget a:hover{
	font-size:13px !important;
	color:[link_hover_color];
	text-decoration:none !important;
}

.ec_cart_widget_minicart_wrap{
	position:absolute;
	z-index:999;
	
	background:[main_color];
	color:#FFF;
	display:none;
	
	-moz-box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	
	max-width:300px;
	min-height:100px;
	
	border: 2px solid #FFF;
}

.ec_cart_widget_button{
	position:relative;
	z-index:5;	
}

.ec_cart_widget_minicart_content{
	padding:25px;
}

.ec_cart_widget_minicart_title{
	font-size:18px; 
	font-family:[title_font];
	font-weight:bold; width:100%; float:left;	
	padding-bottom: 5px;
	border-bottom: 1px solid #FFF;
	margin-bottom: 10px;
}

.ec_cart_widget_minicart_subtotal{
	font-size:12px; 
	font-family:[content_font]; 
	width:100%; float:left;
	width: 50%;
	float: left;
	font-weight: bold;
	padding: 5px;
}

.ec_cart_widget_minicart_checkout_button{
	font-size:12px; 
	font-family:[content_font];
	font-weight: bold;
	width: 35%;
	float: right;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
	color: #333;
	border: 1px solid #333;
}

.ec_cart_widget_minicart_checkout_button:hover{
	background-color: #DEDEDE;	
	color: #333;
}

.ec_cart_widget_minicart_product_holder{
	float:left; width:100%; margin-top:10px; padding-top:10px; border-top:1px solid #FFF;	
}

.ec_cart_widget_minicart_product_padding{
	padding:10px;	
}

.ec_cart_widget_minicart_product{
	width:100px; min-height:155px; text-align:center; font-size:12px; font-weight:bold; 
	font-family:[content_font];
	margin-left:5px; margin-right:5px;
}

.ec_cart_widget_minicart_product.left{
	float:left;	
}

.ec_cart_widget_minicart_product.right{
	float:right;	
}

.ec_cart_widget_minicart_product_image{
	width:100%; float:left;	
}

.ec_cart_widget_minicart_product_image img{
	max-width:100px;
	max-height:100px;
	width:100px;
	height:100px;
}


.ec_cart_widget_minicart_product_title{
	width:100%; float:left;
}

.ec_cart_widget_minicart_product_title a{
	color:#FFF;
}

.ec_cart_widget_minicart_product_title a:hover{
	color:#DDD; text-decoration:none;
}

.ec_cart_widget_minicart_product_price{
	width:100%; float:left;
}

.ec_cart_widget_minicart_product_price span{
	text-align:center;
}

.ec_cart_widget_minicart_bg{
	position:fixed;
	z-index:2;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0;
	display:none;
}

.ec_cart_widget_clear{
	clear:both;
}