@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Order Line CSS Document */

.ec_account_order_line_0 {
	width: 100%;
	float: left;
	background-color: #ffffff;
	padding: 8px 0;
}
.ec_account_order_line_1 {
	width: 100%;
	float: left;
	background-color: #f7f7f7;
	padding: 8px 0px;
}
.ec_account_order_line_column1 {
	float: left;
	padding-left: 20px;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-family: [content_font];
}
.ec_account_order_line_column2 {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
}
.ec_account_order_line_column3 {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-family: [content_font];
}
.ec_account_order_line_column4 {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-family: [content_font];
}
.ec_account_order_line_column5 {
	float: right;
	text-align: right;
}
.ec_account_order_line_column5 a {
	display: block;
	float: right;
	text-indent: 0;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font] !important;
	font-size:8px;
	font-weight:bold;
	outline: 0;
	width:80px;
	background-color: [main_color] !important;
	background: [main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	padding: 8px 0px;
}
.ec_account_order_line_column5 a:hover {
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}
@media only screen and ( min-width: [size_level5_low]px ) {
	.ec_account_order_line_column1 {
		width: 75px;
	}
	.ec_account_order_line_column2 {
		width: 150px;
	}
	.ec_account_order_line_column3 {
		width: 75px;
	}
	.ec_account_order_line_column4 {
		width: 135px;
	}
	.ec_account_order_line_column5 {
		width: 105px;
	}
}
@media only screen and ( min-width: [size_level4_low]px ) and ( max-width: [size_level4_high]px ) {
	.ec_account_order_line_column1 {
		width: 63px;
	}
	.ec_account_order_line_column2 {
		width: 150px;
	}
	.ec_account_order_line_column3 {
		width: 75px;
	}
	.ec_account_order_line_column4 {
		width: 135px;
	}
	.ec_account_order_line_column5 {
		width: 100px;
	}
}
@media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
	.ec_account_order_line_column1 {
		width: 73px;
	}
	.ec_account_order_line_column2 {
		width: 150px;
	}
	.ec_account_order_line_column3 {
		width: 75px;
	}
	.ec_account_order_line_column4 {
		width: 135px;
	}
	.ec_account_order_line_column5 {
		width: 95px;
	}
}
 @media only screen and ( max-width: [size_level2_high]px ) {
	.ec_account_order_line_column1 {
		padding-left: 20px;
		width: 73px;
	}
	.ec_account_order_line_column2 {
		width: 135px;
		margin-right: 20px;
		font-size: 11px;
	}
	.ec_account_order_line_column3 {
	}
	.ec_account_order_line_column4 {
		display: none;
	}
	.ec_account_order_line_column5 {
		width:95px;
		text-align: center;
		margin-top: 0px;
	}
}

@media only screen and ( max-width: [size_level1_high]px ) {
	.ec_account_order_line_column1 {
		padding-left: 10px;
		width: 43px;
	}
	.ec_account_order_line_column2 {
		width: 110px;
		margin-right: 10px;
		font-size: 11px;
	}
	.ec_account_order_line_column3 {
		display: none;
	}
	.ec_account_order_line_column4 {
		display: none;
	}
	.ec_account_order_line_column5 {
		width: 65px;
		text-align: center;
		margin-top: 0px;
	}
	.ec_account_order_line_column5 a {
		width:80px;
	} 
}
/* END ACCOUNT ORDER LINE STYLES */