@charset "utf-8";
/* Base Theme - EC Account Password CSS Document */
.ec_account_password_main_title{
	width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; font-size:20px; color:[title_color]; font-family: [title_font]; margin-bottom:24px;
}
.ec_account_password_main_sub_title{
	width:100%; font-size:12px; font-weight:normal; text-align:left; float:left; margin-bottom:20px; font-family:[subtitle_font]; color:[text_color];
}
.ec_account_password_holder{
	width:100%; float:left;
}
.ec_account_password_row{
	width:100%; float:left; height:35px;
}
.ec_account_password_label{
	width:140px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; margin-top:7px;
}
.ec_account_password_input{
	width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font];
}
.ec_account_password_input input[type="text"]{
	margin:0; width:400px; height:20px; padding:1px;
}
.ec_account_password_input input[type="email"]{
	margin:0; width:400px; height:20px; padding:1px;
}
.ec_account_password_input input[type="password"]{
	margin:0; width:400px; height:20px; padding:1px;
}
.ec_account_password_error_text{
	float:left;
	margin-left:20px; margin-top:8px;
	font-size:12px; font-family:[content_font]; color:#900; 
	display:none;	
}
.ec_account_password_button{
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:159px;
	height:28px;
	line-height:28px;
	background-color:[main_color];
	border:solid 1px #cccccc !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	margin-left:0px;
	background-image:none;
	box-shadow:none;
}

.ec_account_password_button:hover{
	cursor:pointer;
	color:[main_color];
	background-color: #f7f7f7;
}

.ec_account_password_row_error{
	width:100%; float:left; height:35px;
}

.ec_account_password_row_error .ec_account_password_label{
	color:[error_text];
}

.ec_account_password_row_error .ec_account_password_input_field{
	background-color:[error_color]; border: 2px solid [error_color2];
}

.ec_account_password_row_error .ec_account_password_error_text{
	display:block;	
}
/* END EC ACCOUNT PASSWORD STYLE*/