@charset "utf-8";
/* Base Theme - EC Cart Address Review CSS Document */
.ec_cart_address_review_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-family:[content_font];
	color:[text_color];
}
.ec_cart_address_review_title {
	width: 100%;
	float: left;
	color: [title_color];
	font-size: 20px;
	font-family:[title_font];
	text-align: left;
	margin-bottom: 7px;
}
.ec_cart_address_review_left {
	height: 175px;
	float: left;
	background-color: #f7f7f7;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}
.ec_cart_address_review_middle {
	height: 175px;
	float: left;
	background-color: #f7f7f7;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}
.ec_cart_address_review_right {
	height: 175px;
	float: left;
	background-color: #f7f7f7;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	display: table-cell;
	vertical-align: center;
}
.ec_cart_address_review_row_title {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	color:[title_color];
	margin-bottom: 10px;
	margin-left: 20px;
	font-family: [title_font];
}
.ec_cart_address_review_row {
	width: 100%;
	float: left;
	margin-left: 20px;
	font-family: [content_font];
	font-size: 14px;
	padding: 0px;
	color: [content_color];
	line-height:18px;
}
.ec_cart_address_review_right_row {
	width: 100%;
	float: left;
	margin-top: 23px;
	text-align:center;
}
.ec_cart_address_review_right_row a {
	text-indent: 0;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font] !important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:230px;
	height:28px;
	line-height:28px;
	background-color:[main_color] !important;
	background:[main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	padding:8px 14px;
}
.ec_cart_address_review_right_row a:hover {
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
	text-decoration: none;
}
@media only screen and ( min-width: [size_level4_low]px ) {
	.ec_cart_address_review_left {
		width: 30%;
	}
	.ec_cart_address_review_middle {
		width: 30%;
	}
	.ec_cart_address_review_right {
		width: 40%;
	}
}
@media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
	.ec_cart_address_review_left {
		width: 30%;
	}
	.ec_cart_address_review_middle {
		width: 30%;
	}
	.ec_cart_address_review_right {
		width: 40%;
	}
}
@media only screen and ( min-width: [size_level2_low]px ) and ( max-width: [size_level2_high]px ) {
	.ec_cart_address_review_left {
		width: 50%;
	}
	.ec_cart_address_review_middle {
		width: 50%;
	}
	.ec_cart_address_review_right {
		width: 100%;
	}
	.ec_cart_address_review_right {
		height:130px;
		float: left;
		background-color: #ffffff;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 0px;
		border-top: 2px solid #eeeeee;
		border-bottom: 2px solid #eeeeee;
		display: table-cell;
		vertical-align: center;
	}
}
 @media only screen and ( max-width: [size_level1_high]px ) { 
	.ec_cart_address_review_left {
		width: 260px;
	}
	.ec_cart_address_review_middle {
		width: 260px;
	}
	.ec_cart_address_review_right {
		width: 260px;
	}
	.ec_cart_address_review_right {
		height:130px;
		float: left;
		background-color: #ffffff;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 0px;
		border-top: 2px solid #eeeeee;
		border-bottom: 2px solid #eeeeee;
		display: table-cell;
		vertical-align: center;
	}
	.ec_cart_address_review_right_row a {
		width:260px;
	}
}
/* END EC CART ADDRESS REVIEW STYLE*/