@charset "utf-8";
/* Base Theme - EC Cart Shipping Method CSS Document */
.ec_cart_shipping_method_holder{
	width:100%; float:left; margin-top:30px; padding-bottom:30px; border-bottom:1px solid #CCC; font-family:[content_font];
}

.ec_cart_shipping_method_title{
	width:100%; float:left; color:[title_color]; font-size:28px; text-align:left; margin-bottom:7px; font-family:[title_font];
}

.ec_cart_shipping_method_row{
	width:100%; float:left; text-align:left; font-size:12px; font-family:[content_font]; margin-left:15px; padding-top:8px; color:[text_color];
}

.ec_cart_shipping_method_row .label{
	font-weight:normal;
}

.ec_cart_shipping_method_row .price{
	font-weight:bold; margin-left:4px;
}
/* END EC CART SHIPPING METHOD STYLE*/