@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Cart Item CSS Document */
.ec_account_order_details_item_display {
	width: 100%;
	border-bottom: 1px solid #999;
	float: left;
	padding: 10px 0px;
}
.ec_account_order_details_item_display_column1 {
	float: left;
	text-align: left;
}
.ec_account_order_details_item_display_column2 {
	float: left;
	text-align: left;
}
.ec_account_order_details_item_display_column3 {
	float: left;
	text-align: center;
}
.ec_account_order_details_item_display_column4 {
	float: left;
	text-align: center;
}
.ec_account_order_details_item_display_column5 {
	float: right;
	text-align: right;
	padding-right: 8px;
}
.ec_account_order_details_item_display_column2 div {
	width: 100%;
	float: left;
}
.ec_account_order_details_item_display_column4 input[type="text"] {
	width: 50px;
	text-align: center;
}
.ec_account_order_details_item_display_title {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.ec_account_order_details_item_display_option {
	font-size: 11px;
	color: #333;
	line-height: 15px;
	text-align: left;
}
.ec_account_order_details_item_display_unit_price {
	font-size: 12px;
}
.ec_account_order_details_item_display_total_price {
	font-size: 12px;
	font-weight: bold;
	padding-right: 5px;
}
.ec_account_order_details_item_display_quantity_box {
}
/* END EC CART ITEM STYLE*/
