@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Dashboard CSS Document */
.ec_account_dashboard_holder_main {
	width: 100%;
	float: left;
}
.ec_account_dashboard_left {
	width: 67%;
	float: left;
}
.ec_account_dashboard_right {
	width: 25%;
	margin-left: 3%;
	float: right;
	border: 1px solid #e9e9e9; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.07); box-shadow: 0 1px 4px rgba(0,0,0,0.07);
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.ec_account_dashboard_title {
	width: 100%;
	float: left;
	padding-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 3px solid [main_color];
	color: [title_color];
	font-size: 20px;
	text-align: left;
	font-family: [title_font];
}
.ec_account_dashboard_holder {
	width: 100%;
	float: left;
	font-family: [content_font];
	font-size: 12px;
}

.ec_account_dashboard_right .ec_account_dashboard_holder a {
	font-size: 12px;
	font-family: [content_font];
	font-weight: bold;
	color: [link_color];
}

.ec_account_dashboard_right .ec_account_dashboard_holder a:hover {
	text-decoration: none;
	color: [link_hover_color];
}

.ec_account_dashboard_holder a {
	font-size: 12px;
	font-family: [content_font];
	font-weight: bold;
	color: [main_color];
}
.ec_account_dashboard_holder a:hover {
	text-decoration: none;
	color: #666666;
}
.ec_account_dashboard_row {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 12px;
	font-family: [content_font];
}
.ec_account_dashboard_row_content {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 12px;
	font-family: [content_font];
	padding: 5px 0;
}
.ec_account_dashboard_row_bold {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 13px;
	font-family: [content_font];
	font-weight: bold;
	color:#000000;
	margin-top: 15px;
}
.ec_account_dashboard_row_divider {
	width: 100%;
	text-align: center;
	float: left;
	background-color: #ffffff;
	border-bottom: 3px solid [main_color];
	margin-top: 3px;
	margin-bottom: 25px;
	padding-top:20px;
	padding-bottom:20px;
}
.ec_account_dashboard_row_divider a {
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font]!important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:150px;
	height:28px;
	line-height:28px;
	background-repeat:no-repeat;
	background-color:[main_color];
	border: 1px solid #CCC !important;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-left:0px;
}
.ec_account_dashboard_row_divider a:hover {
	cursor: pointer;
	color:[main_color];
	background-color: #f7f7f7;
}
.ec_account_order_line_header {
	width: 100%;
	float: left;
	background-color: #f7f7f7;
	padding: 8px 0px;
	margin: 0 0 4px 0;
	border-bottom:solid 1px #eeeeee;
}
.ec_account_order_line_column1_header {
	float: left;
	padding-left: 20px;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color:[main_color];
}
.ec_account_order_line_column2_header {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color:[main_color];
}
.ec_account_order_line_column3_header {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color:[main_color];
}
.ec_account_order_line_column4_header {
	float: left;
	margin-top: 3px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color:[main_color];
}
.ec_account_order_line_column5_header {
	float: right;
	text-align: right;
}
.ec_account_order_line_column1_header {
	width: 75px;
}
.ec_account_order_line_column2_header {
	width: 200px;
}
.ec_account_order_line_column3_header {
	width: 75px;
}
.ec_account_order_line_column4_header {
	width: 135px;
}
.ec_account_order_line_column5_header {
	width: 125px;
}
/* END EC ACCOUNT DASHBOARD STYLE*/