@charset "utf-8";
/* Base Theme - Product CSS Document */

.ec_product {
	font-size: 12px;
	height: 295px;
	margin-top: 10px;
	float:left;
	font-family:[content_font];
}

.ec_product.left {
	float:left; margin-left:0; margin-right:0;	
}

.ec_product.middle {
	float:left; margin-left:5px; margin-right: 5px;
}

.ec_product.right{
	float:right; margin-left:0px; margin-right:0px;
}

.ec_product {
	width: 175px;
}


.ec_product_left{
	width: 65%;
	float:left;
}

.ec_product_right{
	width:35%;
	float:right;
}

/* Start Product Image Styles */
.ec_product_images {
	width: 100%;
	float: left;
	position: relative;
}

.ec_product_quick_view_holder {
	float: left;
	width: 181px;
	margin-top: 15px;
	font-family:[content_font];
}

.ec_product_quick_view {
	background-color:[main_color];
	color: white;
	font-weight: bold;
	padding: 7px;
	font-family:[content_font];
}
.ec_product_quick_view a {
	text-decoration: none;
	color: white;
}
.ec_product_quick_view a:hover {
	text-decoration: none;
	color: white;
}
.ec_product_image {
	float: left;
	padding: 2px;
	display: block;
	border: 1px #999 solid;
	z-index: 4;
}
.ec_product_image:hover {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.ec_product_images .ec_product_image img {
	max-width: 175px;
	max-height: 175px;
}

.ec_product_image_inactive {
	float: left;
	padding: 2px;
	display: none;
	border: 1px #999 solid;
	z-index: 4;
}
.ec_product_image_inactive:hover {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
.ec_product_images .ec_product_image_inactive img {
	max-width: 175px;
	max-height: 175px;
}
/* END PRODUCT IMAGE STYLES */

/* Start Product Rating Styles */
.ec_product_rating {
	width: 100%;
	float: left;
	margin-top: 12px;
	margin-left: 3px;
}
.ec_product_stars {
	float: left;
}
.ec_product_num_reviews {
	float: left;
	margin-left: 5px;
	margin-top: 1px;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: [text_color];
}

.ec_product_star_on {
	border-color: transparent !important;
	border-bottom: 5px solid  [main_color] !important;
	margin:5px 0;
   float:left;
   position: relative;
   display: block;
   color: [main_color];
   width: 0px;
   height: 0px;
   border-right:  8px solid transparent;
   border-bottom: 5px  solid [main_color];
   border-left:   8px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.ec_product_star_on:before {
   border-bottom: 8px solid [main_color];
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -5px;
   left: -6px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.ec_product_star_on:after {
   position: absolute;
   display: block;
   color: [main_color];
   left: -9px;
   width: 0px;
   height: 0px;
   border-right: 8px solid transparent;
   border-bottom: 6px solid [main_color];
   border-left: 8px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.ec_product_star_off {
	border-color: transparent !important;
	border-bottom: 5px solid  #ccc !important;
	margin:5px 0;
   float:left;
   position: relative;
   display: block;
   color: #CCC;
   width: 0px;
   height: 0px;
   border-right:  8px solid transparent;
   border-bottom: 5px  solid #CCC;
   border-left:   8px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.ec_product_star_off:before {
   border-bottom: 8px solid #CCC;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -5px;
   left: -6px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.ec_product_star_off:after {
   position: absolute;
   display: block;
   color: #CCC;
   left: -9px;
   width: 0px;
   height: 0px;
   border-right: 8px solid transparent;
   border-bottom: 6px solid #CCC;
   border-left: 8px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/* END PRODUCT RATING STYLES */

/* Start Product Title Styles */
.ec_product_title {
	width: 100%;
	float: left;
	font-family: [title_font];
	margin-top: 8px;
	margin-left: 3px;
}
.ec_product_title a {
	font-weight: bold;
	color: [link_color];
	text-decoration: none;
}
.ec_product_title a:hover {
	font-weight: bold;
	color: [link_hover_color];
	text-decoration: none;
}
/* END PRODUCT TITLE STYLES */

/* Start Product Pricing Styles */
.ec_product_pricing {
	width: 100%;
	float: right;
	margin-top: 8px;
	margin-right: 3px;
}
/* Start Price */
.ec_product_price {
	font-size: 12px;
	width: 100%;
	float: right;
	text-align: right;
}
/* Allow for detailed styling of price */
.ec_product_price .currency {
	font-size: 12px;
	vertical-align: super;
}
.ec_product_price .dollar {
	font-size: 16px;
	font-weight: bold;
}
.ec_product_price .cent {
	font-size: 12px;
	vertical-align: super;
}
/* end, end */

/* Start Old Price */
.ec_product_old_price {
	font-size: 10px;
	color: [text_color];
	width: 100%;
	float: right;
	text-align: right;
	text-decoration: line-through;
}
/* Start Sale Price */
.ec_product_sale_price {
	font-size: 16px;
	width: 100%;
	float: right;
	text-align: right;
	color: [sale_color];
	margin-top: 2px;
}
/* Allow for detailed styling of sale price */
.ec_product_sale_price .currency {
	font-size: 12px;
	vertical-align: super;
}
.ec_product_sale_price .dollar {
	font-size: 16px;
	font-weight: bold;
}
.ec_product_sale_price .cent {
	font-size: 12px;
	vertical-align: super;
}
/* end, end */
/* END PRODUCT PRICING STYLES */

/* Start Product Swatches Styles */
.ec_product_swatches {
	width: 100%;
	float: left;
	margin-top: 16px;
	margin-left: 3px;
	margin-right: 3px;
}
.ec_product_swatches img{
	max-width: 25px;
	max-height:25px;
	width:25px;
	height:25px;
}
.ec_product_swatch_out_of_stock {
	float: left;
	margin: 1px;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
.ec_product_swatch_selected {
	float: left;
	margin: 1px;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	box-shadow: 0 0 5px #555;
}
.ec_product_swatch {
	float: left;
	margin: 1px;
}
.ec_product_swatch:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
/* END PRODUCT SWATCHES STYLES */

/* START PRODUCT QUICK VIEW BOX */

.ec_product_quick_view_box_holder {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 50;
}
.ec_product_quick_view_box_background {
	background-color: [backdrop_color];
	width: 100%;
	height: 100%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 55;
	position: fixed;
}
.ec_product_quick_view_box_content_holder {
	background-color: [content_bg];
	border: 4px solid [main_color];
	z-index: 60;
	position: fixed;
	left: 50%;
	top: 50%;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.ec_product_quick_view_box_content_holder {
	width: 1000px;
	margin-left: -500px;
	min-height: 500px;
	margin-top: -250px;
}

.ec_product_quick_view_box_content_close {
	position: absolute;
	top: 5px;
	right: 5px;
}
.ec_product_quick_view_box_content_close a {
	font-weight: bold;
	font-size: 14px;
	font-family: [content_font];
	color: [link_color];
	text-decoration: none;
}
.ec_product_quick_view_box_content_close a:hover {
	color: [link_hover_color];
}
.ec_product_quick_view_box_content_thumbnails {
	width: 50px;
	margin-left: 25px;
	margin-top: 25px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: baseline;
}
.ec_product_quick_view_box_content_thumbnails .ec_product_image {
	margin-bottom: 15px;
}
.ec_product_quick_view_box_content_thumbnails .ec_product_image_inactive {
	margin-bottom: 15px;
}
.ec_product_quick_view_box_content_thumbnails img {
	width: 50px;
	height: 50px;
}
.ec_product_quick_view_box_content_thumbnails img:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
.ec_product_quick_view_box_content_image img {
	width: 400px;
	height: 400px;
}

.ec_product_quick_view_box_content_thumbnails {
	width: 50px;
	margin-left: 10px;
	margin-top: 25px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: baseline;
}
.ec_product_quick_view_box_content_thumbnails .ec_product_image {
	margin-bottom: 5px;
}

.ec_product_quick_view_box_content_image {
	width: 460px;
	height: 100%;
	margin-left: 35px;
	margin-top: 20px;
	float: left;
	vertical-align: middle;
	text-align: center;
}

.ec_product_quick_view_box_content_right {
	width: 310px;
	height: 100%;
	float: left;
	margin-top: 25px;
	margin-left: 35px;
}

.ec_product_quick_view_box_content_row {
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family:[content_font];
}

.ec_product_quick_view_box_content_row .ec_product_title_link {
	margin-top: 10px;
	font-size: 24px;
	color: [link_color];
	font-family:[title_font];
}

.ec_product_quick_view_box_content_row .ec_product_title_link:hover {
	color: [link_hover_color];
	text-decoration: none;
}
.ec_product_quick_view_box_content_gift_card_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_product_quick_view_box_content_row input[type="number"] {
	width: 50px;
	text-align: center;
}
.ec_product_quick_view_box_content_row .product_submit_button {
	background-color: [main_color];
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, [main_color]), color-stop(10%, [main_color]), color-stop(50%, [second_color]), color-stop(50%, [second_color]), color-stop(100%, [third_color]));
	background-image: -moz-linear-gradient(top, [main_color] 0%, [main_color] 10%, [second_color] 50%, [second_color] 50%, [third_color] 100%);
	background-image: linear-gradient(top, [main_color] 0%, [main_color] 10%, [second_color] 50%, [second_color] 50%, [third_color] 100%);
	border-color: [main_color];
	text-shadow: #123800 0px 1px 1px;
	-moz-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-webkit-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-o-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-khtml-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	color: white;
	padding: 4px;
	width: 100px;
}
.ec_product_quick_view_box_content_row .product_submit_button:hover {
	opacity:.85;
	text-shadow: #0d2800 0px 1px 1px;
	cursor: pointer;
}
.ec_product_quick_view_box_content_option_row {
	width: 100%;
	float: left;
}
.ec_product_quick_view_box_content_option_row img{
	max-width:25px;
	max-height:25px;
	width:25px;
	height:25px;	
}
.ec_product_quick_view_box_content_row .title {
	font-size: 32px;
	font-family:[title_font];
}
.ec_product_quick_view_box_content_row .ec_product_sale_price {
	float: none;
	text-align: left;
	width: 0;
	padding-left: 5px;
}
.ec_product_quick_view_box_content_row .ec_product_old_price {
	float: none;
	text-align: left;
	width: 0;
	font-size: 16px;
}
.ec_product_quick_view_box_content_row .ec_product_price {
	float: none;
	text-align: left;
	width: 0;
	font-size: 16px;
}

.ec_product_quick_view_box_content_row .title {
	font-size: 26px;
}

.ec_error_message_box{
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-family: [content_font];
	width: 400px;
	
	border: 1px solid [error_color2];
	background-color: [error_color];
	color: [error_text];
	
	padding:10px;
	
	display:none;
}


/* END PRODUCT QUICK VIEW BOX*/
