@charset "utf-8";
/* Base Theme - EC Cart Billing CSS Document */
.ec_cart_billing_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.ec_cart_billing_title {
	width: 100%;
	float: left;
	color: [title_color];
	font-size: 20px;
	font-family: [title_font];
	text-align: left;
	margin-bottom: 7px;
}
.ec_cart_billing_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_billing_row .ec_cart_billing_label {
	width: 120px;
	line-height:28px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color: [text_color];
}
.ec_cart_billing_row .ec_cart_billing_input {
	float: left;
	text-align: left;
}
.ec_cart_billing_row .ec_cart_billing_input {
}
.ec_cart_billing_row .ec_cart_billing_input_text {
	width: 220px;
}
.ec_cart_billing_row .ec_cart_billing_input select{
	width:225px;	
}
.ec_cart_shipping_selector_row {
	width:300px;
	margin-top: 5px;
	text-align: left;
	font-size: 12px;
	font-family: [content_font];
}
.ec_cart_shipping_selector_row input[type="radio"]{
	-webkit-appearance:radio !important;	
}
.ec_cart_shipping_selector_row_hidden {
	display: none;
}
.ec_cart_billing_row_error {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_cart_billing_row_error .ec_cart_billing_label {
	width: 120px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height:28px;
	color: [error_text];
}
.ec_cart_billing_row_error .ec_cart_billing_input {
	width: 220px;
	float: left;
	text-align: left;
}
.ec_cart_billing_row_error .ec_cart_billing_input_text {
	width: 220px;
	background-color: [error_color];
	border: 1px solid [error_color2];
}
.ec_cart_billing_row_error .ec_cart_billing_input select{
	width:225px;	
}

@media only screen and ( min-width: [size_level2_low]px ) and ( max-width: [size_level2_high]px ) {
	.ec_cart_shipping_selector_row {
		width:458px;
	}
}
@media only screen and ( max-width: [size_level1_high]px ) {
	.ec_cart_shipping_selector_row {
		width:100%;
	}
	.ec_cart_billing_row .ec_cart_billing_input {
		width: 100%;
	}
	.ec_cart_billing_row .ec_cart_billing_input_text {
		width: 100%;
	}
	.ec_cart_billing_row_error .ec_cart_billing_input {
		width: 100%;
		float: left;
		text-align: left;
	}
	.ec_cart_billing_row_error .ec_cart_billing_input_text {
		width: 260px;
	}
}
/* END EC CART BILLING STYLE*/