@charset "utf-8";
/* Base Theme - EC Cart CSS Document */
.ec_cart {
}
.ec_cart_header_row {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.ec_cart_header_title {
	width: 40%;
	float: left;
	text-align: left;
	font-size: 28px;
	font-family:[title_font];
}
.ec_cart_continue_shopping_button {
	width: 60%;
	float: right;
	text-align: right; 
}
.ec_cart_continue_shopping_button a {
	margin-left: 5px;
	display: block;
	background-color: [third_color] !important;
	color: [link_color] !important;
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	font: bold 11px/1.2 [content_font]!important;
	outline: 0;
	float: right;
	width: 125px;
}

.ec_cart_continue_shopping_button a:hover {
	color: [link_hover_color] !important;
}
.ec_cart_title_bar {
	width: 100%;
	float: left;
	height: 28px;
	line-height: 28px;
	background: [main_color];
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	font-family:[content_font];
}
.ec_cart_title_bar_column_1 {
	width: 14%;
	float: left;
	text-align: left;
	margin-left: 10px;
}
.ec_cart_title_bar_column_2 {
	width: 27%;
	float: left;
	text-align: left;
}
.ec_cart_title_bar_column_3 {
	width: 12%;
	float: left;
	text-align: center;
}
.ec_cart_title_bar_column_4 {
	width: 12%;
	float: left;
	text-align: center;
}
.ec_cart_title_bar_column_5 {
	width: 12%;
	float: left;
	text-align: center;
}
.ec_cart_title_bar_column_6 {
	width: 18%;
	float: left;
	text-align: center;
}
.ec_cart_item_holder {
	width: 100%;
	float: left;
}
.ec_cart_lower_left {
	float: left;
	width: 50%;
}
.ec_cart_lower_right {
	float: right;
	width: 300px;
	margin-right: 20px;
}
.ec_cart_lower_left_title {
	margin-top: 20px;
	margin-bottom: 8px;
	width: 100%;
	float: left;
	text-align: left;
	font-size: 28px;
	font-family:[title_font]
}
.ec_cart_lower_left_subtitle {
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
	float: left;
	font-size: 12px;
	font-family: [subtitle_font];
}

.ec_cart_lower_right_title {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 28px;
	text-align: right;
	font-family:[title_font];
}

.ec_cart_shipping_costs_row {
	width: 100%;
	float: left;
	text-align: left;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ec_cart_shipping_costs_row span {
	float: left;
	margin-top: 9px;
	margin-right: 5px;
	font-size: 12px;
	font-family: [content_font];
	font-weight: bold;
}
.ec_cart_shipping_costs_row input[type="text"] {
	width: 125px;
	height: 21px;
	padding: 2px;
	float: left;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.ec_cart_shipping_costs_row a {
	display: block;
	width: 125px;
	float: left;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	font: bold 11px/1.2 [content_font]!important;
	outline: 0;

}
.ec_cart_shipping_costs_row a:hover {
	color: [link_hover_color];
}
.ec_cart_checkout_buttons {
	float: left;
	width: 100%;
	margin-top: 15px;
}
.ec_cart_checkout_buttons .left {
	float: left;
	text-align: left;
	width: 50%;
}
.ec_cart_checkout_buttons .left a {
	float: left;
}
.ec_cart_checkout_buttons .right {
	float: right;
	text-align: right;
	width: 50%;
}
.ec_cart_checkout_buttons .right a {
	float: right;
}
.ec_cart_checkout_buttons a {
	display: block;
	width: 100px;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	box-shadow: 1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px [main_color];
	font: bold 11px/1.2 [content_font]!important;
	outline: 0;
}
.ec_cart_checkout_buttons a:hover {
	color: [link_hover_color];
}
.ec_cart_lower_right_row {
	width: 100%;
	float: left;
	font-family:[content_font];
}
.ec_cart_lower_right_row .left, .ec_cart_lower_right_row .right {
	width: 46%;
	float: left;
	border: 1px solid #CCC;
	padding: 5px 5px;
}
.ec_cart_lower_right_row .left {
	text-align: left;
}
.ec_cart_lower_right_row .right {
	text-align: right;
}
.ec_estimate_shipping_country{
	width: 100%;
	float: left;
	height: 36px;
	line-height: 36px;
}
.ec_estimate_shipping_country span{
	width:60px;
}
.ec_estimate_shipping_country select{
	height: 30px;
	margin-left: 5px;
	width: 291px;
}
.ec_estimate_shipping_zip{
	width: 100%;
	float: left;
	height: 36px;
	line-height: 36px;
}
.ec_estimate_shipping_zip span{
	width:60px;
}
.ec_estimate_shipping_loader {
	display: none;
	float: left;
	margin-left: 40px;
}
.ec_cart_clear {
	clear: both;
}
.ec_cart_shipping_methods {
	padding-top: 10px;
	float: left;
	border-top: 1px dashed #CCC;
	margin-top: 20px;
	width: 400px;
}




.ec_cart_shipping_methods_hidden {
	margin-top: 10px;
	float: left;
	width: 100%;
	display: none;
}
.ec_cart_bottom_divider_line {
	width: 100%;
	float: left;
	padding-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
}

/* END EC CART STYLE*/
