@charset "utf-8";
/* Base Theme - EC Account Password CSS Document */
.ec_account_password_main_title{
	width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; font-size:28px; margin-bottom:24px; color:[title_color]; font-family:[title_font];
}

.ec_account_password_main_sub_title{
	width:100%; font-size:12px; font-weight:normal; text-align:left; float:left; margin-bottom:20px; color:[text_color]; font-family:[subtitle_font];
}

.ec_account_password_holder{
	width:100%; float:left;
}

.ec_account_password_row{
	width:100%; float:left; height:35px;
}

.ec_account_password_label{
	width:140px; line-height:28px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[text_color];
}

.ec_account_password_input{
	width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font];
}

.ec_account_password_input input[type="email"]{
	margin:0; width:400px; height:28px; padding:1px;
}

.ec_account_password_input input[type="text"]{
	margin:0; width:400px; height:28px; padding:1px;
}

.ec_account_password_input input[type="password"]{
	margin:0; width:400px; height:28px; padding:1px;
}

.ec_account_password_error_text{
	float:left;
	margin-left:20px; margin-top:8px;
	font-size:12px; font-family:[content_font]; color:[text_color]; 
	display:none;	
}

.ec_account_password_button{
	-webkit-appearance:none;
	margin-top:4px;
	min-width:100px;
	background-color: [third_color] !important;
	background: [third_color] !important;
	color: [link_color] !important;
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: bold 12px/1.2 [content_font]!important;
	text-transform:uppercase;
	outline: 0;	
	border:1px solid #CCC !important;
	background-image:none;
	box-shadow:none;
}

.ec_account_password_button:hover{
	cursor:pointer; color:[link_hover_color] !important;
}

.ec_account_password_row_error{
	width:100%; float:left; height:35px;
}

.ec_account_password_row_error .ec_account_password_label{
	color:[error_text];
}

.ec_account_password_row_error .ec_account_password_input_field{
	background-color:[error_color]; border: 2px solid [error_color2];
}

.ec_account_password_row_error .ec_account_password_error_text{
	display:block;	
}

.ec_account_password_input input[type="text"]{
	margin:0; width:315px; height:20px; padding:1px 6px;
}

.ec_account_password_input input[type="password"]{
	margin:0; width:315px; height:20px; padding:1px 6px;
}

.ec_account_password_input select{
	margin:0; width:328px; height:25px;
}

.ec_account_password_label{
	margin-bottom:2px;	
}

.ec_account_password_holder{
	padding:0;	
}

.ec_account_password_row{
	width:100%; float:left; height:50px;
}

.ec_account_password_input{
	width: 315px;	
}

/* END EC ACCOUNT PASSWORD STYLE*/