@charset "utf-8";
/* CSS Document */
.widget.ec_specialswidget h4.widgettitle, .widget.ec_specialswidget widgettitle{
	color: [title_color] !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-bottom: 5px solid [main_color];
	padding: 15px 20px;
	font-family:[title_font];
}

.ec_specialswidget{
	font-size:13px !important;
	color:[text_color];
	font-family:[content_font];
}

.ec_specialswidget .ec_product{
	margin-left: 20px;
}

.ec_specialswidget  a{
	font-size:13px !important;
	color:[link_color];
	text-decoration:none !important;
	line-height:20px !important;
}

.ec_specialswidget a:hover{
	font-size:13px !important;
	color:[link_hover_color];
	text-decoration:none !important;
}

.ec_specialswidget > h3{
	min-height:40px;
}