@charset "utf-8";
/* Base Theme - EC Cart Coupon CSS Document */

.ec_cart_coupon_row {
	width: 100%;
	float: left;
	text-align: left;
	margin-top: 5px;
	font-family:[content_font];
}
@media only screen and ( min-width: [size_level3_low]px ) {
	.ec_cart_coupon_row { }
}

@media only screen and ( min-width: [size_level2_low]px ) and ( max-width: [size_level2_high]px ) {
	.ec_cart_coupon_row { height: 55px; }
}

@media only screen and ( max-width: [size_level1_high]px ) {
	.ec_cart_coupon_row { height: 55px; }
}
.ec_cart_coupon_row .ec_cart_coupon_input_text {
	width: 225px;
	height: 28px;
	padding: 2px;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
}
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button {
	width: 125px;
	margin-left: 5px;
	float: left;
}
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button a {
	display: block;
	width: 125px;
	float: left;
	background-color: [third_color];
	color: [link_color];
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 2px [main_color], inset 0 0 5px [main_color];
	-webkit-box-shadow: 1px 1px 2px [main_color], inset 0 0 5px [main_color];
	box-shadow: 1px 1px 2px [main_color], inset 0 0 5px [main_color];
	font: bold 11px/1.2 [content_font]!important;
	outline: 0;
}
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button a:hover {
	color: [link_hover_color];
}
.ec_cart_coupon_loader {
	display: none;
	float: left;
	margin-left: 40px;
}
.ec_cart_coupon_row_message {
	width: 100%;
	float: left;
	font-size: 12px;
	font-family: [content_font];
	text-align: left;
	margin-bottom: 5px;
	color: [text_color];
}
/* END EC CART COUPON STYLE*/
