@charset "utf-8";
/* CSS Document */

.ec_cart_subscription_holder_left{
	float:left; width:50%;
}

.ec_cart_subscription_holder_right{
	float:right; width:50%;
}

@media only screen and ( max-width: [size_level3_high]px ) {
	.ec_cart_subscription_holder_left{
		float:left; width:100%;
	}
	
	.ec_cart_subscription_holder_right{
		float:right; width:100%;
	}
}