@charset "utf-8";
/* Base Theme - Product CSS Document */

.ec_product {
	font-size: 12px;
	height: 330px;
	margin-top: 10px;
	float:left;
	width:175px;
}

.ec_product.left {
	float:left; margin-left:0; margin-right:0;	
}

.ec_product.middle {
	float:left; margin-left:5px; margin-right: 5px;
}

.ec_product.right{
	float:right; margin-left:0px; margin-right:0px;
}
.ec_product_left{
	width: 65%;
	float:left;
}

.ec_product_right{
	width:35%;
	float:right;
}

/* Start Product Image Styles */
.ec_product_images {
	width: 100%;
	float: left;
	position: relative;
}
.ec_product_images img{
	max-width:175px;
	max-height:175px;
	width:175px;
	height:175px;
}
.ec_product_quick_view_holder {
	float: left;
	min-width: 75px;
	margin-top: 15px;
	padding-top:5px;
	padding-bottom:5px;
}
.ec_product_quick_view {
	background-color: [main_color];
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-family:[content_font];
	
	padding-top:7px;
	padding-bottom:7px;
	padding-left:5px;
	padding-right:8px;
}
.ec_product_quick_view a {
	text-decoration: none;
	color: white !important;
	font-size:10px;
}
.ec_product_quick_view a:hover {
	text-decoration: none;
	color:#f7f7f7 !important;
	
}
.ec_product .ec_product_images a {
	float: left;
	padding: 2px;
	display: block;
	border: 1px #eeeeee solid;
	z-index: 4;
	max-width:175px;
	max-height:175px;
}
.ec_product .ec_product_images a:hover{
	border:1px #eeeeee solid;
}
.ec_product_image:hover {
	border: 1px #cccccc solid;
}
.ec_product_images .ec_product_image img {
	max-width: 175px;
	max-height: 175px;
}
.ec_product_image_inactive {
	float: left;
	padding: 2px;
	display: none;
	border: 1px #eeeeee solid;
	z-index: 4;
	
}
.ec_product_image_inactive:hover {
	border: 1px #cccccc solid;
}
.ec_product_images .ec_product_image_inactive img {
	max-width: 175px;
	max-height: 175px;
	outline:none !important;
}
.ec_product_images .ec_product_image_inactive img {
	max-width: 175px;
	max-height: 175px;
	outline:none !important;
}
/* END PRODUCT IMAGE STYLES */

/* Start Product Rating Styles */
.ec_product_rating {
	width: 100%;
	float: left;
	margin-top: 12px;
	margin-left: 3px;
	font-family:[content_font];
}
.ec_product_stars {
	float: left;
	margin-top:-10px;
}
.ec_product_num_reviews {
	float: left;
	margin-left: 5px;
	margin-top: -13px;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 1px;
	color: #999;
}
.ec_product_star_on {
	border-color: transparent !important;
	border-bottom: 5px solid  [main_color] !important;
	margin:5px 0;
   float:left;
   position: relative;
   display: block;
   color: [main_color];
   width: 0px;
   height: 0px;
   border-right:  8px solid transparent;
   border-bottom: 5px  solid [main_color];
   border-left:   8px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.ec_product_star_on:before {
   border-bottom: 8px solid [main_color];
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -5px;
   left: -6px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.ec_product_star_on:after {
   position: absolute;
   display: block;
   color: [main_color];
   left: -9px;
   width: 0px;
   height: 0px;
   border-right: 8px solid transparent;
   border-bottom: 6px solid [main_color];
   border-left: 8px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.ec_product_star_off {
	border-color: transparent !important;
	border-bottom: 5px solid  #CCC !important;
   margin:5px 0;
   float:left;
   position: relative;
   display: block;
   color: #CCC;
   width: 0px;
   height: 0px;
   border-right:  8px solid transparent;
   border-bottom: 5px  solid #CCC;
   border-left:   8px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.ec_product_star_off:before {
	
   border-bottom: 8px solid #CCC;
   border-left: 3px solid transparent;
   border-right: 3px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -5px;
   left: -6px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.ec_product_star_off:after {
   position: absolute;
   display: block;
   color: #CCC;
   left: -9px;
   width: 0px;
   height: 0px;
   border-right: 8px solid transparent;
   border-bottom: 6px solid #CCC;
   border-left: 8px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
/* END PRODUCT RATING STYLES */

/* Start Product Title Styles */
.ec_product_title {
	width: 100%;
	float: left;
	font-family: [title_font];
	margin-top: 8px;
	margin-left: 3px;
}
.ec_product_title a {
	font-weight: bold;
	color: #F5F5F5 !important;
	text-decoration: none;
	font-family:[title_font];
}
.ec_product_title a:hover {
	font-weight: bold;
	color: #FFF !important;
	text-decoration: none;
}
/* END PRODUCT TITLE STYLES */

/* Start Product Pricing Styles */
.ec_product_pricing {
	width: 100%;

	float: right;
	margin-top: 8px;
	margin-right: 3px;
	font-family:[content_font];
}
/* Start Price */
.ec_product_price {
	font-size: 12px;
	width: 100%;
	float: right;
	text-align: right;
}
/* Allow for detailed styling of price */
.ec_product_price .currency {
	font-size: 12px;
	vertical-align: super;
}
.ec_product_price .dollar {
	font-size: 16px;
	font-weight: bold;
}
.ec_product_price .cent {
	font-size: 12px;
	vertical-align: super;
}
/* end, end */

/* Start Old Price */
.ec_product_old_price {
	font-size: 10px;
	color: #BEBEBE;
	width: 100%;
	float: right;
	text-align: right;
	text-decoration: line-through;
}
/* Start Sale Price */
.ec_product_sale_price {
	font-size: 16px;
	width: 100%;
	float: right;
	text-align: right;
	color: #FFF;
	margin-top: -5px;
	font-weight:bold;
}
/* Allow for detailed styling of sale price */
.ec_product_sale_price .currency {
	font-size: 16px;
	
}
.ec_product_sale_price .dollar {
	font-size: 16px;
	font-weight: bold;
}
.ec_product_sale_price .cent {
	font-size: 16px;
	
}
/* end, end */
/* END PRODUCT PRICING STYLES */

/* Start Product Swatches Styles */
.ec_product_swatches {
	width: 100%;
	float: left;
	margin-top: 16px;
	margin-left: 3px;
	margin-right: 3px;
}
.ec_product_swatches img{
	max-width: 17px;
	max-height:17px;
	width:17px;
	height:17px;
}
.ec_product_swatch_out_of_stock {
	float: left;
	margin: 1px;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
.ec_product_swatch_selected {
	float: left;
	margin: 1px;
	-moz-box-shadow: 0 0 5px #FFF;
	-webkit-box-shadow: 0 0 5px #FFF;
	box-shadow: 0 0 5px #FFF;
}
.ec_product_swatch {
	float: left;
	margin: 1px;
}
.ec_product_swatch:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
/* END PRODUCT SWATCHES STYLES */

/* START PRODUCT QUICK VIEW BOX */

.ec_product_quick_view_box_holder {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1200;
}
.ec_product_quick_view_box_background {
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 1210;
	position: fixed;
}
.ec_product_quick_view_box_content_holder {
	background-color: #161616;
	border: 4px solid [main_color];
	z-index: 1220;
	position: fixed;
	left: 50%;
	top: 50%;
	-moz-box-shadow: 0 0 25px #666;
	-webkit-box-shadow: 0 0 25px #666;
	box-shadow: 0 0 25px #666;
}
.ec_product_quick_view_box_content_holder {
	width: 1000px;
	margin-left: -500px;
	min-height: 500px;
	margin-top: -250px;
}
.ec_product_quick_view_box_content_close {
	position: absolute;
	top: 5px;
	right: 5px;
}
.ec_product_quick_view_box_content_close a {
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #EEE !important;
	text-decoration: none;
}
.ec_product_quick_view_box_content_close a:hover {
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF !important;
	text-decoration: none;
}
.ec_product_quick_view_box_content_thumbnails {
	width: 50px;
	margin-left: 25px;
	margin-top: 22px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: baseline;
}
.ec_product_quick_view_box_content_thumbnails .ec_product_image {
	margin-bottom: 15px;
}
.ec_product_quick_view_box_content_thumbnails .ec_product_image_inactive {
	margin-bottom: 15px;
}
.ec_product_quick_view_box_content_thumbnails img {
	padding: 2px;
	border: 1px solid #FFF;
	max-width: 50px;
}
.ec_product_quick_view_box_content_thumbnails img:hover {
	cursor: pointer;
	border:solid 1px #cccccc;
	
}
.ec_product_quick_view_box_content_image img {
	max-width:400px;
	max-height:400px;
	width: 400px;
	height: 400px;
	padding: 2px;
	border: 1px solid #FFF;
}
.ec_product_quick_view_box_content_image img:hover{
	cursor:default;	
}
.ec_product_quick_view_box_content_image a{
	border:none;
	float:left;
	padding:2px;	
}
.ec_product_quick_view_box_content_image a:hover{
	border:none;
	padding:2px;
}
.ec_product_quick_view_box_content_image {
	max-width:440px;
	max-height:440px;
	width: 440px;
	height: 440px;
	height: 100%;
	margin-left: 35px;
	margin-top: 20px;
	float: left;
	vertical-align: middle;
	text-align: center;
}
.ec_product_quick_view_box_content_row .ec_product_title_link {
	display: block !important;
	width: 235px;
	margin-top: 4px;
	min-width: 100px;
	background-color: [main_color];
	color: #ffffff!important;
	padding: 7px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	font: bold 12px/1.2 [content_font]!important;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #CCC;
	outline: 0;
}
.ec_product_quick_view_box_content_row .ec_product_title_link:hover {

	color:[main_color]!important;
	background-color: #f7f7f7!important;
	
}
.ec_product_quick_view_box_content_right {
	width: 310px;
	height: 100%;
	float: left;
	margin-top: 25px;
	text-align:left;
}
.ec_product_quick_view_box_content_row {
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family:[content_font];
}
.ec_product_quick_view_box_content_row2 {
	width: 100%;
	float: left;
	padding-top: 5px;
	font-family:[content_font];
}
.ec_product_quick_view_box_content_row3 {
	width: 100%;
	float: left;
	padding-bottom: 5px;
	font-family:[content_font];
}
.ec_product_quick_view_box_content_gift_card_row {
	width: 100%;
	float: left;
	margin-top: 5px;
}
.ec_product_quick_view_box_content_row input[type="number"] {
	width: 50px;
	text-align: center;
}
.ec_product_quick_view_box_content_row .product_submit_button {
	background-color: #3ab700;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418721), color-stop(50%, #3b7b1e), color-stop(100%, #4fa428));
	background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
	background-image: linear-gradient(top, #9ee080 0%, #66ce36 10%, #418721 50%, #3b7b1e 50%, #4fa428 100%);
	border-color: #295615;
	text-shadow: #123800 0px 1px 1px;
	-moz-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-webkit-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-o-box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	box-shadow: rgba(255,255,255,0.359) 0 0 0.1em 1px inset;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	-o-background-clip: padding-box;
	-ms-background-clip: padding-box;
	-khtml-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	color: white;
	padding: 4px;
	width: 100px;
}
.ec_product_quick_view_box_content_row .product_submit_button:hover {
	background-color: #35a800;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7b1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
	background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
	background-image: linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7b1e 50%, #356e1b 50%, #499725 100%);
	border-color: #234912;
	text-shadow: #0d2800 0px 1px 1px;
	cursor: pointer;
}
.ec_product_quick_view_box_content_option_row {
	width: 100%;
	float: left;
}
.ec_product_quick_view_box_content_option_row img{
	max-width:25px;
	max-height:25px;
	width:25px;
	height:25px;	
}
.ec_product_quick_view_box_content_row .title {
	font-size: 20px;
	color:#FFF;
	font-weight:bold;
	font-family:[title_font];
}
.ec_product_quick_view_box_content_row2 .ec_product_sale_price {
	float: none;
	text-align: left;
	width: 0;
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
}
.ec_product_quick_view_box_content_row2 .ec_product_old_price {
	float: none;
	text-align: left;
	width: 0;
	font-size: 16px;
	color: #888;
	font-size: 18px;
	font-weight: normal;
}
.ec_product_quick_view_box_content_row2 .ec_product_price {
	float: none;
	text-align: left;
	width: 0;
	font-size: 16px;
}
.ec_product_quick_view_box_content_row2 {

}
.ec_error_message_box{
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	max-width: 400px;
	
	border: 1px solid rgb(255, 6, 6);
	background-color: rgba(241, 217, 217, 0.5);
	color: #333;
	
	padding:10px;
	
	display:none;
}
/* END PRODUCT QUICK VIEW BOX*/