/* Account Page General Styles */
.ec_account_error{ width:100%; float:left; text-align:center; background-color:[error_color]; color:[error_text]; font-size:14px; font-weight:bold; font-family:[content_font]; margin-bottom:5px; border:thin solid [error_color2]; }
.ec_account_error div{ padding:15px; }
.ec_account_success{ width:100%; float:left; text-align:center; background-color:[success_color]; color:[success_text]; font-size:14px; font-weight:bold; font-family:[content_font]; margin-bottom:5px; border:thin solid [success_color2]; }
.ec_account_success div{ padding:15px; }

/* Account Login */
.ec_account_login_page_visible{ display:block; }
.ec_account_login_page_hidden{ display:none; }
.ec_account_login{ display:block; }
.ec_account_login_hidden{ display:none; }
.ec_account_login_title{ width:90%; float:left; color:[title_color]; font-family:[title_font]; border-bottom:solid 3px [main_color]; padding-bottom:5px; text-align:left; margin-bottom:4px; font-size:20px; }
.ec_account_login_subtitle{ width:90%; float:left; color:[text_color]; font-size:12px; font-family:[subtitle_font]; text-align:left; margin-top:5px; margin-bottom:30px; margin-right:10px; padding-bottom:10px; }
.ec_account_login_holder{ width:100%; float:left; margin-top:20px; }
.ec_account_login_left{ width:50%; float:left; padding-top:15px; }
.ec_account_login_right{ width:50%; float:right; padding-top:15px; text-align:left; }
.ec_account_login_row{ width:100%; float:left; margin-bottom:5px; font-size:12px; font-family:[content_font]; }
.ec_account_login_row_label{ width:115px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:#333; line-height:28px; }
.ec_account_login_row_input{ width:250px; float:left; text-align:left; }
.ec_account_login_row_input a{ margin-top:10px; font-family:[content_font]; color:[link_color] !important; text-decoration:none; }
.ec_account_login_row_input a:hover{ color:[link_hover_color] !important; }
.ec_account_login_row_input input[type="text"]{ width:250px; padding:2px; height:28px; margin:0; }
.ec_account_login_row_input input[type="email"], .ec_account_login_row_input input[type="password"]{ width:250px; padding:1px; height:28px; margin:0; }
.ec_account_login_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; min-width:159px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; padding:6px 18px; background-image:none; box-shadow:none; height:28px; padding:0 !important; }
.ec_account_login_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_login_complete{ display:block; margin-top:30px; }
.ec_account_login_complete_hidden{ display:none; }
.ec_account_login_complete_holder{ width:100%; float:left; text-align:left; margin-top:30px; }
.ec_account_login_complete_title{ width:100%; float:left; color:#333; font-size:28px; text-align:left; margin-bottom:7px; }
.ec_account_login_complete_subtitle{ width:100%; float:left; color:#666; font-size:12px; font-family:[subtitle_font]; text-align:left; }
.ec_account_login_complete_logout_link{ font-size:12px; font-family:[content_font]; color:[link_color]; }
.ec_account_login_complete_logout_link:hover{ text-decoration:none; color:[link_hover_color]; }
.ec_account_login_create_account_button{ display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[title_font]!important; font-size:11px; font-weight:bold; outline:0; width:165px; height:28px; line-height:28px; background-color:[main_color] !important; background:[main_color] !important; border:1px solid #CCC !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; background-image:none; box-shadow:none; }
.ec_account_login_create_account_button:hover{ cursor:pointer; color:[main_color]; background-color:#f7f7f7; }
.ec_account_login_row_error{ width:100%; float:left; height:35px; }
.ec_account_login_row_error .ec_account_login_label{ color:[error_text]; }
.ec_account_login_row_error .ec_account_login_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }
.ec_account_login_row_error input[type="text"], .ec_account_login_row_error input[type="email"], .ec_account_login_row_error input[type="password"]{ width:250px; padding:2px; height:21px; margin:0; }
.ec_account_login_holder form{ margin-bottom:0px !important; }

/* Account Forgot Password */
.ec_account_forgot_password_page_visible{ display:block; }
.ec_account_forgot_password_page_hidden{ display:none; }
.ec_account_forgot_password_title{ width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; font-size:20px; color:[title_color]; font-family:[title_font]; margin-bottom:24px; }
.ec_account_forgot_password_holder{ width:100%; float:left; }
.ec_account_forgot_password_row{ width:100%; float:left; margin-bottom:5px; font-size:12px; font-family:[content_font]; }
.ec_account_forgot_password_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:180px; height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; margin-left:0px; background-image:none; box-shadow:none; padding:0 !important; }
.ec_account_forgot_password_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_forgot_password_row_error{ width:100%; float:left; margin-bottom:5px; font-size:12px; font-family:[content_font]; }
.ec_account_forgot_password_row_error .ec_account_forgot_password_label{ color:[error_text]; }
.ec_account_forgot_password_row_error .ec_account_forgot_password_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }
.ec_account_forgot_password_label{ width:115px; line-height:28px; float:left; color:[text_color]; font-weight:bold; }
.ec_account_forgot_password_input{ width:300px; float:left; }
.ec_account_forgot_password_input input[type="text"], .ec_account_forgot_password_input input[type="email"], .ec_account_forgot_password_input input[type="password"], .ec_account_forgot_password_row_error input[type="text"], .ec_account_forgot_password_row_error input[type="email"], .ec_account_forgot_password_row_error input[type="password"]{ width:280px; padding:2px; height:28px; margin:0px; }

/* Account Register */
.ec_account_register_title{ width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-family:[title_font]; font-size:20px; margin-bottom:24px; }
.ec_account_register_holder{ width:100%; float:left; padding-left:10px; }
.ec_account_register_row{ width:100%; float:left; }
.ec_account_register_label{ width:140px; line-height:28px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_account_register_input{ width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font]; }
.ec_account_register_input input[type="text"], .ec_account_register_input input[type="email"], .ec_account_register_input input[type="password"]{ margin:0; width:400px; height:28px; padding:1px; margin-bottom:5px; }
.ec_account_register_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:159px; height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; background-image:none; box-shadow:none; padding:0 !important; }
.ec_account_register_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_register_row_error{ width:100%; float:left; }
.ec_account_register_row_error .ec_account_register_label{ color:[error_text]; }
.ec_account_register_row_error .ec_account_register_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }

/* Account Dashboard */
.ec_account_dashboard_holder_main{ width:100%; float:left; }
.ec_account_dashboard_left{ width:67%; float:left; }
.ec_account_dashboard_right{ width:25%; margin-left:3%; float:right; border:1px solid #e9e9e9; -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow:0 1px 4px rgba(0,0,0,0.07); box-shadow:0 1px 4px rgba(0,0,0,0.07); padding-left:10px; padding-right:10px; padding-bottom:10px; }
.ec_account_dashboard_title{ width:100%; float:left; padding-top:15px; padding-bottom:7px; margin-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-size:20px; text-align:left; font-family:[title_font]; }
.ec_account_dashboard_holder{ width:100%; float:left; font-family:[content_font]; font-size:12px; }
.ec_account_dashboard_right .ec_account_dashboard_holder a{ font-size:12px; font-family:[content_font]; font-weight:bold; color:[link_color] !important; text-decoration:none; }
.ec_account_dashboard_right .ec_account_dashboard_holder a:hover{ color:[link_hover_color] !important; }
.ec_account_dashboard_holder a{ font-size:12px; font-family:[content_font]; font-weight:bold; color:[main_color] !important; text-decoration:none; }
.ec_account_dashboard_holder a:hover{ color:#666666 !important; }
.ec_account_dashboard_row{ width:100%; text-align:left; float:left; font-size:12px; font-family:[content_font]; }
.ec_account_dashboard_row_content{ width:100%; text-align:left; float:left; font-size:12px; font-family:[content_font]; padding:5px 0; }
.ec_account_dashboard_row_bold{ width:100%; text-align:left; float:left; font-size:13px; font-family:[content_font]; font-weight:bold; color:#000000; margin-top:15px; }
.ec_account_dashboard_row_divider{ width:100%; text-align:center; float:left; background-color:#ffffff; border-bottom:3px solid [main_color]; margin-top:3px; margin-bottom:25px; padding-top:20px; padding-bottom:20px; }
.ec_account_dashboard_row_divider a{ display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:150px; height:28px; line-height:28px; background-repeat:no-repeat; background-color:[main_color] !important; background:[main_color] !important; border:1px solid #CCC !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-left:0px; }
.ec_account_dashboard_row_divider a:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_order_line_header{ width:100%; float:left; background-color:#f7f7f7; padding:8px 0px; margin:0 0 4px 0; border-bottom:solid 1px #eeeeee; }
.ec_account_order_line_column1_header{ float:left; padding-left:20px; margin-top:3px; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[main_color]; }
.ec_account_order_line_column2_header, .ec_account_order_line_column3_header, .ec_account_order_line_column4_header{ float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[main_color]; }
.ec_account_order_line_column5_header{ float:right; text-align:right; }
.ec_account_subscription_line_header{ width:100%; float:left; background-color:#f7f7f7; padding:8px 0px; margin:0 0 4px 0; border-bottom:solid 1px #eeeeee; }
.ec_account_subscription_line_column1_header{ float:left; padding-left:20px; margin-top:3px; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[main_color]; }
.ec_account_subscription_line_column2_header, .ec_account_subscription_line_column3_header, .ec_account_subscription_line_column4_header{ float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[main_color]; }
.ec_account_subscription_line_column5_header{ float:right; text-align:right; }
.ec_account_order_line_column1_header{ width:75px; }
.ec_account_order_line_column2_header{ width:150px; }
.ec_account_order_line_column3_header{ width:75px; }
.ec_account_order_line_column4_header{ width:135px; }
.ec_account_order_line_column5_header{ width:125px; }
.ec_account_subscription_line_column1_header{ width:195px; }
.ec_account_subscription_line_column2_header{ width:120px; }
.ec_account_subscription_line_column3_header{ width:120px; }
.ec_account_subscription_line_column4_header{ width:110px; }
.ec_account_subscription_line_column5_header{ width:125px; }

/* Account Billing + Shipping */
.ec_account_billing_information_title, .ec_account_shipping_information_title{ width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-family:[title_font]; font-size:20px; margin-bottom:24px; }
.ec_account_billing_information_holder, .ec_account_shipping_information_holder{ width:100%; float:left; padding-left:10px; }
.ec_account_billing_information_row, .ec_account_shipping_information_row{ width:100%; float:left; height:35px; }
.ec_account_billing_information_label, .ec_account_shipping_information_label{ width:140px; line-height:28px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_account_billing_information_input, .ec_account_shipping_information_input{ width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font]; }
.ec_account_billing_information_input input[type="text"], .ec_account_billing_information_input input[type="email"], .ec_account_billing_information_input input[type="password"], .ec_account_shipping_information_input input[type="text"], .ec_account_shipping_information_input input[type="email"], .ec_account_shipping_information_input input[type="password"]{ margin:0; width:400px; height:28px; padding:1px 6px; }
.ec_account_billing_information_input select, .ec_account_shipping_information_input select{ margin:0; width:414px; height:32px; }
.ec_account_billing_information_button, .ec_account_shipping_information_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:159px; height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; margin-left:0px; background-image:none; box-shadow:none; padding:0 !important; }
.ec_account_billing_information_button:hover, .ec_account_shipping_information_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_billing_information_row_error, .ec_account_shipping_information_row_error{ width:100%; float:left; height:35px; }
.ec_account_billing_information_row_error .ec_account_billing_information_label, .ec_account_shipping_information_row_error .ec_account_shipping_information_label{ color:[error_text]; }
.ec_account_billing_information_row_error .ec_account_billing_information_input_field, .ec_account_shipping_information_row_error .ec_account_shipping_information_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }

/* Account Personal Info */
.ec_account_personal_information_page_visible{ display:block; }
.ec_account_personal_information_page_hidden{ display:none; }
.ec_account_personal_information_main_title{ width:100%; float:left; padding-top:15px; padding-bottom:7px; margin-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-size:20px; text-align:left; font-family:[title_font]; }
.ec_account_personal_information_main_sub_title{ width:100%; font-size:12px; font-weight:normal; text-align:left; float:left; margin-bottom:20px; font-family:[subtitle_font]; }
.ec_account_personal_information_holder{ width:100%; float:left; }
.ec_account_personal_information_row{ width:100%; float:left; height:35px; }
.ec_account_personal_information_label{ width:140px; line-height:28px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_account_personal_information_input{ width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font]; }
.ec_account_personal_information_input input[type="text"], .ec_account_personal_information_input input[type="email"], .ec_account_personal_information_input input[type="password"]{ margin:0; width:400px; height:28px; padding:1px; }
.ec_account_personal_information_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:159px; height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; margin-left:0px; background-image:none; box-shadow:none; padding:0 !important; }
.ec_account_personal_information_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_personal_information_row_error{ width:100%; float:left; height:35px; }
.ec_account_personal_information_row_error .ec_account_personal_information_label{ color:[error_text]; }
.ec_account_personal_information_row_error .ec_account_personal_information_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }

/* Account Password Edit */
.ec_account_password_main_title{ width:100%; float:left; padding-bottom:7px; border-bottom:3px solid [main_color]; font-size:20px; color:[title_color]; font-family:[title_font]; margin-bottom:24px; }
.ec_account_password_main_sub_title{ width:100%; font-size:12px; font-weight:normal; text-align:left; float:left; margin-bottom:20px; font-family:[subtitle_font]; color:[text_color]; }
.ec_account_password_holder{ width:100%; float:left; }
.ec_account_password_row{ width:100%; float:left; height:35px; }
.ec_account_password_label{ width:140px; line-height:28px; text-align:left; float:left; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_account_password_input{ width:400px; text-align:left; float:left; font-size:12px; font-family:[content_font]; }
.ec_account_password_input input[type="text"], .ec_account_password_input input[type="email"], .ec_account_password_input input[type="password"]{ margin:0; width:400px; height:28px; padding:1px; }
.ec_account_password_error_text{ float:left; margin-left:20px; margin-top:8px; font-size:12px; font-family:[content_font]; color:#900;  display:none;	 }
.ec_account_password_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:159px; height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; margin-left:0px; background-image:none; box-shadow:none; padding:0 !important; }
.ec_account_password_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_password_row_error{ width:100%; float:left; height:35px; }
.ec_account_password_row_error .ec_account_password_label{ color:[error_text]; }
.ec_account_password_row_error .ec_account_password_input_field{ background-color:[error_color]; border:2px solid [error_color2]; }
.ec_account_password_row_error .ec_account_password_error_text{ display:block; }

/* Account Orders */
.ec_account_orders_main_holder{ width:100%; float:left; }
.ec_account_orders_left{ width:70%; float:left; }
.ec_account_orders_right{ width:24%; margin-left:3%; float:right; border:1px solid #e9e9e9; -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow:0 1px 4px rgba(0,0,0,0.07); box-shadow:0 1px 4px rgba(0,0,0,0.07); padding-left:10px; padding-right:10px; padding-bottom:10px; }
.ec_account_orders_title{ width:100%; float:left; padding-top:15px; padding-bottom:7px; margin-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-size:20px; text-align:left; font-family:[title_font]; }
.ec_account_orders_holder{ width:100%; float:left; }
.ec_account_orders_row{ width:100%; text-align:left; padding:5px 0; }
.ec_account_orders_holder a{ font-size:12px; font-family:[content_font]; font-weight:bold; color:[link_color] !important; line-height:16px; }
.ec_account_orders_holder a:hover{ text-decoration:none; color:[link_hover_color] !important; }
.ec_account_order_line_0{ width:100%; float:left; background-color:#ffffff; padding:8px 0; }
.ec_account_order_line_1{ width:100%; float:left; background-color:#f7f7f7; padding:8px 0px; }
.ec_account_order_line_column1{ width:75px; float:left; padding-left:20px; margin-top:3px; text-align:left; font-size:12px; font-weight:normal; font-family:[content_font]; }
.ec_account_order_line_column2{ width:150px; float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_account_order_line_column3{ width:75px; float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:normal; font-family:[content_font]; }
.ec_account_order_line_column4{ width:135px; float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:normal; font-family:[content_font]; }
.ec_account_order_line_column5{ width:105px; float:right; text-align:right; }
.ec_account_order_line_column5 a{ display:block; float:right; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:8px; font-weight:bold; outline:0; width:80px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; padding:8px 0px; }
.ec_account_order_line_column5 a:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }

/* Account Subscriptions */
.ec_account_subscriptions_main_holder{ width:100%; float:left; }
.ec_account_subscriptions_left{ width:70%; float:left; }
.ec_account_subscriptions_right{ width:24%; margin-left:3%; float:right; border:1px solid #e9e9e9; -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow:0 1px 4px rgba(0,0,0,0.07); box-shadow:0 1px 4px rgba(0,0,0,0.07); padding-left:10px; padding-right:10px; padding-bottom:10px; }
.ec_account_subscriptions_title{ width:100%; float:left; padding-top:15px; padding-bottom:7px; margin-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-size:20px; text-align:left; font-family:[title_font]; }
.ec_account_subscriptions_holder{ width:100%; float:left; }
.ec_account_subscriptions_row{ width:100%; text-align:left; padding:5px 0; }
.ec_account_subscriptions_row > a{ font-size:12px; font-family:[content_font]; font-weight:bold; color:[link_color] !important; line-height:16px; }
.ec_account_subscriptions_row > a:hover{ text-decoration:none; color:[link_hover_color] !important; }
.ec_subscription_none_found{ float:left; width:100%; height:150px; line-height:150px; text-align:center; }

/* Account Order Details */
.ec_account_order_details_main_holder{ width:100%; float:left; }
.ec_account_complete_payment_row{ width:100%; float:left; }
.ec_account_complete_payment_button{ background-color:#333333; width:250px; height:35px; text-align:center; line-height:35px; font-weight:bold; font-size:14px; box-shadow:1px 1px 6px #333; float:right; }
.ec_account_complete_order_link{ color:#FFF !important; }
.ec_account_complete_order_link:hover{ color:#E9E9E9 !important; text-decoration:none; }
.ec_account_order_details_right{ width:70%; float:right; }
.ec_account_order_details_left{ width:25%; margin-right:5%; float:left; }
.ec_account_order_details_title{ width:100%; float:left; padding-top:15px; padding-bottom:7px; margin-bottom:7px; border-bottom:3px solid [main_color]; color:[title_color]; font-size:20px; text-align:left; font-family:[title_font]; }
.ec_account_order_details_title .left{ float:left; }
.ec_account_order_details_title .right{ float:right; position:relative; top:3px; }
.ec_account_order_details_holder{ width:100%; float:left; font-size:12px; font-family:[content_font]; color:#333; font-weight:normal; }
.ec_account_order_details_row{ width:100%; float:left; padding:2px 0px; }
.ec_account_order_details_header_row{ width:100%; float:left; background-color:#f7f7f7; color:[main_color]; font-weight:bold; padding:4px 0px; }
.ec_account_order_details_column1_header{ width:112px; float:left; text-align:left; padding:4px 0px 4px 8px; }
.ec_account_order_details_column2_header{ width:265px; float:left; text-align:left; padding:4px 0px; }
.ec_account_order_details_column3_header{ width:110px; float:left; text-align:center; padding:4px 0px; }
.ec_account_order_details_column4_header{ width:80px; float:left; text-align:center; padding:4px 0px; }
.ec_account_order_details_column5_header{ width:85px; float:right; text-align:right; padding:4px 8px 4px 0px; }
.ec_account_order_details_column1{ width:155px; float:left; text-align:left; }
.ec_account_order_details_column2{ width:220px; float:left; text-align:left; }
.ec_account_order_details_column3{ width:110px; float:left; }
.ec_account_order_details_column4{ width:80px; float:left; }
.ec_account_order_details_column5{ width:85px; float:right; }
.ec_account_order_details_column_payment_label{ width:80%; float:left; text-align:right; }
.ec_account_order_details_column_payment_price{ width:15%; margin-left:5%; float:right; text-align:right; }
.ec_account_order_details_item_display_column1 img{ max-width:100px !important; }
.ec_account_order_notes{ width:100%; float:left; margin-top:20px;	 }
.ec_account_order_details_column1_header{ width:112px; }
.ec_account_order_details_item_display_column1{ width:120px; }
.ec_account_order_details_column2_header, .ec_account_order_details_item_display_column2{ width:210px; }
.ec_account_order_details_column3_header, .ec_account_order_details_item_display_column3{ width:110px; }
.ec_account_order_details_column4_header, .ec_account_order_details_item_display_column4{ width:80px; }
.ec_account_order_details_column5_header, .ec_account_order_details_item_display_column5{ width:85px; }
.ec_account_order_details_item_display{ width:100%; border-bottom:1px solid #999; float:left; padding:10px 0px; }
.ec_account_order_details_item_display_column1, .ec_account_order_details_item_display_column2{ float:left; text-align:left; }
.ec_account_order_details_item_display_column3, .ec_account_order_details_item_display_column4{ float:left; text-align:center; }
.ec_account_order_details_item_display_column5{ float:right; text-align:right; padding-right:8px; }
.ec_account_order_details_item_display_column2 div{ width:100%; float:left; }
.ec_account_order_details_item_display_column4 input[type="text"]{ width:50px; text-align:center; }
.ec_account_order_details_item_display_title{ font-size:12px; font-weight:bold; text-align:left; }
.ec_account_order_details_item_display_option{ font-size:11px; color:#333; line-height:15px; text-align:left; }
.ec_account_order_details_item_display_unit_price{ font-size:12px; }
.ec_account_order_details_item_display_total_price{ font-size:12px; font-weight:bold; padding-right:5px; }
.ec_account_order_details_item_display_update_button input[type="submit"]{ display:block; float:right; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:Arial,Helvetica,sans-serif!important; font-size:11px; font-weight:bold; outline:0; width:80px; height:28px; line-height:28px; background-repeat:no-repeat; background-color:#6e9e42; border:1px solid #CCC !important; color:#ffffff; font-weight:bold; text-align:center; border:none; }
.ec_account_order_details_item_display_update_button input[type="submit"]:hover{ cursor:pointer; color:#064C07; background-color:#f7f7f7; }
.ec_account_order_details_item_display_delete_button input[type="submit"]{ display:block; float:right; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:Arial,Helvetica,sans-serif!important; font-size:11px; font-weight:bold; outline:0; width:80px; height:28px; line-height:28px; background-repeat:no-repeat; background-color:#6e9e42; border:1px solid #CCC !important; color:#ffffff; font-weight:bold; text-align:center; border:none; }
.ec_account_order_details_item_display_delete_button input[type="submit"]{ cursor:pointer; color:#064C07; background-color:#f7f7f7; }

/* Account Subscription Details */
.ec_account_subscription_upgrade_row{ margin-top:15px; }
.ec_account_subscription_upgrade_row > select{ width:inherit !important; }
.ec_account_subscription_billing, .ec_account_subscription_payment{ display:none; }
.ec_account_subscription_subtitle{ width:100%; float:left; margin-top:-20px; margin-bottom:20px; }
.ec_account_subscription_button input[type="submit"]{ display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:12px; font-weight:bold; outline:0; width:280px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; padding:8px 0px; margin-bottom:15px; }
.ec_account_subscription_button input[type="submit"]:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_subscription_line_0{ width:100%; float:left; background-color:#ffffff; padding:8px 0; }
.ec_account_subscription_line_1{ width:100%; float:left; background-color:#f7f7f7; padding:8px 0px; }
.ec_account_subscription_line_column1{ float:left; padding-left:20px; margin-top:3px; text-align:left; font-size:12px; font-weight:normal; font-family:[content_font]; }
.ec_account_subscription_line_column2, .ec_account_subscription_line_column3, .ec_account_subscription_line_column4{ float:left; margin-top:3px; text-align:left; font-size:12px; font-weight:normal; font-family:[content_font]; }
.ec_account_subscription_line_column2{ font-weight:bold; }
.ec_account_subscription_line_column5{ float:right; text-align:right; }
.ec_account_subscription_line_column5 a{ display:block; float:right; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:10px; font-weight:bold; outline:0; width:100px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; padding:8px 0px; }
.ec_account_subscription_line_column5 a:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_account_subscription_line_column1{ width:195px; }
.ec_account_subscription_line_column2, .ec_account_subscription_line_column3{ width:120px; }
.ec_account_subscription_line_column4{ width:110px; }
.ec_account_subscription_line_column5{ width:105px; }

/* Responsive CSS */
@media only screen and ( min-width:[size_level5_low]px ){

}

@media only screen and ( min-width:[size_level4_low]px ) and ( max-width:[size_level4_high]px ){
	.ec_account_order_line_column1_header{ width:63px; }
	.ec_account_order_line_column5_header{ width:100px; }
	.ec_account_subscription_line_column1_header{ width:135px; }
	.ec_account_subscription_line_column5_header{ width:100px; }
	.ec_account_order_line_column1{ width:63px; }
	.ec_account_order_line_column5{ width:100px; }
	.ec_account_subscription_line_column1{ width:135px; }
	.ec_account_subscription_line_column5{ width:100px; }
}

@media only screen and ( min-width:[size_level3_low]px ) and ( max-width:[size_level3_high]px ){
	.ec_account_login_title{ width:100%; }
	.ec_account_login_left{ width:48%; }
	.ec_account_login_right{ width:48%; }
	.ec_account_login_row{ height:65px }
	.ec_account_login_row_error{ height:65px; }
	.ec_account_login_row_error input[type="text"], .ec_account_login_row_error input[type="email"], .ec_account_login_row_error input[type="password"]{ width:220px; }
	
	.ec_account_dashboard_left{ width:100%; }
	.ec_account_dashboard_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	.ec_account_order_line_column1_header{ width:195px; }
	.ec_account_order_line_column5_header{ width:95px; }
	.ec_account_subscription_line_column5_header{ width:95px; }
	.ec_account_orders_left{ width:100%; }
	.ec_account_orders_right{ width:100%; margin-left:0px; float:left; padding:0px; } 
	.ec_account_order_line_column1{ width:73px; }
	.ec_account_order_line_column5{ width:95px; }
	
	.ec_account_password_row_error{ height:55px; }
	.ec_account_password_row_error .ec_account_password_error_text{ float:right; width:100%; text-align:center; }
	
	.ec_account_subscriptions_left{ width:100%; }
	.ec_account_subscriptions_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	
	.ec_account_order_details_right{ width:100%; float:none; }
	.ec_account_order_details_left{ width:100%; margin-right:0px; float:none; }
	.ec_account_order_details_column2_header, .ec_account_order_details_item_display_column2{ width:295px; }
	.ec_account_order_details_column3_header, .ec_account_order_details_item_display_column3{ width:100px; }
	.ec_account_order_details_column4_header, .ec_account_order_details_item_display_column4{ width:54px; }
	.ec_account_order_details_column5_header, .ec_account_order_details_item_display_column5{ width:61px; }
	
	.ec_account_subscription_line_column5{ width:95px; }
}

@media only screen and ( min-width:[size_level2_low]px ) and ( max-width:[size_level2_high]px ){
	.ec_account_login_title{ width:100%; } 
	.ec_account_login_left{ width:100%; }
	.ec_account_login_right{ width:100%; float:left; }
	.ec_account_login_row{ height:65px }
	.ec_account_login_row_error{ height:65px; }
	.ec_account_login_button{ width:159px; }
	
	.ec_account_forgot_password_label{ width:90px; }
	.ec_account_forgot_password_input{ width:100px; }
	.ec_account_forgot_password_input input[type="text"], .ec_account_forgot_password_input input[type="email"], .ec_account_forgot_password_input input[type="password"], .ec_account_forgot_password_row_error input[type="text"], .ec_account_forgot_password_row_error input[type="email"], .ec_account_forgot_password_row_error input[type="password"]{ width:250px; }
	
	.ec_account_register_row{ height:50px; }
	.ec_account_register_label{ margin-bottom:2px; }
	.ec_account_register_input{ width:300px; }
	.ec_account_register_input input[type="text"], .ec_account_register_input input[type="email"], .ec_account_register_input input[type="password"]{ width:300px; height:20px; }
	.ec_account_register_row_error{ height:50px; }
	
	.ec_account_billing_information_input input[type="text"], .ec_account_billing_information_input input[type="email"], .ec_account_billing_information_input input[type="password"], .ec_account_shipping_information_input input[type="text"], .ec_account_shipping_information_input input[type="email"], .ec_account_shipping_information_input input[type="password"]{ width:276px; height:21px; padding:2px; }
	.ec_account_billing_information_input select, .ec_account_shipping_information_input select{ width:280px; height:25px; }
	.ec_account_billing_information_label, .ec_account_shipping_information_label{ margin-bottom:2px; }
	.ec_account_billing_information_holder, .ec_account_shipping_information_holder{ padding:0px; }
	.ec_account_billing_information_row, .ec_account_shipping_information_row{ height:55px; }
	.ec_account_billing_information_input, .ec_account_shipping_information_input{ width:280px; }
	.ec_account_billing_information_button, .ec_account_shipping_information_button{ width:130px; }
	.ec_account_billing_information_row_error, .ec_account_shipping_information_row_error{ height:55px; }
	
	.ec_account_personal_information_input input[type="text"], .ec_account_personal_information_input input[type="email"], .ec_account_personal_information_input input[type="password"]{ width:276px; height:21px; padding:2px; }
	.ec_account_personal_information_input select{ margin:0px; width:276px; height:25px; }
	.ec_account_personal_information_label{ margin-bottom:2px; }
	.ec_account_personal_information_holder{ padding:0px; }
	.ec_account_personal_information_row{ height:55px; }
	.ec_account_personal_information_input{ width:280px; }
	.ec_account_personal_information_row_error{ height:35px; }
	.ec_account_personal_information_button{ width:130px; }
	
	.ec_account_dashboard_left{ width:100%; }
	.ec_account_dashboard_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	.ec_account_order_line_column1_header{ padding-left:20px; width:73px; }
	.ec_account_order_line_column2_header{ width:135px; margin-right:20px; font-size:11px; }
	.ec_account_order_line_column4_header{ display:none; }
	.ec_account_order_line_column5_header{ width:100%; text-align:center; margin-top:10px; }
	.ec_account_subscription_line_column1_header{ padding-left:20px; width:130px; }
	.ec_account_subscription_line_column2_header{ width:70px; margin-right:20px; font-size:11px; }
	.ec_account_subscription_line_column4_header{ display:none; }
	.ec_account_subscription_line_column5_header{ width:100%; text-align:center; margin-top:10px; }
	.ec_account_orders_left{ width:100%; }
	.ec_account_orders_right{ width:100%; margin-left:0px; float:left; padding:0px } 
	.ec_account_order_line_column1{ padding-left:20px; width:73px; }
	.ec_account_order_line_column2{ width:135px; margin-right:20px; font-size:11px; }
	.ec_account_order_line_column4{ display:none; }
	.ec_account_order_line_column5{ width:95px; text-align:center; margin-top:0px; }
	
	.ec_account_password_input input[type="text"], .ec_account_password_input input[type="email"], .ec_account_password_input input[type="password"]{ width:276px; height:21px; padding:2px; }
	.ec_account_password_input select{ width:280px; height:25px; }
	.ec_account_password_label{ margin-bottom:2px; }
	.ec_account_password_holder{ padding:0px; }
	.ec_account_password_row{ height:55px; }
	.ec_account_password_input{ width:280px; }
	.ec_account_password_button{ width:130px; }
	.ec_account_password_row_error{ height:80px; }
	
	.ec_account_subscriptions_left{ width:100%; }
	.ec_account_subscriptions_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	
	.ec_account_order_details_right{ width:100%; float:none; }
	.ec_account_order_details_left{ width:100%; margin-right:0px; float:none; }
	.ec_account_order_details_column2_header, .ec_account_order_details_item_display_column2{ width:190px; }
	.ec_account_order_details_column3_header, .ec_account_order_details_item_display_column3, .ec_account_order_details_column4_header, .ec_account_order_details_item_display_column4{ display:none; }
	.ec_account_order_details_column5_header, .ec_account_order_details_item_display_column5{ width:61px; }
	
	.ec_account_subscription_line_column1{ padding-left:20px; width:140px; }
	.ec_account_subscription_line_column2{ width:60px; margin-right:20px; font-size:11px; }
	.ec_account_subscription_line_column4{ display:none; }
	.ec_account_subscription_line_column5{ width:95px; text-align:center; margin-top:0px; }
}

@media only screen and ( max-width:[size_level1_high]px ){
	.ec_account_login_title{ width:100%; }
	.ec_account_login_left{ width:100%; }
	.ec_account_login_right{ width:100%; float:left; }
	.ec_account_login_row_input{ width:100%; }
	.ec_account_login_button{ width:100%; }
	.ec_account_login_row_input input[type="text"], .ec_account_login_row_input input[type="email"], .ec_account_login_row_input input[type="password"], .ec_account_login_create_account_button{ width:100%; }
	.ec_account_login_row{ height:65px; }
	.ec_account_login_row_error{ height:65px; }
	.ec_account_login_row_error input[type="text"], .ec_account_login_row_error input[type="email"], .ec_account_login_row_error input[type="password"]{ width:100%; }
	
	.ec_account_forgot_password_label{ width:70px; }
	.ec_account_forgot_password_input{ width:260px; }
	.ec_account_forgot_password_input input[type="text"], .ec_account_forgot_password_input input[type="email"], .ec_account_forgot_password_input input[type="password"], .ec_account_forgot_password_row_error input[type="text"], .ec_account_forgot_password_row_error input[type="email"], .ec_account_forgot_password_row_error input[type="password"]{ width:256px; }
	.ec_account_forgot_password_button{ width:260px; }
	
	.ec_account_register_holder{ padding-left:0px; }
	.ec_account_register_row{ height:50px; }
	.ec_account_register_label{ margin-bottom:2px; }
	.ec_account_register_input{ width:100%; }
	.ec_account_register_input input[type="text"], .ec_account_register_input input[type="email"], .ec_account_register_input input[type="password"]{ width:100%; height:20px; }
	.ec_account_register_button{ width:100%; }
	
	.ec_account_billing_information_input input[type="text"], .ec_account_billing_information_input input[type="email"], .ec_account_billing_information_input input[type="password"], .ec_account_shipping_information_input input[type="text"], .ec_account_shipping_information_input input[type="email"], .ec_account_shipping_information_input input[type="password"]{ width:100%; height:21px; padding:2px; }
	.ec_account_billing_information_input select, .ec_account_shipping_information_input select{ width:100%; height:25px; }
	.ec_account_billing_information_label, .ec_account_shipping_information_label{ width:100%; height:22px; line-height:22px; }
	.ec_account_billing_information_holder, .ec_account_shipping_information_holder{ padding:0px; }
	.ec_account_billing_information_row, .ec_account_shipping_information_row{ height:65px; }
	.ec_account_billing_information_input, .ec_account_shipping_information_input{ width:100%; }
	.ec_account_billing_information_button, .ec_account_shipping_information_button{ width:100%; }
	.ec_account_billing_information_row_error, .ec_account_shipping_information_row_error{ height:65px; }
	
	.ec_account_personal_information_input input[type="text"], .ec_account_personal_information_input input[type="email"], .ec_account_personal_information_input input[type="password"]{ width:100%; height:21px; padding:2px; }
	.ec_account_personal_information_input select{ margin:0px; width:100%; height:25px; }
	.ec_account_personal_information_label{ height:22px; line-height:22px; }
	.ec_account_personal_information_holder{ padding:0px; }
	.ec_account_personal_information_row{ height:65px; }
	.ec_account_personal_information_input{ width:100%; }
	.ec_account_personal_information_button{ width:100%; }
	.ec_account_personal_information_row_error{ height:65px; }
	
	.ec_account_dashboard_left{ width:100%; }
	.ec_account_dashboard_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	.ec_account_order_line_column1_header{ padding-left:10px; width:53px; }
	.ec_account_order_line_column2_header{ width:120px; margin-right:10px; font-size:11px; }
	.ec_account_order_line_column3_header, .ec_account_order_line_column4_header{ display:none; }
	.ec_account_order_line_column5_header{ width:100%; text-align:center; margin-top:10px; }
	.ec_account_dashboard_row_divider a{ width:100%; }
	.ec_account_subscription_line_column1_header{ padding-left:10px; width:165px; }
	.ec_account_subscription_line_column2_header{ width:80px; margin-right:10px; font-size:11px; }
	.ec_account_subscription_line_column3_header, .ec_account_subscription_line_column4_header{ display:none; }
	.ec_account_subscription_line_column5_header{ width:100%; text-align:center; margin-top:10px; }
	.ec_account_dashboard_row_divider a{ width:100%; }
	.ec_account_orders_left{ width:100%; }
	.ec_account_orders_right{ width:100%; margin-left:0px; float:left; padding:0px; }
	.ec_account_order_line_column1{ padding-left:10px; width:43px; }
	.ec_account_order_line_column2{ width:110px; margin-right:10px; font-size:11px; }
	.ec_account_order_line_column3, .ec_account_order_line_column4{ display:none; }
	.ec_account_order_line_column5{ width:65px; text-align:center; margin-top:0px; }
	.ec_account_order_line_column5 a{ width:80px; }
	
	.ec_account_password_input input[type="text"], .ec_account_password_input input[type="email"], .ec_account_password_input input[type="password"]{ width:100%; height:21px; padding:2px; }
	.ec_account_password_input select{ margin:0px; width:100%; height:25px; }
	.ec_account_password_label{ width:100%; height:22px; line-height:22px; }
	.ec_account_password_holder{ padding:0px; }
	.ec_account_password_row{ height:65px; }
	.ec_account_password_input{ width:100%; }
	.ec_account_password_button{ width:100%; }
	.ec_account_password_row_error{ height:100px; }
	
	.ec_account_subscriptions_left{ width:100%; }
	.ec_account_subscriptions_right{ width:100%; float:left; margin-left:0px; padding:0px; }
	
	.ec_account_order_details_right{ width:100%; float:none; }
	.ec_account_order_details_left{ width:100%; margin-right:0px; float:none; }
	.ec_account_order_details_column2_header{ display:none; }
	.ec_account_order_details_item_display_column2{ width:120px; float:left; }
	.ec_account_order_details_column3_header, .ec_account_order_details_item_display_column3, .ec_account_order_details_column4_header, .ec_account_order_details_item_display_column4, .ec_account_order_details_column5_header{ display:none; }
	.ec_account_order_details_item_display_column5{ width:71px; margin-top:20px; }
	
	.ec_account_subscription_line_column1{ padding-left:10px; width:170px; }
	.ec_account_subscription_line_column2{ width:110px; margin-right:10px; font-size:11px; }
	.ec_account_subscription_line_column3, .ec_account_subscription_line_column4{ display:none; }
	.ec_account_subscription_line_column5{ width:65px; text-align:center; margin-top:0px; }
	.ec_account_subscription_line_column5 a{ width:80px; } 
}