/* Cart Page Standard Assets*/
.ec_cart_page_cart{ text-align:center; margin-top:30px; }
.ec_cart_error{ width:100%; float:left; text-align:center; background-color:[error_color]; color:[error_text]; font-size:14px; font-weight:bold; font-family:[content_font]; border:thin solid [error_color2]; margin-bottom:20px; }
ul.ec_cart_error{ list-style:none !important; border-color:#c84e45 !important; border-top:5px solid #c84e45; border-left:1px solid #e8e8e3; border-right:1px solid #e8e8e3; border-bottom:1px solid #e8e8e3; margin-right:50px; margin-left:50px; margin-top:25px; display:none; background-color:#FFF; margin-left:0px; }
ul.ec_cart_error >li{ line-height:15px; padding:10px; margin-top:5px; font-size:16px; text-align:left; font-size:13px; color:#900; }
ul.ec_cart_error >li > strong{ color:#900; }
.ec_cart_error div{ padding:15px; }
.ec_cart_success{ width:100%; float:left; text-align:center; background-color:[success_color]; color:[success_text]; font-size:14px; font-weight:bold; font-family:[content_font]; border:thin solid [success_color2]; margin-bottom:20px; }
.ec_cart_success div{ padding:15px; }
.grandTotalTxt{ color:[main_color]; }
.ec_cart_page_continue_to_shipping_button{ width:100%; float:left; }
.ec_cart_continue_to_shipping_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:150px; height:35px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; padding:8px 14px; background-image:none; box-shadow:none; }
.ec_cart_continue_to_shipping_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_page_continue_to_payment_button{ width:100%; float:left; }
.ec_cart_continue_to_payment_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:150px; height:35px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; padding:8px 14px; background-image:none; box-shadow:none; }
.ec_cart_continue_to_payment_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_submit_order_message{ width:100%; float:left; font-size:12px; font-family:[content_font]; text-align:left; margin-top:10px; margin-bottom:10px; line-height:23px; }
.ec_cart_page_submit_order_button{ width:100%; float:left; }
.ec_cart_submit_order_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:150px; height:35px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; padding:8px 14px; background-image:none; box-shadow:none; }
.ec_cart_submit_order_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_page_left{ width:50%; float:left; }
.ec_cart_page_right{ width:50%; float:right; }

/* Cart */
.ec_cart_header_row{ width:100%; float:left; margin-bottom:15px; }
.ec_cart_continue_shopping_button{ width:60%; float:right; text-align:right; }
.ec_cart_continue_shopping_button a{ display:block; float:right; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:150px; height:28px; line-height:28px; background-color:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-left:15px; margin-top:10px; }
.ec_cart_continue_shopping_button a:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_title_bar{ width:100%; float:left; height:28px; line-height:28px; background:#f7f7f7; color:[main_color]; font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_cart_item_holder{ width:100%; float:left; margin-top:10px; }
.ec_cart_lower_left_title{ margin-top:20px; margin-bottom:8px; width100%; float:left; text-align:left; font-size:20px; color:#000000; font-family:[title_font]; }
.ec_cart_lower_left_subtitle{ margin-bottom:10px; width:100%; text-align:left; float:left; font-size:12px; font-family:[subtitle_font]; }
.ec_cart_lower_right_title{ margin-top:20px; margin-bottom:10px; width:100%; font-size:20px; color:[title_color]; font-family:[title_font]; float:right; text-align:right; width:275px; }
.ec_cart_shipping_costs_row{ width:100%; float:left; text-align:left; height:35px; margin-top:10px; margin-bottom:10px; }
.ec_cart_shipping_costs_row span{ float:left; line-height:28px; margin-right:5px; font-size:12px; font-family:[content_font]; font-weight:bold; }
.ec_cart_shipping_costs_row input[type="text"]{ width:125px; height:21px; padding:2px; float:left; margin-top:0; margin-right:5px; margin-bottom:5px; margin-left:5px; }
.ec_cart_shipping_costs_row a{ display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:150px; height:28px; line-height:28px; background-repeat:no-repeat; background-color:[main_color] !important; background:[main_color] !important; border:1px solid #CCC !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-left:0px; margin-top:-1px; }
.ec_cart_shipping_costs_row a:hover{ color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_checkout_buttons{ float:left; width:100%; margin-top:15px; }
.ec_cart_checkout_buttons .left{ float:left; text-align:left; width:50%; }
.ec_cart_checkout_buttons .left a{ float:left; }
.ec_cart_checkout_buttons .right{ float:right; text-align:right; width:50%; }
.ec_cart_checkout_buttons .right a{ float:right; }
.ec_cart_checkout_buttons a{ display:block; width:100px; background-color:#e9ffde; color:#686868; padding:6px 12px; text-indent:0; text-decoration:none !important; white-space:nowrap; text-align:center; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; -moz-box-shadow:1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px rgba(107,151,30,1); -webkit-box-shadow:1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px rgba(107,151,30,1); box-shadow:1px 1px 2px rgba(0,0,0,.6), inset 0 0 5px rgba(107,151,30,1); font:bold 11px/1.2 [content_font] !important; outline:0; }
.ec_cart_checkout_buttons a:hover{ color:#3e3e3e; }
.ec_cart_lower_left{ float:left; width:415px; }
.ec_cart_lower_right{ float:right; width:275px; }
.ec_cart_lower_right_row{ width:100%; float:left; font-family:[content_font]; color:[text_color]; }
.ec_cart_lower_right_row .left, .ec_cart_lower_right_row .right{ width:125px; float:right; border:1px solid #CCC; padding:5px 5px; }
.ec_cart_lower_right_row .left, .ec_cart_lower_right_row .right{ text-align:right; }
#ec_cart_grandtotal{ text-align:right; color:[main_color]; }
.ec_estimate_shipping_country{ width:100%; float:left; height:36px; line-height:36px; }
.ec_estimate_shipping_country span{ width:60px; }
.ec_estimate_shipping_country select{ height:30px; margin-left:5px; width:291px; }
.ec_estimate_shipping_zip{ width:100%; float:left; height:36px; line-height:36px; }
.ec_estimate_shipping_zip span{ width:60px; }
.ec_estimate_shipping_loader{ display:none; float:left; margin-left:40px; }
.ec_cart_clear{ clear:both; }
.ec_cart_shipping_methods{ padding-top:10px; float:left; border-top:1px dashed #CCC; margin-top:20px; width:400px; }
.ec_cart_shipping_methods_hidden{ margin-top:10px; float:left; width:100%; display:none; }
.ec_cart_bottom_divider_line{ width:100%; float:left; padding-top:30px; margin-bottom:30px; border-bottom:1px solid #CCC; }
.ec_cart_header_title{ width:100%; float:left; text-align:left; font-size:20px; color:[title_color]; font-family:[title_font]; }
.ec_cart_title_bar_column_1, .ec_cart_item_column1{ width:14%; float:left; text-align:left; margin-left:10px; }
.ec_cart_title_bar_column_2, .ec_cart_item_column2{ width:27%; float:left; text-align:left; }
.ec_cart_title_bar_column_3, .ec_cart_item_column3{ width:12%; float:left; text-align:center; }
.ec_cart_title_bar_column_4, .ec_cart_item_column4{ width:12%; float:left; text-align:center; }
.ec_cart_title_bar_column_5, .ec_cart_item_column5{ width:12%; float:left; text-align:center; }
.ec_cart_title_bar_column_6, .ec_cart_item_column6{ width:20%; float:left; text-align:right; }

/* Cart Item */
.ec_cart_item{ width:100%; border-bottom:1px solid #CCC; float:left; }
.ec_cart_item_title{ font-size:12px; color:[title_color]; font-weight:bold; font-family:[title_font]; margin-bottom:5px; }
.ec_cart_item_title a{ color:[link_color] !important; text-decoration:none; }
.ec_cart_item_title a:hover{ color:[link_hover_color] !important; }
.ec_cart_item_option{ font-size:11px; color:[text_color]; line-height:15px; text-align:left; font-family:[content_font]; float:left; width:100%; }
.ec_cart_item_unit_price{ font-size:12px; color:[text_color]; font-family:[content_font]; font-weight:bold; }
.ec_cart_item_total_price{ font-size:12px; font-weight:bold; padding-right:5px; color:[main_color]; font-family:[content_font]; }
.ec_cart_item_quantity_box{ font-size:12px; font-weight:bold; font-family:[content_font]; }
.ec_cart_item_quantity_box input[type="number"]{ width:50px; text-align:center; }
.ec_cart_item_update_button input[type="submit"], .ec_cart_item_delete_button input[type="submit"]{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:right; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; background-color:[main_color] !important; background:[main_color] !important;border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:0px; margin-right:0px; padding:6px 10px; background-image:none; box-shadow:none; min-width:70px; }
.ec_cart_item_update_button input[type="submit"]:hover, .ec_cart_item_delete_button input[type="submit"]:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_item_update_button input[type="submit"]:active, .ec_cart_item_delete_button input[type="submit"]:active{ padding:6px 10px; }
.ec_cart_item_loader{ display:none; }
.ec_cart_item_unit_price .ec_product_old_price{ text-align:center; color:[second_color]; }
.ec_cart_item_column1 img{ max-width:95% !important; margin-bottom:5px; }
.ec_cart_item_column2, .ec_cart_item_column3, .ec_cart_item_column5, .ec_cart_item_column6{ margin-top:12px; }
.ec_cart_item_column2 div{ width:100%; float:left; text-align:left; }
.ec_cart_item_column4{ margin-top:7px; }
.ec_cart_item_column4 input[type="text"]{ width:50px; text-align:center; }
.ec_cart_item_column6 form{ margin-bottom:0px !important; }

/* Cart Coupon + Gift Card Box */
.ec_cart_coupon_row, .ec_cart_gift_card_row{ width:100%; float:left; text-align:left; margin-top:5px; }
.ec_cart_coupon_row .ec_cart_coupon_input_text, .ec_cart_gift_card_row .ec_cart_gift_card_input_text{ width:225px; height:28px; padding:2px; margin-top:0; margin-right:5px; margin-bottom:5px; margin-left:5px; float:left; }
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button{ width:159px; float:left; margin-top:0px; margin-right:5px; margin-bottom:5px; margin-left:5px; }
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button a, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button a{ display:block; float:right; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; width:150px; height:28px; line-height:28px; background-repeat:no-repeat; background-color:[main_color]; border:1px solid #CCC !important; color:#ffffff; font-weight:bold; text-align:center; border:none; margin-left:0px; }
.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button a:hover, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button a:hover{ cursor:pointer; color:[main_color]; background-color:#f7f7f7; }
.ec_cart_coupon_loader, .ec_cart_gift_card_loader{ display:none; float:left; margin-left:40px; }
.ec_cart_coupon_row_message, .ec_cart_gift_card_row_message{ width:100%; float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left; margin-bottom:5px; color:rgb(111, 139, 96); }

/* Cart Login Screen */
.ec_cart_login{ display:block; }
.ec_cart_login_hidden, .ec_cart_login_complete_hidden{ display:none; }
.ec_cart_login_title{ width:90%; float:left; font-size:20px; color:[title_color]; font-family:[title_font]; border-bottom:3px solid [main_color]; padding-bottom:5px; text-align:left; margin-bottom:4px; }
.ec_cart_login_subtitle{ width:90%; float:left; color:[text_color]; font-size:12px; font-family:[subtitle_font]; text-align:left; margin-top:5px; margin-bottom:30px; margin-right:10px; padding-bottom:10px; }
.ec_cart_login_holder{ width:100%; float:left; margin-top:20px; }
.ec_cart_login_left{ width:50%; float:left; padding-top:15px; }
.ec_cart_login_right{ width:50%; float:right; padding-top:15px; text-align:left; }
.ec_cart_login_row{ width:100%; float:left; margin-bottom:5px; font-size:12px; font-family:[content_font]; line-height:20px; }
.ec_cart_login_row_label{ width:115px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:#333; height:27px; line-height:27px; }
.ec_cart_login_row_input{ width:350px; float:left; text-align:left; }
.ec_cart_login_input[type="text"], .ec_cart_login_input[type="email"], .ec_cart_login_input[type="password"]{ width:225px; padding:2px; height:28px; margin:0; }
.ec_cart_login_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:left; text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; min-width:165px; height:28px; line-height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; background-image:none; box-shadow:none; padding:0px !important; }
.ec_cart_login_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_cart_login_complete{ display:block; margin-top:30px; }
.ec_cart_login_complete_holder{ width:100%; float:left; text-align:left; margin-top:30px; }
.ec_cart_login_complete_title{ width:100%; float:left; color:[title_color]; font-family:[title_font]; font-size:20px; text-align:left; margin-bottom:7px; }
.ec_cart_login_complete_subtitle{ width:100%; float:left; color:[text_color]; font-size:12px; font-family:[subtitle_font]; text-align:left; }
.ec_cart_login_complete_logout_link{ font-size:12px; font-family:[content_font]; color:[link_color] !important; }
.ec_cart_login_complete_logout_link:hover{ text-decoration:none; color:[link_hover_color] !important; }
.ec_cart_login_holder form{ margin-bottom:0px !important; }

/* Cart Billing + Shipping + Contact Info */
.ec_cart_billing_holder, .ec_cart_shipping_holder{ width:100%; float:left; margin-top:30px; }
.ec_cart_billing_title, .ec_cart_shipping_title{ width:100%; float:left; color:[title_color]; font-size:20px; font-family:[title_font]; text-align:left; margin-bottom:7px; }
.ec_cart_billing_row, .ec_cart_shipping_row{ width:100%; float:left; margin-top:5px; }
.ec_cart_billing_row .ec_cart_billing_label, .ec_cart_shipping_row .ec_cart_shipping_label{ width:120px; line-height:28px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; color:[text_color]; }
.ec_cart_billing_row .ec_cart_billing_input, .ec_cart_shipping_row .ec_cart_shipping_input{ float:left; text-align:left; }
.ec_cart_billing_row .ec_cart_billing_input_text, .ec_cart_shipping_row .ec_cart_shipping_input_text{ width:225px !important; min-width:200px !important; padding:6px 4px !important; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.ec_cart_billing_row select, .ec_cart_shipping_row select{ width:215px !important; min-width:200px !important; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.ec_cart_shipping_selector_row{ width:300px; margin-top:5px; text-align:left; font-size:12px; font-family:[content_font]; }
.ec_cart_shipping_selector_row input[type="radio"]{ -webkit-appearance:radio !important; }
.ec_cart_shipping_selector_row_hidden{ display:none; }
.ec_cart_billing_row_error, .ec_cart_shipping_row_error{ width:100%; float:left; margin-top:5px; }
.ec_cart_billing_row_error .ec_cart_billing_label, .ec_cart_shipping_row_error .ec_cart_shipping_label{ width:120px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; line-height:28px; color:[error_text]; }
.ec_cart_billing_row_error .ec_cart_billing_input, .ec_cart_shipping_row_error .ec_cart_shipping_input{ width:220px; float:left; text-align:left; }
.ec_cart_billing_row_error .ec_cart_billing_input_text, .ec_cart_shipping_row_error .ec_cart_shipping_input_text{ width:220px; background-color:[error_color]; border:1px solid [error_color2]; }
.ec_cart_billing_row_error .ec_cart_billing_input select, .ec_cart_shipping_row_error .ec_cart_shipping_input select{ width:225px; }
.ec_cart_contact_information_holder{ width:100%; float:left; margin-top:30px; padding-bottom:30px; border-bottom:1px solid #CCC; }
.ec_cart_contact_information_title{ width:100%; float:left; color:[title_color]; font-size:20px; font-family:[title_font]; text-align:left; margin-bottom:7px; }
.ec_cart_contact_information_row{ width:100%; float:left; margin-top:5px; }
.ec_cart_contact_information_label{ width:120px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; line-height:28px; color:[text_color]; }
.ec_cart_contact_information_input{ width:200px; float:left; text-align:left; font-family:[content_font]; font-size:12px; }
.ec_cart_contact_information_input input[type="checkbox"]{ margin-top:11px; }
.ec_cart_contact_information_input input[type="password"]{ margin-top:9px; }
.ec_cart_contact_information_input_text{ width:220px; }
.ec_cart_contact_information_row_error{ width:100%; float:left; margin-top:5px; }
.ec_cart_contact_information_row_error .ec_cart_contact_information_label{ width:120px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; line-height:28px; color:[error_text]; }
.ec_cart_contact_information_row_error .ec_cart_contact_information_input{ width:220px; float:left; text-align:left; }
.ec_cart_contact_information_row_error .ec_cart_contact_information_input_text{ width:220px; background-color:[error_color]; border:1px solid [error_color2]; }

/* Cart Shipping Methods */
.ec_cart_shipping_method_holder{ width:100%; float:left; margin-top:30px; padding-bottom:30px; border-bottom:1px solid #CCC; }
.ec_cart_shipping_method_title{ width:100%; float:left; color:[title_color]; font-size:20px; text-align:left; margin-bottom:7px; font-family:[title_font]; }
.ec_cart_shipping_method_row{ width:100%; float:left; text-align:left; font-size:12px; font-family:[content_font]; padding-top:8px; color:[text_color]; }
.ec_cart_shipping_method_row .label{ font-weight:normal; }
.ec_cart_shipping_method_row .price{ font-weight:bold; margin-left:4px; }

/* Cart Address Review */
.ec_cart_address_review_holder{ width:100%; float:left; margin-top:30px; font-family:[content_font]; color:[text_color]; }
.ec_cart_address_review_title{ width:100%; float:left; color:[title_color]; font-size:20px; font-family:[title_font]; text-align:left; margin-bottom:7px; }
.ec_cart_address_review_left{ height:160px; width:30%; float:left; background-color:#f7f7f7; text-align:left; padding-top:20px; padding-bottom:30px; border-top:2px solid #eeeeee; border-bottom:2px solid #eeeeee; }
.ec_cart_address_review_middle{ height:160px; width:30%; float:left; background-color:#f7f7f7; text-align:left; padding-top:20px; padding-bottom:30px; border-top:2px solid #eeeeee; border-bottom:2px solid #eeeeee; }
.ec_cart_address_review_right{ height:160px; width:40%; float:left; background-color:#f7f7f7; text-align:left; padding-top:20px; padding-bottom:30px; border-top:2px solid #eeeeee; border-bottom:2px solid #eeeeee; display:table-cell; }
.ec_cart_address_review_row_title{ width:100%; float:left; text-align:left; font-size:16px; font-weight:normal; color:[title_color]; margin-bottom:10px; margin-left:20px; font-family:[title_font]; }
.ec_cart_address_review_row{ width:100%; float:left; margin-left:20px; font-family:[content_font]; font-size:14px; padding:0px; color:[text_color]; line-height:18px; }
.ec_cart_address_review_right_row{ width:100%; float:left; margin-top:23px; text-align:center; }
.ec_cart_address_review_right_row a{ text-indent:0; text-decoration:none !important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font] !important; font-size:11px; font-weight:bold; outline:0; width:230px; height:28px; line-height:28px; background-color:[main_color] !important; background:[main_color] !important; border:solid 1px #cccccc !important; color:#ffffff !important; font-weight:bold; text-align:center; border:none; margin-top:10px; padding:8px 14px; }
.ec_cart_address_review_right_row a:hover{ color:[main_color] !important; background-color:#f7f7f7 !important; text-decoration:none; }

/* Cart Payment Methods */
.ec_cart_payment_information_holder{ width:100%; float:left; margin-top:30px; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #CCC; }
.ec_cart_payment_information_title{ width:100%; float:left; color:[title_color]; font-size:20px; font-family:[title_font]; text-align:left; margin-bottom:7px; }
.ec_cart_payment_information_left{ width:400px; float:left; }
.ec_cart_payment_information_right{ width:400px; float:right; text-align:left; margin-right:200px; margin-top:45px; }
.ec_cart_payment_information_row{ width:100%; float:left; text-align:left;  }
.ec_cart_payment_information_row textarea{ width:100%; height:100px; float:left; }
.ec_cart_payment_information_payment_type_row{ width:100%; float:left; margin-bottom:6px; text-align:left; font-size:12px; font-family:[content_font]; font-weight:bold; background-color:#f7f7f7; border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; }
.ec_cart_payment_information_payment_type_row.error{ color:[error_text];	 }
.ec_cart_payment_information_payment_type_row .ec_inner_padding{ float:left; padding:5px 10px; }
.ec_cart_payment_information_payment_type_row div{ width:100%; padding:10px 5px; }
.ec_cart_payment_information_payment_type_holder{ width:100%; float:left; background-color:#EEE; color:[text_color]; font-size:13px; font-family:[content_font]; margin-top:-6px; display:none; }
.ec_cart_payment_information_payment_type_holder .ec_inner_padding{ float:left; padding:20px; }
.ec_cart_payment_information_row .ec_cart_payment_information_input input[type="text"]{ margin:4px 0; }
.ec_cart_payment_information_row .ec_cart_payment_information_input select{ margin:4px 2px 4px 0; }
.ec_cart_manual_payment_information_row{ width:100%; float:left; text-align:left; font-size:12px; color:#333333; font-family:[content_font]; display:none; }
.ec_cart_payment_information_label{ width:150px; float:left; text-align:left; font-size:12px; font-family:[content_font]; margin-top:12px; font-weight:bold; color:[text_color];  }
.ec_cart_payment_information_input{ width:160px; float:left; text-align:left; }
.ec_cart_payment_information_input input, .ec_cart_payment_information_input #ec_cart_payment_type{ width:160px; min-width:100px !important; }
.ec_cart_payment_information_credit_card_active{ display:block; float:left; }
.ec_cart_payment_information_credit_card_inactive{ display:none; float:left; }
.ec_cart_payment_information_input_text{ width:160px; }
.ec_cart_payment_information_input_text_small{ width:60px; }
.ec_cart_payment_information_input_select{ width:100px; min-width:100px !important; }
.ec_cart_payment_information_row_error{ width:100%; float:left; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_label{ width:150px; float:left; text-align:left; font-size:12px; font-weight:bold; font-family:[content_font]; margin-top:12px; color:#900; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_input{ width:160px; float:left; text-align:left; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_input_text{ width:160px; background-color:[error_color]; border:2px solid [error_color2]; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_input_select{ background-color:[error_color]; border:2px solid [error_color2]; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_input input[type="text"]{ margin:3px 0; }
.ec_cart_payment_information_row_error .ec_cart_payment_information_input select{ margin:3px 2px 3px 0; }

/* Cart Subscription Page */
.ec_cart_subscription_holder_left{ float:left; width:50%; }
.ec_cart_subscription_holder_right{ float:right; width:50%; }

/* Cart Third Party Hidden Page */
.ec_cart_third_party_holder{ width:100%; float:left; text-align:center; font-family:[content_font]; color:[text_color]; }
.ec_cart_third_party_holder img{ margin:0px auto; }
.ec_cart_third_party_holder input[type="submit"]{ -webkit-appearance:none; -webkit-border-radius: 0; text-indent: 0; text-decoration: none!important; text-transform: uppercase; white-space: nowrap; text-align: center; -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; font-family: [content_font]!important; font-size:11px; font-weight:bold; outline: 0; background-color:[main_color]; border:solid 1px #cccccc !important; color:#ffffff; font-weight:bold; text-align:center; border:none; margin-top:10px; padding: 8px 14px; }
.ec_cart_third_party_holder input[type="submit"]:hover { cursor: pointer; color:[main_color]; background-color: #f7f7f7; }

/* Cart Successful Order Page */
#printable{ float:left; width:100%; }
.ec_cart_success_style20{ font-family:[content_font]; font-weight:bold; font-size:12px; color:[text_color]; text-align:left; }
.ec_cart_success_style20 table{ width:90%; border:0;  }
.ec_cart_success_style20 p{ font-family:[content_font]; }
.ec_cart_success_style20_header{ font-family:[content_font]; font-weight:bold; font-size:12px; background-color:[third_color]; color:[text_color]; }
.ec_cart_success_style22{ font-family:[content_font]; font-size:12px; border-top:none; color:[text_color]; text-align:left; }
.ec_cart_success_style22 p{ font-family:[content_font];	 text-align:left; }
.ec_option_label{ font-family:[content_font]; font-size:11px; font-weight:bold; }
.ec_option_name{ font-family:[content_font]; font-size:11px; }
.top_link_bar{ width:100%; float:left; text-align:right; }
.top_link_button{ -webkit-appearance:none; -webkit-border-radius:0; display:block; float:right; text-indent:0; text-decoration:none!important; text-transform:uppercase; white-space:nowrap; text-align:center; -moz-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select:none; font-family:[content_font]!important; font-size:11px; font-weight:bold; outline:0; background-color:[main_color]; border:solid 1px #cccccc !important; color:#ffffff; font-weight:bold; text-align:center; border:none; margin-top:10px; padding:8px 14px; width:200px; height:35px; }
.top_link_button:hover{ cursor:pointer; color:[main_color]; background-color:#f7f7f7; }
#content tr td{ border-top:none; }

/* Responsive CSS */
@media print{ 
	body *{ visibility:hidden; } 
	#printable, #printable *{ visibility:visible; } 
	#printable{ position:absolute; left:0; top:0; } 
}

@media only screen and ( min-width:[size_level5_low]px ){

}

@media only screen and ( min-width:[size_level4_low]px ) and ( max-width:[size_level4_high]px ){
	.ec_cart_item_update_button input[type="submit"], .ec_cart_item_delete_button input[type="submit"]{ width:80px; padding:6px 0px; }
}

@media only screen and ( min-width:[size_level3_low]px ) and ( max-width:[size_level3_high]px ){
	.ec_cart_submit_order_button{ width:230px; }
	.ec_cart_header_title{ width:40%; }
	.ec_cart_item_update_button input[type="submit"], .ec_cart_item_delete_button input[type="submit"]{ width:80px; padding:6px 0px; }
	.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button{ width:150px; margin-left:0px; margin-right:0px; margin-bottom:10px; }
	.ec_cart_login_title{ width:100% }
	.ec_cart_login_left{ width:100%; }
	.ec_cart_login_right{ width:100%; float:left; }
	
	.ec_cart_subscription_holder_left{ width:100%; }
	.ec_cart_subscription_holder_right{ width:100%; }
}

@media only screen and ( min-width:[size_level2_low]px ) and ( max-width:[size_level2_high]px ){
	.ec_cart_page_left{ width:100%; float:left; }
	.ec_cart_page_right{ width:100%; float:left; }
	.ec_cart_continue_to_payment_button{ width:170px; }
	.ec_cart_submit_order_button{ width:230px; }
	.ec_cart_continue_to_shipping_button{ width:150px; }
	
	.ec_cart_continue_shopping_button{ width:100%; float:left; text-align:center; margin-top:15px; }
	.ec_cart_title_bar_column_1{ width:100%; }
	.ec_cart_title_bar_column_2, .ec_cart_title_bar_column_3, .ec_cart_title_bar_column_4, .ec_cart_title_bar_column_5, .ec_cart_title_bar_column_6{ display:none; }
	.ec_cart_shipping_methods{ width:100%; }
	
	.ec_cart_item_column1{ width:130px; margin-top:5px; }
	.ec_cart_item_column2{ width:175px; float:right; text-align:right; margin-top:5px; }
	.ec_cart_item_column2 div{ width:175px; float:right; text-align:right; }
	.ec_cart_item_column3{ display:none; }
	.ec_cart_item_column4{ width:175px; float:right; text-align:right; margin-top:0px; }
	.ec_cart_item_column4 input[type="text"]{ width:40px; text-align:center; }
	.ec_cart_item_column5{ width:175px; float:right; text-align:right; margin-top:5px; }
	.ec_cart_item_column6{ width:70%; float:right; text-align:right; margin-top:5px; }
	.ec_cart_item_update_button input[type="submit"]{ width:80px; padding:6px 0px; }
	.ec_cart_item_delete_button input[type="submit"]{ width:80px; padding:6px 0px; }
	.ec_cart_coupon_row, .ec_cart_gift_card_row{ height:55px; }
	.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button{ width:150px; margin-left:0px; margin-right:0px; margin-bottom:10px; }
	
	.ec_cart_login_title{ width:100%; }
	.ec_cart_login_left{ width:100%; }
	.ec_cart_login_right{ width:100%; float:left; }
	
	.ec_cart_shipping_selector_row{ width:458px; }
	
	.ec_cart_address_review_left{ width:50%; }
	.ec_cart_address_review_middle{ width:50%; }
	.ec_cart_address_review_right{ width:100%; }
	.ec_cart_address_review_right{ height:130px; background-color:#FFF; padding-top:10px; padding-bottom:0px; vertical-align:center; }
	
	.ec_cart_subscription_holder_left{ width:100%; }
	.ec_cart_subscription_holder_right{ width:100%; }
	
	#printable{ zoom:.8; }
}

@media only screen and ( max-width:[size_level1_high]px ){
	.ec_cart_page_left{ width:100%; float:left; }
	.ec_cart_page_right{ width:100%; float:left; }
	.ec_cart_continue_to_payment_button{ width:100%; }
	.ec_cart_page_submit_order_button{ width:100%; }
	.ec_cart_submit_order_button{ width:100%; }
	.ec_cart_continue_to_shipping_button{ width:100%; }
	.ec_cart_lower_left{ width:250px; }
	.ec_cart_lower_right{ width:250px; }
	.ec_cart_header_title{ font-size:18px; }
	.ec_cart_lower_right_title{ width:250px; text-align:left; }
	.ec_cart_lower_right_row .left, .ec_cart_lower_right_row .right{ width:113px; }
	.ec_cart_continue_shopping_button{ width:100%; float:left; text-align:center; margin-top:15px; }
	.ec_cart_continue_shopping_button a{ margin-left:0px; width:100%; }
	.ec_cart_title_bar_column_1{ width:100%; }
	.ec_cart_title_bar_column_2, .ec_cart_title_bar_column_3, .ec_cart_title_bar_column_4, .ec_cart_title_bar_column_5, .ec_cart_title_bar_column_6{ display:none; }
	.ec_cart_shipping_methods{ width:100%; }
	.ec_cart_shipping_costs_row input[type="text"]{ width:100%; padding:0px; margin-right:0px; margin-left:0px; }
	.ec_cart_shipping_costs_row a{ width:100%; }
	
	.ec_cart_item_column1{ width:100%; float:left; text-align:center; margin-top:5px; }
	.ec_cart_item_column1 img{ max-width:150px !important; margin-bottom:5px; }
	.ec_cart_item_column2{ width:100%; float:left; text-align:center; margin-top:5px; }
	.ec_cart_item_column2 div{ width:100%; float:left; text-align:center; }
	.ec_cart_item_column3{ display:none; }
	.ec_cart_item_column4{ width:100%; float:left; text-align:center; margin-top:0px; }
	.ec_cart_item_column4 input[type="text"]{ width:80px; text-align:center; }
	.ec_cart_item_column5, .ec_cart_item_column6{ width:100%; float:left; text-align:center; margin-top:5px; }
	.ec_cart_item_update_button input[type="submit"], .ec_cart_item_delete_button input[type="submit"]{ width:100%; padding:6px 0px; }
	
	.ec_cart_coupon_row, .ec_cart_gift_card_row{ height:55px; margin-bottom:20px; } 
	.ec_cart_coupon_row .ec_cart_coupon_input_text, .ec_cart_gift_card_row .ec_cart_gift_card_input_text{ width:100%; margin-right:0px; margin-bottom:5px; margin-left:0px; } 	
	.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button{ width:100%; margin-left:0px; margin-right:0px; margin-bottom:10px; } 	
	.ec_cart_coupon_row .ec_cart_coupon_code_redeem_button a, .ec_cart_gift_card_row .ec_cart_gift_card_redeem_button a{ width:100%; }
	.ec_cart_shipping_costs_row, .ec_cart_shipping_costs_row{ height:70px; }
	
	.ec_cart_login_title{ font-size:18px; width:100%; }
	.ec_cart_login_left{ width:100%; }
	.ec_cart_login_right{ width:100%; float:left; text-align:left; }
	.ec_cart_login_row_input{ width:100%; float:left; text-align:left; }
	.ec_cart_login_input[type="text"], .ec_cart_login_input[type="email"], .ec_cart_login_input[type="password"], .ec_cart_shipping_selector_row, .ec_cart_billing_row .ec_cart_billing_input, .ec_cart_billing_row .ec_cart_billing_input_text, .ec_cart_billing_row_error .ec_cart_billing_input, .ec_cart_shipping_row_error .ec_cart_shipping_input_text, .ec_cart_shipping_row .ec_cart_shipping_input, .ec_cart_shipping_row .ec_cart_shipping_input_text, .ec_cart_shipping_row_error .ec_cart_shipping_input, .ec_cart_contact_information_row_error .ec_cart_contact_information_input, .ec_cart_contact_information_row_error .ec_cart_contact_information_input_text, .ec_cart_contact_information_input_text, .ec_cart_contact_information_input{ width:100%; }
	.ec_cart_billing_row_error .ec_cart_billing_input_text{ width:260px; }
	
	.ec_cart_address_review_left{ width:260px; }
	.ec_cart_address_review_middle{ width:260px; }
	.ec_cart_address_review_right{ width:260px; height:130px; background-color:#FFF; padding-top:10px; padding-bottom:0px; vertical-align:center; }
	.ec_cart_address_review_right_row a{ width:260px; }
	
	.ec_cart_subscription_holder_left{ width:100%; }
	.ec_cart_subscription_holder_right{ width:100%; }
	
	#printable{ zoom:.5; margin-left:-20px; }
}