@charset "utf-8";

/* Product Page Basic */
.ec_product_page{ width:100%; }
.filter_bar_bottom{ margin-top:50px; float:left; width:100%; }

/* Filter Bar */
.ec_filter_bar{ font-size:11px; width:100%; float:left;	margin-bottom: 10px; }
.ec_filter_bar_left{ width: 25%; float:left; margin-top:-10px; }
.ec_filter_bar_right{ width:60%; float:right; text-align:right; }
.ec_sort_menu{ cursor:pointer; margin:10px 0; text-transform:capitalize; }
.ec_per_page_link{ text-decoration:none; }
.ec_per_page_selected{ font-weight:bold; color:#141414; }
.ec_selected_page{ font-weight:bold; color:#333; }
.ec_page_link{ color:#666; text-decoration:none; }
.ec_page_link:hover{ color:#039; }
.ec_prev_link{ color:#666; text-decoration:none; }
.ec_prev_link:hover{ color:#039; }
.ec_next_link{ color:#666; text-decoration:none; }
.ec_next_link:hover{ color:#039; }

/* Product Item */
.ec_product{ font-size:12px; height:360px; margin-top:10px; float:left; width:175px; overflow:hidden; }
.ec_product.left{ float:left; }
.ec_product.middle{ float:left; }
.ec_product.right{ float:right; }

.ec_product_left{ width:65%; float:left; }
.ec_product_right{ width:35%; float:right; }

/* Product Quick View Button */
.ec_product_quick_view_holder{ float:left; min-width:75px; margin-top:15px; padding-top:5px; padding-bottom:5px; }
.ec_product_quick_view { background-color:[main_color]; color:white; font-weight:bold; padding:7px 8px 7px 5px; }
.ec_product_quick_view a { text-decoration:none; color:white !important; font-size:10px; }
.ec_product_quick_view a:hover { color:#f7f7f7 !important; }

/* Product Item Images */
.ec_product_images{ width:100%; float:left; position:relative; }
.ec_product_images .ec_product_image img{ max-width:175px; max-height:175px; }
.ec_product_image:hover{ border:1px #cccccc solid; }
.ec_product .ec_product_images a{ float:left; padding:2px; display:block; border:1px #eeeeee solid; z-index: 4; max-width:175px; max-height:175px; }
.ec_product .ec_product_images a:hover{ }
.ec_product_image_inactive{ float:left; padding:2px; display:none; border:1px #eeeeee solid; z-index:4; }
.ec_product_image_inactive:hover{ }
.ec_product_images .ec_product_image_inactive img{ max-width:175px; max-height:175px; outline:none !important; }

/* Product Item Title */
.ec_product_title{ width:100%; float:left; margin-top:2px; margin-left:3px; }
.ec_product_title a{ font-weight:bold; color:#333 !important; text-decoration:none; }
.ec_product_title a:hover{ color: #000 !important; }

/* Product Item Pricing */
.ec_product_pricing{ width:100%; float:right; margin-top:8px; margin-right:3px; }

.ec_product_price{ font-size:12px; width:100%; float:right; text-align:right; }
.ec_product_price .currency{ vertical-align:super; }
.ec_product_price .dollar{ font-size:16px; font-weight:bold; }
.ec_product_price .cent{ vertical-align:super; }

.ec_product_old_price{ font-size:10px; color:#6b6b6b; width:100%;  float:right; text-align:right; text-decoration:line-through; }

.ec_product_sale_price{ font-size:16px; width:100%; float:right; text-align:right; color:[main_color]; margin-top:2px; }
.ec_product_sale_price .currency { }
.ec_product_sale_price .dollar { font-weight: bold; }
.ec_product_sale_price .cent { }

/* Product Star Rating */
.ec_product_rating{ width:100%; float:left; margin-top:12px; margin-left:3px; }
.ec_product_stars{ float:left; }
.ec_product_num_reviews{ float:left; margin-left:5px; margin-top:-3px; font-weight:bold; font-size:11px; letter-spacing:1px; color:#999; }
.ec_product_star_on{ border-color:transparent !important; border-bottom:5px solid  [main_color] !important;
					 margin:5px 0; float:left; position:relative; display:block; color:[main_color]; width:0px; height:0px; 
					 border-right:8px solid transparent; border-bottom:5px  solid [main_color]; border-left:8px solid transparent;
					 -moz-transform:rotate(35deg); -webkit-transform:rotate(35deg); -ms-transform:rotate(35deg); -o-transform:rotate(35deg); }
.ec_product_star_on:before{ border-bottom:8px solid [main_color]; border-left:3px solid transparent; border-right:3px solid transparent;
   					 position:absolute; height:0px; width:0px; top:-5px; left:-6px; display:block; content:'';
   					 -webkit-transform:rotate(-35deg); -moz-transform:rotate(-35deg); -ms-transform:rotate(-35deg); -o-transform:rotate(-35deg); }
.ec_product_star_on:after{ position:absolute; display:block; color:[main_color]; left:-9px; width:0px; height:0px; content:'';
					 border-right:8px solid transparent; border-bottom:6px solid [main_color]; border-left:8px solid transparent;
   					 -webkit-transform:rotate(-70deg); -moz-transform:rotate(-70deg); -ms-transform:rotate(-70deg); -o-transform:rotate(-70deg); }

.ec_product_star_off{ border-color:transparent !important; border-bottom:5px solid  #CCC !important; margin:5px 0; float:left; position:relative;
   					 display:block; color:#CCC; width:0px; height:0px;
   					 border-right:8px solid transparent; border-bottom:5px  solid #CCC; border-left:8px solid transparent;
   					 -moz-transform:rotate(35deg); -webkit-transform:rotate(35deg); -ms-transform:rotate(35deg); -o-transform:rotate(35deg); }
.ec_product_star_off:before{ border-bottom:8px solid #CCC; border-left:3px solid transparent; border-right:3px solid transparent;
					 position:absolute; height:0px; width:0px; top:-5px; left:-6px; display:block; content:'';
					 -webkit-transform:rotate(-35deg); -moz-transform:rotate(-35deg); -ms-transform:rotate(-35deg); -o-transform:rotate(-35deg); }
.ec_product_star_off:after{ position:absolute; display:block; color:#CCC; left:-9px; width:0px; height:0px; content:'';
   					 border-right:8px solid transparent; border-bottom:6px solid #CCC; border-left:8px solid transparent;
					 -webkit-transform:rotate(-70deg); -moz-transform:rotate(-70deg); -ms-transform:rotate(-70deg); -o-transform:rotate(-70deg); }

/* Product Swatches */
.ec_product_swatches{ width:100%; float:left; margin:16px 3px 0px 3px; }
.ec_product_swatches img{ float:left; margin:1px; max-width: 25px; max-height:25px; width:25px !important; height:25px !important; }
.ec_product_swatch_out_of_stock{ opacity:0.4; filter:alpha(opacity=40); }
.ec_product_swatch_selected{ -moz-box-shadow:0 0 5px #555; -webkit-box-shadow:0 0 5px #555; box-shadow:0 0 5px #555; }
.ec_product_swatch{ }
.ec_product_swatch:hover{ cursor:pointer; -moz-box-shadow:0 0 5px #888; -webkit-box-shadow:0 0 5px #888; box-shadow:0 0 5px #888; }

/* Product Quickview Popup */
.ec_product_quick_view_box_holder{ display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:1200; }
.ec_product_quick_view_box_background{ background-color:[backdrop_color]; width:100%; height:100%; opacity:0.9; filter:alpha(opacity=90); z-index:1210; position: fixed; }
.ec_product_quick_view_box_content_holder{ background-color:[content_bg]; border:4px solid [main_color]; z-index:1220; position:fixed; left:50%; top:50%; -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000; width:1000px; margin-left:-500px; min-height:500px; margin-top:-250px; }
.ec_product_quick_view_box_content_close{ position:absolute; top:5px; right:5px; }
.ec_product_quick_view_box_content_close a{ font-weight:bold; font-size:14px; color:#333 !important; text-decoration: none; }
.ec_product_quick_view_box_content_close a:hover{ color:#000 !important; }
.ec_product_quick_view_box_content_thumbnails{ width:50px; margin-left:25px; margin-top:25px; height:100%; float:left; position:relative; vertical-align:baseline; }
.ec_product_quick_view_box_content_thumbnails .ec_product_image, .ec_product_quick_view_box_content_thumbnails .ec_product_image_inactive{ margin-bottom:15px; }
.ec_product_quick_view_box_content_thumbnails img{ padding:1px; max-width:50px; }
.ec_product_quick_view_box_content_thumbnails img:hover{ cursor: pointer; border:solid 1px #cccccc; padding:0px; }
.ec_product_quick_view_box_content_image img{ max-width:400px; max-height:400px; width:400px; height:400px; }
.ec_product_quick_view_box_content_image img:hover{ border:none; cursor:default; }
.ec_product_quick_view_box_content_image a{ border:1px solid #FFF; float:left; padding:2px; }
.ec_product_quick_view_box_content_image{ max-width:460px; max-height:460px; width:460px; height:100%; margin-left:35px; margin-top:20px; float:left; vertical-align:middle; text-align:center; }
.ec_product_quick_view_box_content_right{ width:310px; height:100%; float:left; margin-top:25px; margin-left:35px; }
.ec_product_quick_view_box_content_row, .ec_product_quick_view_box_content_row2, .ec_product_quick_view_box_content_row3{ width:100%; float:left; padding-top:5px; padding-bottom:5px; }

.ec_product_quick_view_box_content_gift_card_row{ width:100%; float:left; margin-top:5px; }
.ec_product_quick_view_box_content_row input[type="number"]{ min-width:50px; text-align:center; }
.ec_product_quick_view_box_content_option_row{ width:100%; float:left; }
.ec_product_quick_view_box_content_option_row img{ max-width:25px; max-height:25px; width:25px; height:25px; }
.ec_product_quick_view_box_content_row .title { font-size:20px; color:[title_color]; font-weight:bold; font-family:[title_font]; }
.ec_product_quick_view_box_content_row2 .ec_product_sale_price{ float:none; text-align:left; font-size:16px; color:[main_color]; }
.ec_product_quick_view_box_content_row2 .ec_product_old_price { float:none; text-align:left; font-size:16px; color:#6b6b6b; }
.ec_product_quick_view_box_content_row2 .ec_product_price { float:none; text-align:left; font-size:16px;color:#6b6b6b; }
.ec_product_details_discount{ float:left; width:100%; font-size:12px; margin-top:5px; color:[main_color]; font-family:[content_font]; }
.ec_product_details_option_combo, .ec_product_details_option_combo_error{ width:200px; }
.ec_product_details_quantity{ float:left; width:100%; margin-top:15px; margin-bottom:30px; font-size:12px; font-weight:bold; font-family:[content_font]; color:#333;}
.ec_product_details_quantity_donation{ display:none; }
.ec_product_details_quantity input[type="number"]{ width:50px; text-align:center; padding:5px; }
.ec_error_message_box{ border-radius:5px 5px; -moz-border-radius:5px; -webkit-border-radius:5px; max-width:400px; border:1px solid rgb(255, 6, 6); background-color:rgba(241, 217, 217, 0.5); color:#333; padding:10px; display:none; }
.ec_product_quick_view_box_content_row .ec_product_title_link{ display:block !important; width:200px; margin-top:4px; min-width:100px; background-color:[main_color]; color:#ffffff !important; padding:7px 0px; text-indent:0; text-decoration:none !important; white-space:nowrap; text-align:center; font:bold 12px/1.2 [content_font] !important; text-transform:uppercase; outline:0; border:1px solid #CCC; outline:0; }
.ec_product_quick_view_box_content_row .ec_product_title_link:hover{ color:[main_color] !important; background-color:#f7f7f7 !important; }

/* Product List View Styles */
.ec_product_list_view{ width:100%; float:left; margin-bottom:25px; }
.ec_product_list_view_left{ float:left; width:150px; }
.ec_product_list_view_middle{ float:left; width:225px; margin-left:10px; }
.ec_product_list_view_right{ width:170px; float:right; text-align:center; }
.ec_product_list_view_row{ width:100%; float:left; text-align:left; }
.ec_product_list_view_row2, .ec_product_list_view_row3, .ec_product_list_view_option_row{ width:100%; float:left; }
.ec_product_list_view_row2 span, .ec_product_list_view_row3 span{ text-align:left; }
.ec_product_list_view_row2 .ec_product_sale_price, .ec_product_list_view_row2 .ec_product_old_price{ float:none; width:70px; margin-top:2px; font-size:12px; }
.ec_product_list_view_row .title{ font-size:16px; font-weight:bold; }
.ec_product_list_view .ec_product_list_view_thumbnails .ec_product_image{ max-width:50px; width:50px; }
.ec_product_list_view .ec_product_list_view_image img{ max-width:150px; width:150px; }
.ec_product_list_view_image .ec_product_image, .ec_product_list_view_image .ec_product_image_inactive{ border:1px #eeeeee solid; padding:2px; float:left; }
.ec_product_list_view_right .ec_product_details_quantity{ margin-bottom:4px; text-align:center; }
.ec_product_list_view_right .ec_product_details_add_to_cart_button{ width:100%; color:#FFF; }
.ec_product_list_view_right .ec_product_details_add_to_cart_button:hover{ color:#333; }
.ec_product_list_view_option_row img{ width:25px; height:25px; max-width:25px; max-height:25px; }
.ec_productlist_ul > li{ margin-bottom:44px; }
.ec_productlist_ul > li > a{ float:left; width:100%; text-align:center; }
.ec_productlist_ul li a img{ padding-bottom:15px; }
.ec_productlist_ul > li > h3{ margin-top:0px; font-weight: 300; font-size: 18px; padding-bottom: 21px; text-align:center; }
.ec_productlist_ul > li > h3 > a{ text-decoration: none; color: #2e2e2e; float:none; }
.ec_productlist_ul > li > .ec_price_button{ display: inline-block; text-align:center; }
.ec_productlist_ul > li > .ec_price_button .ec_price_before{ padding:8px; font-weight:bold; border:1px solid #d5d6d3; border-right:0px; -webkit-border-top-left-radius:10px; -webkit-border-bottom-left-radius:10px; -moz-border-radius-topleft:10px; -moz-border-radius-bottomleft:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; color:#1f1e1e; text-shadow:1px 1px 1px #fff; -moz-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ); -webkit-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ); box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ); background:#efefef; background:-moz-linear-gradient(top, #ffffff 0%, #efefef 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); background:-webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); background:-o-linear-gradient(top, #ffffff 0%,#efefef 100%); background:-ms-linear-gradient(top, #ffffff 0%,#efefef 100%); background:linear-gradient(to bottom, #ffffff 0%,#efefef 100%); display:inline-block; }
.ec_productlist_ul > li > .ec_price_button .ec_price_before del{ text-decoration:line-through; }
.ec_productlist_ul > li > .ec_price_button .ec_price_sale{ border:1px solid #aed23f; margin-left:-4px; -webkit-border-top-right-radius:10px; -webkit-border-bottom-right-radius:10px; -moz-border-radius-topright:10px; -moz-border-radius-bottomright:10px; border-top-right-radius:10px; border-bottom-right-radius:10px; color:#fff; text-shadow:1px 1px 1px rgba( 0,0,0,0.3 ); -moz-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); -webkit-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); background:#cff06b; background:-moz-linear-gradient(top, #cff06b 0%, #c0dd65 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cff06b), color-stop(100%,#c0dd65)); background:-webkit-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:-o-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:-ms-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:linear-gradient(to bottom, #cff06b 0%,#c0dd65 100%); padding:8px; font-weight:bold; display:inline-block; }
.ec_productlist_ul > li > .ec_price_button .ec_price{ border:1px solid #aed23f; margin-left:-4px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; color:#fff; text-shadow:1px 1px 1px rgba( 0,0,0,0.3 ); -moz-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); -webkit-box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); box-shadow:0 2px 2px 0px rgba( 0,0,0,0.1 ), inset 0 1px 0 rgba( 255,255,255,0.6 ); background:#cff06b; background:-moz-linear-gradient(top, #cff06b 0%, #c0dd65 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cff06b), color-stop(100%,#c0dd65)); background:-webkit-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:-o-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:-ms-linear-gradient(top, #cff06b 0%,#c0dd65 100%); background:linear-gradient(to bottom, #cff06b 0%,#c0dd65 100%); padding: 8px; font-weight:bold; display:inline-block; }

/* Quick View Errors */
.ec_product_details_option_combo_error{ background-color: [error_color]; border:2px solid [error_color2]; }
.ec_product_details_option_error_text{ font-size:11px; color:[error_text]; display:none; }

/* Responsive CSS */
@media only screen and ( min-width:[size_level5_low]px ) {

}

@media only screen and ( min-width:[size_level4_low]px ) and ( max-width:[size_level4_high]px ) {
	.ec_product_quick_view_box_content_holder{ width:800px; margin-left:-400px; min-height:400px; margin-top:-200px; }
	.ec_product_quick_view_box_content_thumbnails { margin-left:10px; }
	.ec_product_quick_view_box_content_thumbnails .ec_product_image{ margin-bottom:5px; }
	.ec_product_quick_view_box_content_image{ max-width:330px; max-height:330px; width:330px; height:330px; margin-left:10px; }
	.ec_product_quick_view_box_content_image img{ max-width:300px; max-height:300px; width:300px; height:300px; }
	.ec_product_quick_view_box_content_right{ margin-top:10px; margin-left:10px; }
	.ec_product_details_option_combo, .ec_product_details_option_combo_error{ width:150px; }
}

@media only screen and ( min-width:[size_level3_low]px ) and ( max-width:[size_level3_high]px ) {
	.ec_filter_bar{ margin-top: 20px; }
	
	.ec_product_quick_view_holder{ min-width:75px; margin-top:15px; padding-top:5px; padding-bottom:5px; }
	.ec_product_quick_view_box_content_holder{ width:600px; margin-left:-300px; min-height:300px; margin-top:-150px; }
	.ec_product_quick_view_box_content_thumbnails{ width:25px; margin-left:10px; margin-top:10px; }
	.ec_product_quick_view_box_content_thumbnails .ec_product_image{ margin-bottom: 5px; }
	.ec_product_quick_view_box_content_thumbnails .ec_product_image img { width:25px; height:25px; }
	.ec_product_quick_view_box_content_image{ max-width:220px; max-height:220px; width:220px; height:220px; margin-left:10px; margin-top:10px; }
	.ec_product_quick_view_box_content_image img{ max-width:200px; max-height:200px; width:200px; height:200px; }
	.ec_product_quick_view_box_content_right{ width:270px; margin-top:10px; margin-left:10px; }
	.ec_product_quick_view_box_content_row .title{ font-size:18px; }
}

@media only screen and ( min-width:[size_level2_low]px ) and ( max-width:[size_level2_high]px ) {
	.ec_filter_bar_left{ width:260px;  padding-left:79px; padding-right:79px; margin-top:10px;}
	.ec_filter_bar_right{ width:100%; float:left; text-align:center; margin-top: 10px; }
	.ec_sort_menu{ width:260px; }
	
	.ec_product{ width:190px; }
	.ec_product_images .ec_product_image img{ max-width:190px; max-height:190px; }
	.ec_product_images .ec_product_image_inactive img{ max-width:190px; max-height:190px; outline:none !important; }
	
	.ec_product_quick_view_holder{ display:none; }
	.ec_product_quick_view_box_content_holder{ width:400px; margin-left:-200px; min-height:440px; margin-top:-220px; }
	.ec_product_quick_view_box_content_thumbnails{ width:350px; height:50px; margin-top:10px; margin-left:10px; overflow-right:hidden; }
	.ec_product_quick_view_box_content_thumbnails .ec_product_image{ margin-right:5px; margin-left:5px; }
	.ec_product_quick_view_box_content_thumbnails img{ max-width:50px; max-height:50px; width:50px; height:50px; }
	.ec_product_quick_view_box_content_image{ max-width:150px; max-height:150px; width:150px; height:150px; margin-top:20px; margin-left:10px; }
	.ec_product_quick_view_box_content_image img{ max-width:150px; max-height:150px; width:150px; height:150px; }
	.ec_product_quick_view_box_content_right{ width:220px; margin-top:20px; margin-left:10px; }
	.ec_product_quick_view_box_content_row .title{ font-size:18px; }
	.ec_product_quick_view_box_content_option_row .ec_product_details_option_combo{ width:220px; }
	.ec_product_quick_view_box_content_row .ec_product_title_link{ min-width:189px; width:189px; }
}

@media only screen and ( max-width:[size_level1_high]px ) {
	.ec_filter_bar_left{ width:100%; padding-left:0px; padding-right:0px; margin-top:10px; }
	.ec_filter_bar_right{ width:100%; float:left; text-align:center; margin-top: 10px; }
	.ec_sort_menu{ width: 200px; }
	
	.ec_product{ width:190px; }
	.ec_product_images .ec_product_image img{ max-width:190px; max-height:190px; }
	.ec_product_images .ec_product_image_inactive img{ max-width:190px; max-height:190px; outline:none !important; }
	
	.ec_product_quick_view_holder{ display:none; }
	.ec_product_quick_view_box_content_holder{ width:240px; margin-left:-120px; min-height:440px; margin-top:-220px; }
	.ec_product_quick_view_box_content_thumbnails{ width: 220px; height:50px; margin-top:40px; margin-left:3px; overflow-right:hidden; }
	.ec_product_quick_view_box_content_thumbnails .ec_product_image{ margin-right:3px; margin-left:3px; }
	.ec_product_quick_view_box_content_thumbnails img{ max-width:25px; max-height:25px; width:25px; height:25px; }
	.ec_product_quick_view_box_content_image{ max-width:150px; max-height:150px; width:150px; height:150px; margin-top:20px; margin-left:10px; }
	.ec_product_quick_view_box_content_image img{ max-width:150px; max-height:150px; width:150px; height:150px; }
	.ec_product_quick_view_box_content_right{ width:220px; margin-top:20px; margin-left:10px; }
	.ec_product_quick_view_box_content_row .title{ font-size:18px; }
	.ec_product_quick_view_box_content_option_row .ec_product_details_option_combo{ width:175px; }
	.ec_product_quick_view_box_content_row .ec_product_title_link{ min-width:189px; width:189px; }
}