.ec_product_details_page{ width:100%; }
.ec_product_details_top_bar{ width:100%; float:left; margin-bottom:35px; background-color:#a2c094; }
.ec_product_details_top_bar div{ padding:10px; }
.ec_product_details_bottom{ width:100%; float:left; margin-top:25px; }
.ec_product_details_categories{ float:left; }
.ec_product_details_product_pagenation{ float:right; color:#333; }
.ec_product_details_left_side{ width:350px; margin-right:15px; float:left; }
.ec_product_details_right_side{ margin-left:375px; text-align:left; }
.ec_store_promotion{ width:100%; background-color:[main_color]; margin-bottom:10px; text-align:center; color:#FFF; font-family:[content_font]; font-size:12px; font-weight:bold; }
.ec_store_promotion div{ padding:10px; }

/* Product Details Left Half */
.ec_product_details_images .ec_product_image{ float:left; padding:2px; border:1px #eeeeee solid; z-index:4; }
.ec_product_details_images .ec_product_image:hover{ border:solid 1px #cccccc; }
.ec_product_details_images img{ max-width:350px; max-height:350px; }
.ec_product_details_magbox{ position:absolute; margin:0px; padding:0px; border:1px solid white; background-color:white; filter:alpha(opacity = 55); opacity:.55; -webkit-box-shadow:rgb(119, 119, 119) 0px 0px 5px; box-shadow:rgb(119, 119, 119) 0px 0px 5px, rgb(170, 170, 170) 0px 0px 10px inset; overflow:hidden; z-index:20;width:200px; height:200px; display:none; pointer-events:none; overflow:hidden; }
.ec_product_details_magbox img{ min-width:800px; min-height:800px; position:relative; top:-200px; left:-200px; display:inline-block; }
.ec_product_details_mag_viewer{ position:absolute; z-index:30; width:350px; height:350px; min-width:350px; min-height:350px; background-color:white; -webkit-box-shadow:rgb(119, 119, 119) 0px 0px 5px; box-shadow:rgb(119, 119, 119) 0px 0px 5px, rgb(170, 170, 170) 0px 0px 10px inset; overflow:hidden; display:none; }
.ec_product_details_mag_viewer img{ min-width:800px; min-height:800px; position:relative; top:-350px; left:-350px; display:inline-block; }
.ec_product_details_mag_viewer_image{ min-width:800px; min-height:800px; }
.ec_product_details_images{ float:left; width:362px; max-width:362px; max-height:362px; margin-bottom:10px; overflow:hidden; }
.ec_product_details_images img{ max-width:350px; max-height:350px; }

.ie ec_product_details_images img:hover, .ie7 .ec_product_details_images img:hover, .win.gecko .ec_product_details_images img:hover, .linux.gecko .ec_product_details_images img:hover, .opera .ec_product_details_images img:hover, .konqueror .ec_product_details_images img:hover, .safari .ec_product_details_images img:hover, .chrome .ec_product_details_images img:hover{ cursor:crosshair; }
.gecko .ec_product_details_images img:hover{ cursor:none; }

.ec_product_details_thumbnails{ float:left; width:350px; text-align:center; margin-left:-5px; }
.ec_product_details_thumbnails img{ float:left; border:1px solid #eeeeee; }
.ec_product_details_thumbnails img:hover{ border:1px solid #cccccc; }
.ec_product_details_thumbnails .ec_product_image, .ec_product_details_thumbnails .ec_product_image_inactive{ margin:5px; width:50px; height:50px; max-width:50px; max-height:50px; cursor:pointer; }

/* Product Details Right Half */
.ec_product_details_title{ float:left; width:100%; border-bottom:1px solid #CCC; margin-bottom:5px; padding-bottom:5px; font-family:[title_font]; color:[title_color]; }
.ec_product_details_title_sub{ font-size:20px; float:left; margin-bottom:5px; width:100%; color:#000000; font-weight:bold; font-family:[title_font]; }
.ec_product_details_below_title_row{ float:left; width:100%; margin-bottom:15px; font-size:11px; font-family:[title_font]; color:[title_color]; }
.ec_product_details_model_number{ width:50%; float:left; }
.ec_product_details_in_stock{ float:left; width:50%; text-align:right; }
.ec_product_details_stars{ float:left; }
.ec_product_details_review_count{ float:left; margin-left:5px; margin-top:2px; font-size:11px; }
.ec_product_details_price{ float:left; width:100%; text-align:left; font-family:[content_font]; }
.ec_product_details_price .ec_product_price{ float:none; font-size:18px; font-weight:normal; }
.ec_product_details_price .ec_product_old_price{ text-decoration:line-through; color:[second_color]; float:none; font-size:18px; font-weight:normal; }
.ec_product_details_price .ec_product_sale_price{ float:none; color:[main_color]; font-size:18px; font-weight:normal; }
.ec_product_details_donation{ float:left; width:100%; text-align:left; font-family:[content_font]; font-size:12px; }
.ec_product_details_donation .ec_product_price{ font-size:12px; width:0px; float:none; text-align:left; }
.ec_product_details_donation_error{ float:left; width:100%; text-align:left; font-family:[content_font]; font-size:12px; color:[error_text]; }
.ec_product_details_donation_error .ec_product_price{ font-size:12px; width:0px; float:none; text-align:left; }
.ec_product_details_discount{ float:left; width:100%; font-size:12px; margin-top:5px; color:[main_color]; font-family:[content_font]; }

.ec_product_details_option1_swatches{ margin-top:15px; }
.ec_product_details_option1_swatches, .ec_product_details_option2_swatches, .ec_product_details_option3_swatches, .ec_product_details_option4_swatches, .ec_product_details_option5_swatches{ float:left; width:100%; }
.ec_product_details_option1_swatches img, .ec_product_details_option2_swatches img, .ec_product_details_option3_swatches img, .ec_product_details_option4_swatches img, .ec_product_details_option5_swatches img{ max-width:25px; max-height:25px; width:25px; height:25px; }
.ec_product_details_option1_option{ margin-top:15px; }
.ec_product_details_option1_option, .ec_product_details_option2_option, .ec_product_details_option3_option, .ec_product_details_option4_option, .ec_product_details_option5_option{ float:left; width:100%; }
.ec_product_details_option1_combo, .ec_product_details_option2_combo, .ec_product_details_option3_combo, .ec_product_details_option4_combo, .ec_product_details_option5_combo{ width:100%; float:left; }

.ec_product_details_option_combo, .ec_product_details_option_combo_error{ width:200px !important; max-width:200px !important; min-width:200px !important; }
.ec_product_details_option_combo_error{ background-color:[error_color]; border:2px solid [error_color2]; }
.ec_product_details_option_error_text{ font-size:11px; color:[error_text]; display:none; }
.ec_product_details_gift_card{ margin-top:15px; margin-bottom:15px; width:100%; float:left; }
.ec_product_details_quantity{ float:left; width:100%; margin-top:15px; margin-bottom:30px; font-size:12px; font-weight:bold; font-family:[content_font]; color:#333; }
.ec_product_details_quantity_donation{ display:none; }
.ec_product_details_quantity input[type="number"]{ width:50px; text-align:center; }
.ec_product_details_stock_quantity{ float:left; width:100%; }
.ec_product_details_quantity_error{ float:left; width:100%; margin-top:15px; margin-bottom:30px; font-size:12px; font-weight:bold; font-family:[content_font]; color:[error_text]; }
.ec_product_details_quantity_error input{ width:50px; text-align:center; background-color:[error_color]; border:2px solid [error_color2]; }
.ec_product_details_add_to_cart{ float:left; width:100%; }
.ec_product_details_add_to_cart_button{ width:200px; min-width:200px; height:43px; line-height:36px; background-color:[main_color] !important; color:#ffffff !important; text-align:center; font:bold 12px/1.2 [content_font]!important; border:1px solid #CCC !important; border-radius:0px !important; }
.ec_product_details_add_to_cart_button:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }
.ec_product_details_social_media_icons{ float:left; width:100%; margin-top:15px; }
.ec_product_details_social_media_icons img{ float:left; }

.ec_product_details_tab{ float:left; position:relative; background-color:#666; border-left:1px solid #CCC; border-top:1px solid #CCC; border-right:1px solid #CCC; text-align:center; padding:10px; font-weight:bold; font-family:[content_font]; font-size:12px; color:#666; margin-right:2px; }
.ec_product_details_tab:hover{ background-color:[main_color]; color:#ffffff !important; }
.ec_product_details_tab a{ color:#ffffff !important; text-decoration:none !important; }
.ec_product_details_tab_span{ position:absolute; width:100%; height:100%; top:0; left:0; z-index:1; background-image:url('empty.gif'); }
.ec_product_details_tab_selected{ float:left; position:relative; background-color:[main_color]; border-left:1px solid #CCC; border-top:1px solid #CCC; border-right:1px solid #CCC; text-align:center; padding:10px; font-weight:bold; font-family:[content_font]; font-size:12px; color:#ffffff !important; margin-right:2px; }
.ec_product_details_tab_selected a{ margin-right:2px; text-decoration:none !important; color:#FFF !important; }

.ec_product_details_description, .ec_product_details_specifications, .ec_product_details_customer_reviews{ float:left; width:100%; border:1px solid #CCC; margin-bottom:10px; background-color:#f7f7f7; color:#333; font-family:[content_font]; font-size:12px; line-height:20px; }
.ec_product_details_description > div, .ec_product_details_specifications > div{ padding:10px; }

/* Customer Reviews */
.ec_product_details_customer_reviews_list{  }
.ec_customer_review{ padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #CCC; height:100%; overflow:auto; }
.ec_customer_review_title{ font-size:14px; font-weight:bold; color:[main_color]; float:left; width:70%; margin-bottom:10px; }
.ec_customer_review_date{ float:right; text-align:right; width:30%; font-weight:bold; color:#333; }
.ec_customer_review_stars{ float:left; width:100%; margin-bottom:10px; }
.ec_customer_review_description{ float:left; width:100%; }
.ec_product_details_customer_reviews_overall_row{ float:none; height:100%; overflow:auto; padding:30px; border-bottom:1px solid #CCC; }
.ec_product_details_customer_reviews_overall_title{ float:left; width:75%; padding-top:5px; font-size:14px; text-transform:uppercase; color:[main_color]; font-family:[title_font]; margin-left:5px; }
.ec_product_details_customer_reviews_button{ float:right; text-align:right; }
.ec_product_details_customer_reviews_button a{ display:block; margin-top:4px; min-width:100px; background-color:[main_color]; color:#ffffff !important; padding:7px 12px; text-indent:0; text-decoration:none !important; white-space:nowrap; text-align:center; font:bold 12px/1.2 [content_font] !important; text-transform:uppercase; outline:0; border:1px solid #CCC; outline:0; }
.ec_product_details_customer_reviews_button a:hover{ color:[main_color] !important; background-color:#f7f7f7; }
.ec_product_details_customer_reviews_overall_title{ float:left; width:75%; font-size:14px; text-transform:uppercase; }
.ec_product_details_customer_reviews_button div{ display:none; width:140px; margin-top:4px; min-width:130px; background-color:[main_color]; color:#ffffff; padding:7px 12px; text-indent:0; text-decoration:none !important; white-space:nowrap; text-align:center; font:bold 12px/1.2 [content_font] !important; text-transform:uppercase; outline:0; border:1px solid #CCC; outline:0; }
.ec_product_details_customer_reviews_stars{ float:left; width:100%; margin-top:4px; margin-left:5px; }
.ec_product_details_customer_reviews_num_reviews{ float:left; font-family:[content_font]; font-size:12px; font-weight:normal; margin-top:7px; margin-left:5px; }
.ec_product_details_customer_reviews_list{ padding:30px; height:100%; overflow:auto; }

.ec_product_details_customer_reviews_popup_background{ display:none; position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:55; background-color:[backdrop_color]; filter:alpha(opacity = 55); opacity:.55; }
.ec_product_details_customer_reviews_popup_box{ display:none; position:fixed; overflow:visible; width:680px; height:auto; z-index:9998; top:50%; left:50%; margin:-200px 0 0 -340px; background:[content_bg]; -webkit-box-shadow:0 2px 6px #000; box-shadow:0 2px 6px #000; filter:alpha(opacity = 100); opacity:1; }
.ec_product_details_customer_reviews_popup_title{ float:left; width:80%; height:30px; line-height:30px; background:[main_color]; color:#FFF; font-family:[title_font]; }
.ec_product_details_customer_reviews_popup_title span{ padding-left:10px; width:100%; }
.ec_product_details_customer_reviews_popup_close_button{ float:right; width:20%; height:30px; line-height:30px; background:[main_color]; text-align:right; font-family:[content_font]; }
.ec_product_details_customer_reviews_popup_close_button span{ padding-right:10px; width:100%; }
.ec_product_details_customer_reviews_popup_close_button a{ color:#DDD !important; font-size:11px; text-transform:uppercase; text-decoration:none; }
.ec_product_details_customer_reviews_popup_close_button a:hover{ color:#FFF !important; }
.ec_product_details_customer_reviews_popup_content{ float:left; width:100%; background:#FFF; padding-top:10px; padding-bottom:10px; }
.ec_product_details_customer_reviews_popup_content span{ width:100%; }
.ec_product_details_customer_reviews_popup_rating_row{ float:left; width:100%; padding-top:10px; }
.ec_product_details_customer_reviews_popup_rating_label{ float:left; padding-left:10px; font-size:14px; color:#000000; font-family:[content_font]; margin-left:5px; margin-top:-3px; }
.ec_product_details_customer_reviews_popup_rating_stars{ float:left; padding-left:10px; }
.ec_product_details_customer_reviews_popup_label_row, .ec_product_details_customer_reviews_popup_label_row_error{ float:left; width:100%; padding-top:10px; font-family:[content_font]; font-size:13px; margin-left:5px; margin-bottom:13px; }
{ float:left; width:100%; padding-top:10px; font-family:[content_font]; font-size:13px; margin-left:5px; margin-bottom:5px; }
.ec_product_details_customer_reviews_popup_label_row span, .ec_product_details_customer_reviews_popup_label_row_error span{ float:left; padding-left:10px; text-transform:uppercase; color:#000000; font-family:[content_font]; font-size:13px; }
.ec_product_details_customer_reviews_popup_label_row_error span{ color:[error_text]; }
.ec_product_details_customer_reviews_popup_input_row{ float:left; width:100%; }
.ec_product_details_customer_reviews_popup_input_row input[type="text"]{ margin-left:5px; width:650px; }
.ec_product_details_customer_reviews_popup_input_row textarea{ width:650px; height:140px; }
.ec_product_details_customer_reviews_popup_input_row span{ float:left; padding-left:10px; text-transform:uppercase; margin-top:-15px; }
.ec_product_details_customer_reviews_popup_submit_button{ float:left; width:100%; }
.ec_product_details_customer_reviews_popup_submit_button span{ float:left; padding-left:10px; }
.ec_customer_review_star_on{ margin:5px 0px; float:left; position:relative; display:block; color:[main_color]; width:0px; height:0px; border-right:8px solid transparent; border-bottom:5px  solid [main_color]; border-left:8px solid transparent; -moz-transform:rotate(35deg); -webkit-transform:rotate(35deg); -ms-transform:rotate(35deg); -o-transform:rotate(35deg); }
.ec_customer_review_star_on:hover{ cursor:pointer; }
.ec_customer_review_star_on:before{ border-bottom:8px solid [main_color]; border-left:3px solid transparent; border-right:3px solid transparent; position:absolute; height:0px; width:0px; top:-5px; left:-6px; display:block; content:''; -webkit-transform:rotate(-35deg); -moz-transform:rotate(-35deg); -ms-transform:rotate(-35deg); -o-transform:rotate(-35deg); }
.ec_customer_review_star_on:after{ position:absolute; display:block; color:[main_color]; left:-9px; width:0px; height:0px; border-right:8px solid transparent; border-bottom:6px solid [main_color]; border-left:8px solid transparent; -webkit-transform:rotate(-70deg); -moz-transform:rotate(-70deg); -ms-transform:    rotate(-70deg); -o-transform:rotate(-70deg); content:''; }
.ec_customer_review_star_off{ margin:5px 0; float:left; position:relative; display:block; color:#CCC; width:0px; height:0px; border-right:8px solid transparent; border-bottom:5px  solid #CCC; border-left:8px solid transparent; -moz-transform:rotate(35deg); -webkit-transform:rotate(35deg); -ms-transform:rotate(35deg); -o-transform:rotate(35deg); }
.ec_customer_review_star_off:hover{ cursor:pointer;	}
.ec_customer_review_star_off:before{ border-bottom:8px solid #CCC; border-left:3px solid transparent; border-right:3px solid transparent; position:absolute; height:0px; width:0px; top:-5px; left:-6px; display:block; content:''; -webkit-transform:rotate(-35deg); -moz-transform:rotate(-35deg); -ms-transform:rotate(-35deg); -o-transform:rotate(-35deg); }
.ec_customer_review_star_off:after{ position:absolute; display:block; color:#CCC; left:-9px; width:0px; height:0px; border-right:8px solid transparent; border-bottom:6px solid #CCC; border-left:8px solid transparent; -webkit-transform:rotate(-70deg); -moz-transform:rotate(-70deg); -ms-transform:rotate(-70deg); -o-transform:rotate(-70deg); content:''; }
.ec_product_details_customer_review_error_text{ float:left; width:150px; margin-left:10px; font-size:11px; color:[error_text]; display:none; text-transform:lowercase; }
.ec_product_details_customer_reviews_popup_submit_button input[type="submit"]{ -webkit-appearance:none; -webkit-border-radius:0; margin-top:4px; min-width:260px; width:160px; height:36px; line-height:36px; background-color:[main_color] !important; background:[main_color] !important; color:#ffffff !important; text-indent:0; text-decoration:none !important; white-space:nowrap; text-align:center; font:bold 12px/1.2 [content_font] !important; text-transform:uppercase; outline:0; border:1px solid #CCC !important; }
.ec_product_details_customer_reviews_popup_submit_button input[type="submit"]:hover{ cursor:pointer; color:[main_color] !important; background-color:#f7f7f7 !important; }

.ec_product_details_featured_products{ float:left; width:100%; text-align:justify; }
.ec_product_details_featured_products > div{ width:24%; display:inline-block; *display:inline; zoom:1; vertical-align:top; }
.ec_product_details_featured_products:after{ content:""; width:100%; display:inline-block; }
.ec_product_details_clear{ clear:both; }
.ec_product_details_loader_div{ position:absolute; top:0; left:0; width:100%; height:100%; background-color:#333; opacity:0.8; filter:alpha(opacity=80); display:none; text-align:center; line-height:300px; color:#FFF; font-weight:bold; font-size:18px; }

.ec_product_price_tiers{ float:left; width:100%; font-family:[content_font]; font-size:12px; margin-top:10px; margin-bottom:10px; line-height:20px;	}
.ec_product_details_option_holder, .ec_option_combo_row, .ec_option_swatch_row, .ec_option_checkbox_box, .ec_option_radio_box, .ec_option_text_row, .ec_option_textarea_row, .ec_option_file_row, .ec_option_grid_box{ float:left; width:100%; margin-bottom:20px; }
.ec_option_swatch_row img{ max-width:25px; max-height:25px; width:25px; height:25px; }
.ec_option_checkbox_row, .ec_option_radio_row, .ec_option_text_label_row, .ec_option_textarea_label_row, .ec_option_file_label_row, .ec_option_grid_row{ float:left; width:100%; }
.ec_option_text_row input{ width:98%; }
.ec_option_textarea_row textarea{ width:98%; height:55px; }
.ec_option_grid_label{ width:85px; float:left; }
.ec_option_grid_input{ width:100%; }
.ec_option_error_row{ display:none; float:left; width:100%; color:#250002; background-color:#FFD5D5; border-top:3px solid #D8000C; text-shadow:none; border-radius:5px; margin-bottom:5px; }
.ec_option_error_row .ec_option_error_row_inner{ width:100%; padding:10px; }

/* Product Details Featured Product Section */
.ec_featured_product{ margin-top:10px; }
.ec_featured_product_image .ec_product_image img{ max-width:100%; width:100%; }
.ec_featured_product_image a{ float:left; border:1px solid #eee; }
.ec_featured_product_image a:hover{ border:1px solid #ccc; }
.ec_featured_product_image{ float:left; }
.ec_featured_product_title{ float:left; width:100%; text-align:left; margin-top:15px; font-size:12px; font-family:[content_font]; }
.ec_featured_product_price{ float:left; width:100%; text-align:left; margin-top:3px; }
.ec_featured_product_price .ec_product_price{ float:left; text-align:left; font-size:12px; }
.ec_featured_product_price .ec_product_old_price{ float:left; text-align:left; font-size:12px; margin-top:5px; width:0px; }
.ec_featured_product_price .ec_product_sale_price{ float:left; text-align:left; font-size:12px; width:0; }
.ec_featured_product_rating{ float:left; width:100%; margin-top:3px; }
.ec_featured_product_rating_stars{ float:left; }
.ec_featured_product_rating_num_ratings{ float:left; margin-left:5px; margin-top:2px; font-size:11px; }
.ec_product_title_link{ color:#333 !important; }
.ec_product_title_link:hover{ color:[main_color] !important; text-decoration:none; }

/* Gift Card Input */
.ec_gift_card_input_row{ float:left; width:100%; text-transform:uppercase; font-size:12px; color:#333333; font-weight:normal; font-family:Arial, Helvetica, sans-serif; margin-top:5px; }
.ec_gift_card_label{ float:left; width:150px; }
.ec_gift_card_input{ float:left; }
.ec_gift_card_input_row input[type="text"]{ width:350px; }
.ec_gift_card_input_row textarea{ width:350px; height:80px; }
.ec_gift_card_input_row select{ width:350px; }
.ec_gift_card_message{ width:350px; }
.ec_gift_card_message_error{ width:350px; background-color:#FF9D9D; border:2px solid #900; }
.ec_gift_card_to_name{ width:250px; }
.ec_gift_card_to_name_error{ width:250px; background-color:#FF9D9D !important; border:2px solid #900 !important; }
.ec_gift_card_from_name{ width:250px; }
.ec_gift_card_from_name_error{ width:250px; background-color:#FF9D9D !important; border:2px solid #900 !important; }

/* Price Tiers */
#ec_pricepointwidget-2{ margin-top:30px; background:#cccccc; }
.et_lb_widget-title{ font-size:16px; color:#000000; }

/* Description Short Codes */
.ecrow_11{ float:left; width:100%; }
.ecrow_12{ float:left; width:45.5%; }
.ecrow_13{ float:left; width:28.5%; }
.ecrow_23{ float:left; width:61.5%; }
.ecrow_14{ float:left; width:20.5%; }
.ecrow_34{ float:left; width:70.5%; }
.ecrow_15{ float:left; width:15.5%; }
.ecrow_12_after{ float:left; width:45.5%; margin-left:4.6%; }
.ecrow_13_after{ float:left; width:28.5%; margin-left:4.6%; }
.ecrow_23_after{ float:left; width:61.5%; margin-left:4.6%; }
.ecrow_14_after{ float:left; width:20.5%; margin-left:4.6%; }
.ecrow_34_after{ float:left; width:70.5%; margin-left:4.6%; }
.ecrow_15_after{ float:left; width:15.5%; margin-left:4.6%; }
.ec_row_padding{ padding-top:30px; }
.ec_special_divider{ float:left; width:100%; margin-top:15px; }
.ec_special_heading{ float:left; width:100%; font-size:22px; font-family:[title_font]; color:[main_color]; }

.ec_special_icon{ background-color:[main_color]; color:#FFF; float:left; padding:15px; border-radius:100px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; font-size:20px; line-height:24px; margin-bottom:10px; margin-right:10px; }
.ec_special_iconbox{ float:left; height:auto; text-align:left; padding:15px; background-color:#FFF; border:1px solid #333; }
.ec_special_iconbox > h3{ float:left; font-size:24px; margin-top:13px; margin-left:15px; font-family:[title_font]; }
.ec_special_iconbox > span{ float:left; width:100%; font-size:12px; font-family:[title_font]; }

.ec_special_icon_center{ background-color:[main_color]; color:#FFF; float:none; left:50%; top:-26px; padding:15px; border-radius:100px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; font-size:20px; line-height:24px; margin-bottom:10px; margin-top:-30px; }
.ec_special_iconbox_center{ float:left; height:auto; text-align:center; padding:15px; background-color:#FFF; border:1px solid #333; }
.ec_special_iconbox_center > h3{ float:left; width:100%; font-size:18px; font-family:[title_font]; }
.ec_special_iconbox_center > span{ float:left; width:100%; font-size:12px; font-family:[title_font]; }

.ec_special_icon_list{ background-color:[main_color]; color:#FFF; float:left; padding:15px; border-radius:100px; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; font-size:20px; line-height:24px; margin-bottom:10px; margin-right:10px; }
.ec_special_iconlist{ float:left; height:auto; text-align:center; padding:15px; background-color:#FFF; }
.ec_special_iconlist_item{ float:left; height:auto; text-align:center; padding:15px; background-color:#FFF; }
.ec_special_iconlist_item > .ec_special_iconlist_content{ margin-left:65px; }
.ec_special_iconlist_item > .ec_special_iconlist_content > h3{ float:left; font-size:24px; margin-left:10px; font-family:[title_font]; }
.ec_special_iconlist_item > .ec_special_iconlist_content > span{ float:left; font-size:12px; font-family:[title_font]; margin-left:10px; text-align:left; }

.ec_special_video{ clear:both; position:relative; margin-bottom:20px; }
.ec_special_videowrap{ width:100%; height:100%; }
.ecrow_11 .ec_special_videowrap > iframe{ width:100%; height:50%; }
.ecrow_12 .ec_special_videowrap > iframe{ width:100%; height:25%; }
.ecrow_13 .ec_special_videowrap > iframe{ width:100%; height:20%; }

.ec_special_image{ float:left; width:100%; }
.ec_special_image img{ }

/* Responsive CSS */
@media only screen and ( min-width:[size_level5_low]px ){

}

@media only screen and ( min-width:[size_level4_low]px ) and ( max-width:[size_level4_high]px ){
	.ec_product_details_option_combo, .ec_product_details_option_combo_error{ width:150px; }
}

@media only screen and ( min-width:[size_level3_low]px ) and ( max-width:[size_level3_high]px ){
	.ec_product_details_left_side{ width:315px; }
	.ec_product_details_right_side{ margin-left:340px; }
	.ec_product_details_mag_viewer{ width:320px; height:320px; min-width:320px; min-height:320px; }
	.ec_product_details_images{ width:332px; max-width:332px; max-height:332px; }
	.ec_product_details_images img{ max-width:320px; max-height:320px; }

	.ie ec_product_details_images img:hover, .ie7 .ec_product_details_images img:hover, .gecko .ec_product_details_images img:hover, .win.gecko .ec_product_details_images img:hover, .linux.gecko .ec_product_details_images img:hover, .opera .ec_product_details_images img:hover, .konqueror .ec_product_details_images img:hover, .safari .ec_product_details_images img:hover, .chrome .ec_product_details_images img:hover{ cursor:pointer; }
	.ec_gift_card_input_row input[type="text"]{ width:300px; }
	.ec_gift_card_input_row textarea{ width:292px; height:80px; }
}

@media only screen and ( min-width:[size_level2_low]px ) and ( max-width:[size_level2_high]px ){
	.ec_product_details_product_pagenation{ float:left; margin-top:10px; }
	.ec_product_details_left_side{ width:100%; }
	.ec_product_details_right_side{ float:left; margin-left:0px; }
	.ec_product_details_mag_viewer{ width:320px; height:320px; min-width:320px; min-height:320px; }
	.ec_product_details_images{ width:332px; max-width:332px; max-height:332px; margin-bottom:10px; }
	.ec_product_details_images img{ max-width:320px; max-height:320px; }
	
	.ec_product_details_thumbnails{ width:414px; margin-bottom:15px; }
	.ec_product_details_thumbnails .ec_product_image, .ec_product_details_thumbnails .ec_product_image_inactive{ width:40px; height:40px; max-width:40px; max-height:40px; }

	.ie ec_product_details_images img:hover, .ie7 .ec_product_details_images img:hover, .gecko .ec_product_details_images img:hover, .win.gecko .ec_product_details_images img:hover, .linux.gecko .ec_product_details_images img:hover, .opera .ec_product_details_images img:hover, .konqueror .ec_product_details_images img:hover, .safari .ec_product_details_images img:hover, .chrome .ec_product_details_images img:hover{ cursor:pointer; }
	
	.ec_product_details_stars{ width:100%; }
	.ec_product_details_review_count{ display:none; }
	
	.ec_product_details_add_to_cart_button{ margin-top:4px; min-width:215px; width:215px; }
	.ec_product_details_customer_reviews_overall_title{ width:100%; }
	.ec_product_details_customer_reviews_button{ float:left; width:100%; text-align:left; margin-top:10px; margin-bottom:10px; }
	.ec_product_details_customer_reviews_popup_box{ width:[size_level2_low]px; height:380px; margin:-190px 0 0 -240px; }
	.ec_product_details_customer_reviews_popup_input_row input[type="text"]{ width:350px; }
	.ec_product_details_customer_reviews_popup_input_row textarea{ width:350px; }
}

@media only screen and ( max-width:[size_level1_high]px ){
	.ec_product_details_product_pagenation{ float:left; margin-top:10px; }
	.ec_product_details_left_side{ width:260px; }
	.ec_product_details_right_side{ width:260px; margin-left:0px; }
	.ec_product_details_mag_viewer{ width:220px; height:220px; min-width:220px; min-height:220px; }
	.ec_product_details_images{ width:268px; max-width:268px; max-height:268px; }
	.ec_product_details_images img{ max-width:256px; max-height:256px; }
	.ec_product_details_thumbnails{ width:260px; margin-bottom:15px; }
	.ec_product_details_thumbnails .ec_product_image, .ec_product_details_thumbnails .ec_product_image_inactive{ width:25px; height:25px; max-width:25px; max-height:25px; }

	.ie ec_product_details_images img:hover, .ie7 .ec_product_details_images img:hover, .gecko .ec_product_details_images img:hover, .win.gecko .ec_product_details_images img:hover, .linux.gecko .ec_product_details_images img:hover, .opera .ec_product_details_images img:hover, .konqueror .ec_product_details_images img:hover, .safari .ec_product_details_images img:hover, .chrome .ec_product_details_images img:hover{ cursor:pointer; }
	
	.ec_product_details_stars{ width:150px; }
	.ec_product_details_review_count{ display:none; }
	
	.ec_product_details_add_to_cart_button{ margin-top:4px; min-width:215px; width:215px; }
	.ec_product_details_customer_reviews_overall_title{ width:100%; }
	.ec_product_details_customer_reviews_button{ float:left; width:100%; text-align:left; margin-top:10px; margin-bottom:10px; }
	.ec_product_details_customer_reviews_popup_box{ width:300px; height:380px; margin:-190px 0 0 -150px; }
	.ec_product_details_customer_reviews_popup_input_row input[type="text"]{ width:250px; }
	.ec_product_details_customer_reviews_popup_input_row textarea{ width:250px; }

	.ec_product_details_featured_products > div{ width:49%; }
	
	.ec_gift_card_input_row input[type="text"]{ width:260px; }
	.ec_gift_card_input_row textarea{ width:252px; height:80px; }
}