@charset "utf-8";
/* CSS Document */

.widget.ec_donationwidget h4.widgettitle, .widget.ec_donationwidget widgettitle{
	color: [title_color] !important;
	font-weight: bold !important;
	font-size: 14px !important;
	border-bottom: 5px solid [main_color];
	padding: 15px 20px;
	font-family:[title_font];
}

.ec_donationwidget{
	font-size:13px !important;
	color:[text_color];
	font-family:[content_font];
}

.ec_donationwidget  a{
	font-size:13px !important;
	color:[link_color];
	text-decoration:none !important;
	line-height:20px !important;
}

.ec_donationwidget a:hover{
	font-size:13px !important;
	color:[link_hover_color];
	text-decoration:none !important;
}

.ec_thermometer_holder{
	width:100px;
	float:left;
}

.ec_thermometer_top{
	width:64px;
	height:30px;
	overflow:hidden;
	margin-left: 20px;
	margin-right:100%;
}

.ec_thermometer_top_content{
	width: 40px;
	height: 40px;
	border: 6px solid #485F48;
	-moz-border-radius: 15px;
	border-radius: 48px;
	background-color:#FFF;
}

.ec_thermometer_middle{
	height:250px;
	width: 40px;
	margin-left: 20px;
	border-left: 6px solid #485F48;
	border-right: 6px solid #485F48;
	float:left;
	background: #485F48;
	margin-right:100%;
}

.ec_thermometer_ticks{
	float:left;
	width: 10px;
	height: 10px;
	background: #485F48;
  	margin:0 0 40px 0;
	
  	-webkit-box-shadow:
    10px 0px #FFF, 20px 0px #FFF, 30px 0px #485F48,
	0px 10px #FFF, 10px 10px #FFF, 20px 10px #FFF, 30px 10px #FFF,
	0px 20px #FFF, 10px 20px #FFF, 20px 20px #FFF, 30px 20px #FFF,
	0px 30px #FFF, 10px 30px #FFF, 20px 30px #FFF, 30px 30px #FFF,
	0px 40px #FFF, 10px 40px #FFF, 20px 40px #FFF, 30px 40px #FFF,
	0px 50px #FFF, 10px 50px #FFF, 20px 50px #FFF, 30px 50px #FFF,
    10px 60px #FFF, 20px 60px #FFF, 30px 30px #485F48,
	0px 70px #FFF, 10px 70px #FFF, 20px 70px #FFF, 30px 70px #FFF,
	0px 80px #FFF, 10px 80px #FFF, 20px 80px #FFF, 30px 80px #FFF,
	0px 90px #FFF, 10px 90px #FFF, 20px 90px #FFF, 30px 90px #FFF,
	0px 100px #FFF, 10px 100px #FFF, 20px 100px #FFF, 30px 100px #FFF,
	0px 110px #FFF, 10px 110px #FFF, 20px 110px #FFF, 30px 110px #FFF,
    10px 120px #FFF, 20px 120px #FFF, 30px 120px #485F48,
	0px 130px #FFF, 10px 130px #FFF, 20px 130px #FFF, 30px 130px #FFF,
	0px 140px #FFF, 10px 140px #FFF, 20px 140px #FFF, 30px 140px #FFF,
	0px 150px #FFF, 10px 150px #FFF, 20px 150px #FFF, 30px 150px #FFF,
	0px 160px #FFF, 10px 160px #FFF, 20px 160px #FFF, 30px 160px #FFF,
	0px 170px #FFF, 10px 170px #FFF, 20px 170px #FFF, 30px 170px #FFF,
    10px 180px #FFF, 20px 180px #FFF, 30px 180px #485F48,
	0px 190px #FFF, 10px 190px #FFF, 20px 190px #FFF, 30px 190px #FFF,
	0px 200px #FFF, 10px 200px #FFF, 20px 200px #FFF, 30px 200px #FFF,
	0px 210px #FFF, 10px 210px #FFF, 20px 210px #FFF, 30px 210px #FFF,
	0px 220px #FFF, 10px 220px #FFF, 20px 220px #FFF, 30px 220px #FFF,
	0px 230px #FFF, 10px 230px #FFF, 20px 230px #FFF, 30px 230px #FFF,
    10px 240px #FFF, 20px 240px #FFF, 30px 240px #485F48;
	
	-moz-box-shadow:
    10px 0px #FFF, 20px 0px #FFF, 30px 0px #485F48,
	0px 10px #FFF, 10px 10px #FFF, 20px 10px #FFF, 30px 10px #FFF,
	0px 20px #FFF, 10px 20px #FFF, 20px 20px #FFF, 30px 20px #FFF,
	0px 30px #FFF, 10px 30px #FFF, 20px 30px #FFF, 30px 30px #FFF,
	0px 40px #FFF, 10px 40px #FFF, 20px 40px #FFF, 30px 40px #FFF,
	0px 50px #FFF, 10px 50px #FFF, 20px 50px #FFF, 30px 50px #FFF,
    10px 60px #FFF, 20px 60px #FFF, 30px 30px #485F48,
	0px 70px #FFF, 10px 70px #FFF, 20px 70px #FFF, 30px 70px #FFF,
	0px 80px #FFF, 10px 80px #FFF, 20px 80px #FFF, 30px 80px #FFF,
	0px 90px #FFF, 10px 90px #FFF, 20px 90px #FFF, 30px 90px #FFF,
	0px 100px #FFF, 10px 100px #FFF, 20px 100px #FFF, 30px 100px #FFF,
	0px 110px #FFF, 10px 110px #FFF, 20px 110px #FFF, 30px 110px #FFF,
    10px 120px #FFF, 20px 120px #FFF, 30px 120px #485F48,
	0px 130px #FFF, 10px 130px #FFF, 20px 130px #FFF, 30px 130px #FFF,
	0px 140px #FFF, 10px 140px #FFF, 20px 140px #FFF, 30px 140px #FFF,
	0px 150px #FFF, 10px 150px #FFF, 20px 150px #FFF, 30px 150px #FFF,
	0px 160px #FFF, 10px 160px #FFF, 20px 160px #FFF, 30px 160px #FFF,
	0px 170px #FFF, 10px 170px #FFF, 20px 170px #FFF, 30px 170px #FFF,
    10px 180px #FFF, 20px 180px #FFF, 30px 180px #485F48,
	0px 190px #FFF, 10px 190px #FFF, 20px 190px #FFF, 30px 190px #FFF,
	0px 200px #FFF, 10px 200px #FFF, 20px 200px #FFF, 30px 200px #FFF,
	0px 210px #FFF, 10px 210px #FFF, 20px 210px #FFF, 30px 210px #FFF,
	0px 220px #FFF, 10px 220px #FFF, 20px 220px #FFF, 30px 220px #FFF,
	0px 230px #FFF, 10px 230px #FFF, 20px 230px #FFF, 30px 230px #FFF,
    10px 240px #FFF, 20px 240px #FFF, 30px 240px #485F48;
  	
	box-shadow:
    10px 0px #FFF, 20px 0px #FFF, 30px 0px #485F48,
	0px 10px #FFF, 10px 10px #FFF, 20px 10px #FFF, 30px 10px #FFF,
	0px 20px #FFF, 10px 20px #FFF, 20px 20px #FFF, 30px 20px #FFF,
	0px 30px #FFF, 10px 30px #FFF, 20px 30px #FFF, 30px 30px #FFF,
	0px 40px #FFF, 10px 40px #FFF, 20px 40px #FFF, 30px 40px #FFF,
	0px 50px #FFF, 10px 50px #FFF, 20px 50px #FFF, 30px 50px #FFF,
    10px 60px #FFF, 20px 60px #FFF, 30px 60px #485F48,
	0px 70px #FFF, 10px 70px #FFF, 20px 70px #FFF, 30px 70px #FFF,
	0px 80px #FFF, 10px 80px #FFF, 20px 80px #FFF, 30px 80px #FFF,
	0px 90px #FFF, 10px 90px #FFF, 20px 90px #FFF, 30px 90px #FFF,
	0px 100px #FFF, 10px 100px #FFF, 20px 100px #FFF, 30px 100px #FFF,
	0px 110px #FFF, 10px 110px #FFF, 20px 110px #FFF, 30px 110px #FFF,
    10px 120px #FFF, 20px 120px #FFF, 30px 120px #485F48,
	0px 130px #FFF, 10px 130px #FFF, 20px 130px #FFF, 30px 130px #FFF,
	0px 140px #FFF, 10px 140px #FFF, 20px 140px #FFF, 30px 140px #FFF,
	0px 150px #FFF, 10px 150px #FFF, 20px 150px #FFF, 30px 150px #FFF,
	0px 160px #FFF, 10px 160px #FFF, 20px 160px #FFF, 30px 160px #FFF,
	0px 170px #FFF, 10px 170px #FFF, 20px 170px #FFF, 30px 170px #FFF,
    10px 180px #FFF, 20px 180px #FFF, 30px 180px #485F48,
	0px 190px #FFF, 10px 190px #FFF, 20px 190px #FFF, 30px 190px #FFF,
	0px 200px #FFF, 10px 200px #FFF, 20px 200px #FFF, 30px 200px #FFF,
	0px 210px #FFF, 10px 210px #FFF, 20px 210px #FFF, 30px 210px #FFF,
	0px 220px #FFF, 10px 220px #FFF, 20px 220px #FFF, 30px 220px #FFF,
	0px 230px #FFF, 10px 230px #FFF, 20px 230px #FFF, 30px 230px #FFF,
    10px 240px #FFF, 20px 240px #FFF, 30px 240px #485F48;
}

.ec_thermometer_liquid{
	background-color:#485F48;
	width: 14px;
	margin-left: 13px;
}

.ec_thermometer_bottom{
	width: 105px;
	height: 96px;
	overflow:hidden;
	float: left;
}

.ec_thermometer_bottom_content{
	width: 80px;
	height: 80px;
	border: 6px solid #485F48;
	-moz-border-radius: 60px;
	border-radius: 60px;
	background-color:#FFF;
	margin-top:-7px;
}

.ec_thermometer_bottom_stick{
	background-color:#485F48;
	width: 14px;
	height:4px;
	margin-left: 33px;
}

.ec_thermometer_bottom_colorball{
	width:70px;
	height:72px;
	border: 1px solid #485F48;
	-moz-border-radius: 75px;
	border-radius: 75px;
	background-color:#485F48;
	margin-top:-1px;
	margin-left:4px;
}

.ec_goal_box{
	float: right;
	width: 170px;
}

.ec_goal_title{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.ec_goal_content{
	float: right;
	width: 163px;
	height: 150px;
	
	border-color: #485F48 !important;
	border-top: 3px solid #485F48;
	padding: 1em 1em 1em 1em;
	margin: 25px 0 2em;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fcfbfc;
	background: -webkit-gradient(linear,left top,left bottom,from(#fcfbfc),to(#F7F6F7));
	background: -webkit-linear-gradient(#fcfbfc,#F7F6F7);
	background: -moz-linear-gradient(center top,#fcfbfc 0%,#F7F6F7 100%);
	background: -moz-gradient(center top,#fcfbfc 0%,#F7F6F7 100%);
	color: #5e5e5e;
	text-shadow: 0 1px 0 #ffffff;
	list-style: none outside;
	-webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,0.05), inset 0 -2px 30px rgba(0,0,0,0.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 -2px 6px rgba(0,0,0,0.05), inset 0 -2px 30px rgba(0,0,0,0.015), inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.ec_goal_needed{
	width:100%; float:left; text-align:center;
	font-weight:bold; margin-top:18px;
}

.ec_goal_needed span{
	color:#485F48;
	font-size:30px;
	width:100%;
	float:left;
	padding-bottom:4px;
}

.ec_goal_divider{
	width:163px; float:left; height:1px; margin-top:13px; margin-left:5px; margin-right:5px; background-color:#CCC;
}

.ec_goal_raised{
	width:100%; float:left; text-align:center;
	font-weight:bold; margin-top:18px;
}

.ec_goal_raised span{
	color:#485F48;
	font-size:30px;
	width:100%;
	float:left;
	padding-bottom:4px;
}