@charset "utf-8";
/* EC Product Page CSS Document */
.ec_product_page{
	width:100%;
}

.filter_bar_bottom{
	margin-top:50px; float:left; width:100%;	
}

.ec_products_no_results{
	width:100%; text-align:center; font-family:[content_font]; color:[text_color]; margin-top:40px;	
}
/* END EC PRODUCT PAGE CSS DOCUMENT*/

