@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Orders CSS Document */

.ec_account_orders_main_holder {
	width: 100%;
	float: left;
}
.ec_account_orders_left {
	width: 70%;
	float: left;
}
.ec_account_orders_right {
	width: 24%;
	margin-left: 3%;
	float: right;
	border: 1px solid #e9e9e9; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.07); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.07); box-shadow: 0 1px 4px rgba(0,0,0,0.07);
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.ec_account_orders_title {
	width: 100%;
	float: left;
	padding-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 3px solid [main_color];
	color: [title_color];
	font-size: 20px;
	text-align: left;
	font-family: [title_font];
}
.ec_account_orders_holder {
	width: 100%;
	float: left;
}
.ec_account_orders_row {
	width: 100%;
	text-align: left;
	padding:5px 0;
}
.ec_account_orders_holder a {
	font-size: 12px;
	font-family: [content_font];
	font-weight: bold;
	color: [link_color] !important;
	line-height:16px;
}
.ec_account_orders_holder a:hover {
	text-decoration: none;
	color: [link_hover_color] !important;
}
 @media only screen and ( min-width: [size_level3_low]px ) and ( max-width: [size_level3_high]px ) {
.ec_account_orders_left {
	width: 100%;
}
.ec_account_orders_right {
	width: 100%;
	float: left;
	margin-left: 0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	border: 0px solid #e9e9e9;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.0); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.0); box-shadow: 0 1px 4px rgba(0,0,0,0.0);
	}
}
 @media only screen and ( max-width: [size_level2_high]px ) {
.ec_account_orders_left {
	width: 100%;
}
.ec_account_orders_right {
	width: 100%;
	float: left;
	margin-left: 0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	border: 0px solid #e9e9e9;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.0); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.0); box-shadow: 0 1px 4px rgba(0,0,0,0.0);
	}
}
 @media only screen and ( max-width: [size_level1_high]px ) {
.ec_account_orders_left {
	width: 100%;
}
.ec_account_orders_right {
	width: 100%;
	float: left;
	margin-left: 0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	border: 0px solid #e9e9e9;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.0); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.0); box-shadow: 0 1px 4px rgba(0,0,0,0.0);
	}
}
/* END EC ACCOUNT ORDERS STYLE*/