@charset "utf-8";
/* Base Theme - EC Cart Submit Order CSS Document */
.ec_cart_submit_order_title{
	width:100%; float:left; height:28px; line-height:28px; background:#069; color:#FFF; font-weight:bold; text-align:center; border:1px solid #999;
}

.ec_cart_submit_order_holder{
	width:100%; float:left; border:1px solid #999;
}

.ec_cart_submit_order_row{
	width:100%; float:left;
}

.ec_cart_submit_order_label{
	width:30%; float:left; text-align:right; margin-right:5%; line-height:24px;
}

.ec_cart_submit_order_input{
	width:65%; float:left; text-align:left; line-height:24px;
}

.ec_cart_submit_order_input_text{
	width:65%;
}

.ec_cart_submit_order_button input[type="submit"]{
	margin-right:10px;
	display: block;
	float: right;
	background-color: #1c486b;
	background-image: -moz-linear-gradient(top,#2e8cd6,#1c486b);
	background-image: -webkit-linear-gradient(top,#2e8cd6,#1c486b);
	background-image: linear-gradient(top,#2e8cd6,#1c486b);
	color: #fff;
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.6),inset 0 0 5px rgba(107,151,30,1);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.6),inset 0 0 5px rgba(107,151,30,1);
	box-shadow: 1px 1px 2px rgba(0,0,0,.6),inset 0 0 5px rgba(107,151,30,1);
	font: bold 11px/1.2 Arial,Helvetica,sans-serif!important;
	outline: 0;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

/* END EC CART SUBMIT ORDER STYLE*/