@charset "utf-8";
/* Base Theme - Customer Review CSS Document */
.ec_customer_review{
	float:left; width:100%; margin-top:5px; margin-bottom:5px; border-top:1px solid #CCC; padding-top:10px; padding-bottom:10px;
}

.ec_customer_review_title{
	float:left; width:70%; font-size:14px; font-family:[title_font]; color:[title_color]; margin-bottom:7px;
}

.ec_customer_review_stars{
	float:left; width:100%; margin-bottom:7px;
}

.ec_customer_review_date{
	float:right; width:28%; font-size:11px; text-align:right;
}

.ec_customer_review_description{
	float:left; width:100%; font-size:12px;
}
/* END CUSTOMER REVIEW STYLE*/