@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Forgot Password CSS Document */
.ec_account_forgot_password_page_visible {
	display: block;
}
.ec_account_forgot_password_page_hidden {
	display: none;
}
.ec_account_forgot_password_title {
	width: 100%;
	float: left;
	color: [title_color];
	padding-bottom: 7px;
	border-bottom: 3px solid [main_color];
	font-size: 28px;
	margin-bottom: 24px;
	font-family:[title_font];
}
.ec_account_forgot_password_holder {
	width: 100%;
	float: left;
	font-family:[content_font];
}
.ec_account_forgot_password_row {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: [content_font];
}

.ec_account_forgot_password_label {
	width: 115px;
	line-height: 28px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color: [text_color];
}
.ec_account_forgot_password_input {
	width: 115px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color: [text_color];
	height: 27px;
	line-height: 27px;
}
.ec_account_forgot_password_input input[type="text"] {
	width: 280px;
	padding: 3px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_input input[type="email"] {
	width: 280px;
	padding: 2px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_input input[type="password"] {
	width: 280px;
	padding: 2px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_row_error input[type="text"] {
	width: 280px;
	padding: 2px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_row_error input[type="email"] {
	width: 280px;
	padding: 1px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_row_error input[type="password"] {
	width: 280px;
	padding: 2px;
	height: 28px;
	margin: 0;
}
.ec_account_forgot_password_button {
	-webkit-appearance:none;
	margin-top: 4px;
	min-width: 100px;
	background-color: [third_color] !important;
	background: [third_color] !important;
	color: [link_color] !important;
	padding: 6px 12px;
	text-indent: 0;
	text-decoration: none!important;
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: bold 12px/1.2 [content_font]!important;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #CCC !important;
	background-image:none;
	box-shadow:none;
}
.ec_account_forgot_password_button:hover {
	cursor: pointer;
	color: [link_hover_color] !important;
}
.ec_account_forgot_password_row_error {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: [content_font];
}
.ec_account_forgot_password_row_error .ec_account_forgot_password_label {
	color: [error_text];
}
.ec_account_forgot_password_row_error .ec_account_forgot_password_input_field {
	background-color: [error_color];
	border: 2px solid [error_color2];
}

/* END EC ACCOUNT FORGOT PASSWORD STYLE*/
