@charset "utf-8";
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//All Code and Design is copyrighted by Level Four Development, llc
//
//Level Four Development, LLC provides this code "as is" without warranty of any kind, either express or implied,     
//including but not limited to the implied warranties of merchantability and/or fitness for a particular purpose.         
//
//Only licnesed users may use this code and storfront for live purposes. All other use is prohibited and may be 
//subject to copyright violation laws. If you have any questions regarding proper use of this code, please
//contact Level Four Development, llc and EasyCart prior to use.
//
//All use of this storefront is subject to our terms of agreement found on Level Four Development, llc's  website.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Base Theme - EC Account Register CSS Document */
.ec_account_register_title {
	width: 100%;
	float: left;
	padding-bottom: 7px;
	border-bottom: 3px solid [main_color];
	color: [title_color];
	font-family:[title_font];
	font-size: 20px;
	margin-bottom: 24px;
}
.ec_account_register_holder {
	width: 100%;
	float: left;
	padding-left: 10px;
}
.ec_account_register_row {
	width: 100%;
	float: left;
}
.ec_account_register_label {
	width: 125px;
	line-height:33px;
	text-align: left;
	float: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
}
.ec_account_register_input {
	width: 315px;
	text-align: left;
	float: left;
	font-size: 12px;
	font-family: [content_font];
}
.ec_account_register_input input[type="text"] {
	margin: 0;
	width: 315px;
	height: 33px;
	padding: 1px;
	margin-bottom:5px;
}
.ec_account_register_input input[type="email"] {
	margin: 0;
	width: 315px;
	height: 33px;
	padding: 1px;
	margin-bottom:5px;
}
.ec_account_register_input input[type="password"] {
	margin: 0;
	width: 315px;
	height: 33px;
	padding: 1px;
	margin-bottom:5px;
}
.ec_account_register_button {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none !important;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: [content_font] !important;
	font-size:11px;
	font-weight:bold;
	outline: 0;
	width:159px;
	height:33px;
	background-color:[main_color] !important;
	background:[main_color] !important;
	border:solid 1px #cccccc !important;
	color:#ffffff !important;
	font-weight:bold;
	text-align:center;
	border:none;
	margin-top:10px;
	background-image:none;
	box-shadow:none;
	padding:0 !important;
}
.ec_account_register_button:hover {
	cursor: pointer;
	color:[main_color] !important;
	background-color: #f7f7f7 !important;
}
.ec_account_register_row_error {
	width: 100%;
	float: left;
}
.ec_account_register_row_error .ec_account_register_label {
	color: [error_text];
}
.ec_account_register_row_error .ec_account_register_input_field {
	background-color: [error_color];
}
 @media only screen and ( max-width: [size_level2_high]px ) {
	.ec_account_register_row {
		width: 100%;
		float: left;
	}
	.ec_account_register_label {
		margin-bottom: 2px;
	}
	.ec_account_register_input, .ec_account_register_input input[type="text"], .ec_account_register_input input[type="email"], .ec_account_register_input input[type="password"] {
		width: 250px;
	}
	.ec_account_register_row_error {
		width: 100%;
		float: left;
	}
}
@media only screen and ( max-width: [size_level1_high]px ) {
	.ec_account_register_holder {
		width: 100%;
		float: left;
		padding-left: 0px;
	}
	.ec_account_register_row {
		width: 100%;
		float: left;
		height: 70px;
	}
	.ec_account_register_label {
		margin-bottom: 2px;
	}
	.ec_account_register_input {
		width: 100%;
	}
	.ec_account_register_input input[type="text"], .ec_account_register_input input[type="email"], .ec_account_register_input input[type="password"] {
		width: 100%;
	}
	.ec_account_register_button {
		width:100%;
	}
	.ec_account_register_label {
		line-height:16px;
	}
}
/* END EC ACCOUNT REGISTER STYLE*/
