@charset "utf-8";
/* Base Theme - EC Cart shipping CSS Document */
.ec_cart_shipping_holder {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.ec_cart_shipping_title {
	width: 100%;
	float: left;
	color: #FFF;
	font-size: 20px;
	font-family: [title_font];
	text-align: left;
	margin-bottom: 7px;
}
.ec_cart_shipping_row {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.ec_cart_shipping_row .ec_cart_shipping_label {
	width: 120px;
	line-height:48px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	color: #FFF;
}
.ec_cart_shipping_row .ec_cart_shipping_input {
	float: left;
	text-align: left;
}

.ec_cart_shipping_row .ec_cart_shipping_input {
}

.ec_cart_shipping_row .ec_cart_shipping_input_text {
	width: 220px;
	border: 1px solid #c4c4c4;
}

.ec_cart_shipping_row select.ec_cart_shipping_input_text {
	width:240px;
}
.ec_cart_shipping_row_error {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.ec_cart_shipping_row_error .ec_cart_shipping_label {
	width: 120px;
	float: left;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: [content_font];
	line-height: 48px;
}
.ec_cart_shipping_row_error .ec_cart_shipping_input {
	width: 220px;
	float: left;
	text-align: left;
}
.ec_cart_shipping_row_error .ec_cart_shipping_input_text {
	width:220px;
	background-color: #700909;
	border: 1px solid #c4c4c4;
}
.ec_cart_shipping_row_error select.ec_cart_shipping_input_text{
	width:240px;
	background-color: #700909;
	border: 1px solid #c4c4c4;
}
/* END EC CART shipping STYLE*/